[2009-09-08 16:52] getodk-bot opened #77 "remove branches out of core repos"
Originally reported by: **Yaw Anokwa (Bitbucket: [yanokwa](https://bitbucket.org/yanokwa), GitHub: [yanokwa](https://github.com/yanokwa))**

----------------------------------------

<<user jjackson>> says, "We should remove the branch in Core. Core repos should never contain branches. Also, it would appear that the documentation for getting started is not working as a result on this problem."

--

[2009-09-08 16:55] getodk-bot opened #78 "fail gracefully when encountering an unknown function"
Originally reported by: **Yaw Anokwa (Bitbucket: [yanokwa](https://bitbucket.org/yanokwa), GitHub: [yanokwa](https://github.com/yanokwa))**

----------------------------------------

When loading a form with arbitrary function calls, javarosa dies with an unhandled exception.
example where review() is the arbitrary function:

    E/AndroidRuntime( 743): Uncaught handler: thread main exiting due to

[2009-09-08 16:56] opendatakit-bot opened #79 "support ranked selections"
Originally reported by: **Yaw Anokwa (Bitbucket: [yanokwa](https://bitbucket.org/yanokwa), GitHub: [yanokwa](https://github.com/yanokwa))**

----------------------------------------

it would be nice to support questions that can ask: "please rank the following options from 1 to n".

----------------------------------------
- Bitbucket: https://bitbucket.org/javarosa/javarosa/issue/3

[2009-09-10 15:20] getodk-bot opened #80 "nested repeat ignores jr:count"
Originally reported by: **Yaw Anokwa (Bitbucket: [yanokwa](https://bitbucket.org/yanokwa), GitHub: [yanokwa](https://github.com/yanokwa))**

----------------------------------------

if you specify a jr:count and a jr:noaddremove="true()" on repeat x nested inside a repeat y, the repeat x will repeat forever.

removing jr:noaddremove has no effect on this bug.

------------------------------------

[2009-09-24 00:12] getodk-bot opened #81 "[itext:n] appearing in restored instances"
Originally reported by: **Yaw Anokwa (Bitbucket: [yanokwa](https://bitbucket.org/yanokwa), GitHub: [yanokwa](https://github.com/yanokwa))**

----------------------------------------

if you fill out a form with itext data for answers and restore it from xml, the answers displayed are "[itext:0]".

we discovered and fixed this in odk (see http://code.google.com/p/open-data-kit/issues/detail?id=45),

[2009-09-29 19:12] getodk-bot opened #82 "xforms parser should ensure timestamps are bound to datetime"
Originally reported by: **Yaw Anokwa (Bitbucket: [yanokwa](https://bitbucket.org/yanokwa), GitHub: [yanokwa](https://github.com/yanokwa))**

----------------------------------------

if timestamps are not bound to dateTime, they will be likely default to null when restoring from saved data or anytime XFormAnswerDataParser:getAnswerData is called.

    <bind nodeset="/d/ts" type="dateTime" jr:prelo

[2009-10-16 13:59] getodk-bot opened #83 "fix validator repository"
Originally reported by: **Brian DeRenzi (Bitbucket: [bderenzi](https://bitbucket.org/bderenzi), GitHub: [bderenzi](https://github.com/bderenzi))**

----------------------------------------

move validator and shellformtest to javarosa-validator repository

----------------------------------------
- Bitbucket: https://bitbucket.org/javarosa/javarosa/issue/7

[2009-10-16 14:06] getodk-bot opened #84 "change name of javarosa-extras to javarosa-tools"
Originally reported by: **Munaf Sheikh (Bitbucket: [munafsheikh](https://bitbucket.org/munafsheikh), GitHub: [munafsheikh](https://github.com/munafsheikh))**

----------------------------------------

change name of javarosa-extras to javarosa-tools

----------------------------------------
- Bitbucket: https://bitbucket.org/javarosa/javarosa/issue/8

[2009-10-16 14:07] getodk-bot opened #85 "rename javarosa-extras"
Originally reported by: **Brian DeRenzi (Bitbucket: [bderenzi](https://bitbucket.org/bderenzi), GitHub: [bderenzi](https://github.com/bderenzi))**

----------------------------------------

change name of javarosa-extras to javarosa-tools

----------------------------------------
- Bitbucket: https://bitbucket.org/javarosa/javarosa/issue/9

[2009-10-16 14:14] getodk-bot opened #86 "from j2merosa-examples, move all the projects that aren't demo to a dimagi repo for the demo, have it build off of JARs"
Originally reported by: **Munaf Sheikh (Bitbucket: [munafsheikh](https://bitbucket.org/munafsheikh), GitHub: [munafsheikh](https://github.com/munafsheikh))**

----------------------------------------

----------------------------------------
- Bitbucket: https://bitbucket.org/javarosa/javarosa/issue/10

[2009-10-16 14:22] getodk-bot opened #87 "remove profile project"
Originally reported by: **Munaf Sheikh (Bitbucket: [munafsheikh](https://bitbucket.org/munafsheikh), GitHub: [munafsheikh](https://github.com/munafsheikh))**

----------------------------------------

----------------------------------------
- Bitbucket: https://bitbucket.org/javarosa/javarosa/issue/11

[2009-10-16 14:23] opendatakit-bot opened #88 "email the group with the list of project steering committee members"
Originally reported by: **Munaf Sheikh (Bitbucket: [munafsheikh](https://bitbucket.org/munafsheikh), GitHub: [munafsheikh](https://github.com/munafsheikh))**

----------------------------------------

----------------------------------------
- Bitbucket: https://bitbucket.org/javarosa/javarosa/issue/12

[2009-10-16 14:24] getodk-bot opened #89 "PSC to vote on gatekeepers."
Originally reported by: **Munaf Sheikh (Bitbucket: [munafsheikh](https://bitbucket.org/munafsheikh), GitHub: [munafsheikh](https://github.com/munafsheikh))**

----------------------------------------

----------------------------------------
- Bitbucket: https://bitbucket.org/javarosa/javarosa/issue/13

[2009-10-16 14:24] getodk-bot opened #90 "eclipse formatter file and errors/warnings setup in eclipse"
Originally reported by: **Munaf Sheikh (Bitbucket: [munafsheikh](https://bitbucket.org/munafsheikh), GitHub: [munafsheikh](https://github.com/munafsheikh))**

----------------------------------------

----------------------------------------
- Bitbucket: https://bitbucket.org/javarosa/javarosa/issue/14

[2009-10-16 14:25] getodk-bot opened #91 "propose best practices for code writing"
Originally reported by: **Munaf Sheikh (Bitbucket: [munafsheikh](https://bitbucket.org/munafsheikh), GitHub: [munafsheikh](https://github.com/munafsheikh))**

----------------------------------------

----------------------------------------
- Bitbucket: https://bitbucket.org/javarosa/javarosa/issue/15

[2009-10-16 14:26] getodk-bot opened #92 "checklist for code reviews (including checking that they are approved open source people)"
Originally reported by: **Munaf Sheikh (Bitbucket: [munafsheikh](https://bitbucket.org/munafsheikh), GitHub: [munafsheikh](https://github.com/munafsheikh))**

----------------------------------------

----------------------------------------
- Bitbucket: https://bitbucket.org/javarosa/javarosa/issue/16

[2009-10-16 14:27] getodk-bot opened #93 "contributors agreement"
Originally reported by: **Munaf Sheikh (Bitbucket: [munafsheikh](https://bitbucket.org/munafsheikh), GitHub: [munafsheikh](https://github.com/munafsheikh))**

----------------------------------------

----------------------------------------
- Bitbucket: https://bitbucket.org/javarosa/javarosa/issue/17

[2009-10-16 14:27] getodk-bot opened #94 "change JR prefix stuff to OR prefix"
Originally reported by: **Munaf Sheikh (Bitbucket: [munafsheikh](https://bitbucket.org/munafsheikh), GitHub: [munafsheikh](https://github.com/munafsheikh))**

----------------------------------------

----------------------------------------
- Bitbucket: https://bitbucket.org/javarosa/javarosa/issue/18

[2009-10-16 14:28] opendatakit-bot opened #95 "look into the device benchmarking stuff"
Originally reported by: **Munaf Sheikh (Bitbucket: [munafsheikh](https://bitbucket.org/munafsheikh), GitHub: [munafsheikh](https://github.com/munafsheikh))**

----------------------------------------

----------------------------------------
- Bitbucket: https://bitbucket.org/javarosa/javarosa/issue/19

[2009-10-16 14:30] getodk-bot opened #96 "add support for <label lang="xxx"> for XForm internationalization"
Originally reported by: **Munaf Sheikh (Bitbucket: [munafsheikh](https://bitbucket.org/munafsheikh), GitHub: [munafsheikh](https://github.com/munafsheikh))**

----------------------------------------

----------------------------------------
- Bitbucket: https://bitbucket.org/javarosa/javarosa/issue/20

[2009-10-16 14:30] getodk-bot opened #97 "work on internationalization to make it as friendly as polish to use. make sure it is debugged? determine which services will become factory and which will be singletons)"
Originally reported by: **Munaf Sheikh (Bitbucket: [munafsheikh](https://bitbucket.org/munafsheikh), GitHub: [munafsheikh](https://github.com/munafsheikh))**

----------------------------------------

----------------------------------------
- Bitbucket: https://bitbucket.org/javarosa/javarosa/issue/21

[2009-10-16 14:31] opendatakit-bot opened #98 "public facing web site for javarosa"
Originally reported by: **Munaf Sheikh (Bitbucket: [munafsheikh](https://bitbucket.org/munafsheikh), GitHub: [munafsheikh](https://github.com/munafsheikh))**

----------------------------------------

----------------------------------------
- Bitbucket: https://bitbucket.org/javarosa/javarosa/issue/22

[2009-10-16 14:31] opendatakit-bot opened #99 "investigate blog for javarosa"
Originally reported by: **Munaf Sheikh (Bitbucket: [munafsheikh](https://bitbucket.org/munafsheikh), GitHub: [munafsheikh](https://github.com/munafsheikh))**

----------------------------------------

----------------------------------------
- Bitbucket: https://bitbucket.org/javarosa/javarosa/issue/23

[2009-10-16 14:32] opendatakit-bot opened #100 "FormEntry Core API"
Originally reported by: **Munaf Sheikh (Bitbucket: [munafsheikh](https://bitbucket.org/munafsheikh), GitHub: [munafsheikh](https://github.com/munafsheikh))**

----------------------------------------

----------------------------------------
- Bitbucket: https://bitbucket.org/javarosa/javarosa/issue/24

[2009-10-16 14:32] opendatakit-bot opened #101 "J2MERosa Core API"
Originally reported by: **Munaf Sheikh (Bitbucket: [munafsheikh](https://bitbucket.org/munafsheikh), GitHub: [munafsheikh](https://github.com/munafsheikh))**

----------------------------------------

----------------------------------------
- Bitbucket: https://bitbucket.org/javarosa/javarosa/issue/25

[2009-10-16 14:33] opendatakit-bot opened #102 "formDef/XForm model & parsing API"
Originally reported by: **Munaf Sheikh (Bitbucket: [munafsheikh](https://bitbucket.org/munafsheikh), GitHub: [munafsheikh](https://github.com/munafsheikh))**

----------------------------------------

----------------------------------------
- Bitbucket: https://bitbucket.org/javarosa/javarosa/issue/26

[2009-10-16 14:33] opendatakit-bot opened #103 "Transport layer API"
Originally reported by: **Munaf Sheikh (Bitbucket: [munafsheikh](https://bitbucket.org/munafsheikh), GitHub: [munafsheikh](https://github.com/munafsheikh))**

----------------------------------------

----------------------------------------
- Bitbucket: https://bitbucket.org/javarosa/javarosa/issue/27

[2009-10-16 14:34] opendatakit-bot opened #104 "Storage API"
Originally reported by: **Munaf Sheikh (Bitbucket: [munafsheikh](https://bitbucket.org/munafsheikh), GitHub: [munafsheikh](https://github.com/munafsheikh))**

----------------------------------------

----------------------------------------
- Bitbucket: https://bitbucket.org/javarosa/javarosa/issue/28

[2009-10-16 14:35] opendatakit-bot opened #105 "standards for openRosa"
Originally reported by: **Munaf Sheikh (Bitbucket: [munafsheikh](https://bitbucket.org/munafsheikh), GitHub: [munafsheikh](https://github.com/munafsheikh))**

----------------------------------------

----------------------------------------
- Bitbucket: https://bitbucket.org/javarosa/javarosa/issue/29

[2009-10-16 14:44] getodk-bot opened #106 "add support for XForm internationalization"
Originally reported by: **Munaf Sheikh (Bitbucket: [munafsheikh](https://bitbucket.org/munafsheikh), GitHub: [munafsheikh](https://github.com/munafsheikh))**

----------------------------------------

for <label lang="xxx">

----------------------------------------
- Bitbucket: https://bitbucket.org/javarosa/javarosa/issue/30

[2009-10-17 14:37] getodk-bot opened #107 "core crashes on select with no items"
Originally reported by: **Yaw Anokwa (Bitbucket: [yanokwa](https://bitbucket.org/yanokwa), GitHub: [yanokwa](https://github.com/yanokwa))**

----------------------------------------

attached form crashes jr core with nullpointer exception at

    java.lang.NullPointerException
           at org.javarosa.core.model.QuestionDef.localizeSelectMap(QuestionDef.java:259)
           at org.javarosa.xfor

[2009-11-05 11:51] getodk-bot opened #108 "GettingStarted : remove tests or add framework jar"
Originally reported by: **routen (Bitbucket: [routen](https://bitbucket.org/routen), GitHub: [routen](https://github.com/routen))**

----------------------------------------

 j2meunit used by tests in the demo project, but not included with project, causes errors to appear in newbie environment (remove tests?)

----------------------------------------
- Bitbucket: https://bitbucket.org/javarosa/j

[2009-11-05 11:52] getodk-bot opened #109 "GettingStarted: libraries jar must be in /lib for polish task to copy it during build"
Originally reported by: **routen (Bitbucket: [routen](https://bitbucket.org/routen), GitHub: [routen](https://github.com/routen))**

----------------------------------------

 j2merosa-libraries jar seems to need to be in the /lib folder rather than the /tools

----------------------------------------
- Bitbucket: https://bitbucket.org/javarosa/javarosa/issue/33

[2009-11-05 11:54] opendatakit-bot opened #110 "GettingStarted: document where to change paths"
Originally reported by: **routen (Bitbucket: [routen](https://bitbucket.org/routen), GitHub: [routen](https://github.com/routen))**

----------------------------------------

 it needs to be documented where to check/change paths to Polish and WTK

----------------------------------------
- Bitbucket: https://bitbucket.org/javarosa/javarosa/issue/34

[2009-11-05 11:55] opendatakit-bot opened #111 "GettingStarted: ZXlibs assumed, demo project doesn't build"
Originally reported by: **routen (Bitbucket: [routen](https://bitbucket.org/routen), GitHub: [routen](https://github.com/routen))**

----------------------------------------

ZXing libs is currently assumed by the j2merosa-libraries jar, but needs to be obfuscated out?

----------------------------------------
- Bitbucket: https://bitbucket.org/javarosa/javarosa/issue/35

[2009-11-06 15:04] getodk-bot opened #112 "Tweak Transport API to use new Storage API"
Originally reported by: **Anonymous**

----------------------------------------

The new transport API should use the new storage API to leverage the advantages there. The transport API should nolonger store its own data but leave that to the new storage API

----------------------------------------
- Bitbucket: https://bitbucket.org/javarosa/javarosa/issue/36

[2009-12-10 01:05] opendatakit-bot opened #113 "geopoint should support key value pairs"
Originally reported by: **Yaw Anokwa (Bitbucket: [yanokwa](https://bitbucket.org/yanokwa), GitHub: [yanokwa](https://github.com/yanokwa))**

----------------------------------------

currently, geopoint supports longitude, latitude, altitude and accuracy based on the length of the array. ideally, geo related attributes should be available independent of array length.

key value pairs seem like the

[2010-04-06 13:19] opendatakit-bot opened #114 "add line numbers of errors xforms parser"
Originally reported by: **Yaw Anokwa (Bitbucket: [yanokwa](https://bitbucket.org/yanokwa), GitHub: [yanokwa](https://github.com/yanokwa))**

----------------------------------------

on large forms with errors, it's difficult to track down where the error is without a line number.

http://groups.google.com/group/open-data-kit/browse_thread/thread/ae482f849b87580d is an example.

------------------

[2010-04-12 10:16] getodk-bot opened #115 "warning for unrecognized attributes"
Originally reported by: **Drew Roos (Bitbucket: [mrgriscom](https://bitbucket.org/mrgriscom), GitHub: [mrgriscom](https://github.com/mrgriscom))**

----------------------------------------

javarosa should give warnings for any attributes it doesn't recognize inside javarosa/xforms tags.

right now it ignores them silently, so it makes it very hard to detect misspelled or unsupported attributes. f

[2010-07-24 21:13] opendatakit-bot opened #116 "trigger control does not save any data in the instance"
Originally reported by: **Yaw Anokwa (Bitbucket: [yanokwa](https://bitbucket.org/yanokwa), GitHub: [yanokwa](https://github.com/yanokwa))**

----------------------------------------

for the trigger control it seems like jr j2meapp doesn't save anything in the instance.

that is, if i select "ok" after a trigger and i come back to that question, it doesn't remember that i clicked ok. might be good

[2010-07-24 21:15] getodk-bot opened #117 "cannot constrain a bind to check for empty string"
Originally reported by: **Yaw Anokwa (Bitbucket: [yanokwa](https://bitbucket.org/yanokwa), GitHub: [yanokwa](https://github.com/yanokwa))**

----------------------------------------

another issue. <bind nodeset="/data/string1" constraint=". != ''" type="string"/> doesn't seem to work as a constraint. i understand i could use required=true(), but any reason why this doesn't work?

----------------

[2010-07-24 22:01] opendatakit-bot opened #118 "multimedia types aren't really wildcards"
Originally reported by: **Yaw Anokwa (Bitbucket: [yanokwa](https://bitbucket.org/yanokwa), GitHub: [yanokwa](https://github.com/yanokwa))**

----------------------------------------

when parsing the media type, "image/*" is what the javarosa parser is looking for. it suggests that image/jpeg would work but it doesn't. maybe we can do an image/default and let the device decide what format it wants

[2010-08-24 07:48] getodk-bot opened #119 "relevancy bug in nested groups with relevancy conditions based off calculated nodes"
Originally reported by: **Drew Roos (Bitbucket: [mrgriscom](https://bitbucket.org/mrgriscom), GitHub: [mrgriscom](https://github.com/mrgriscom))**

----------------------------------------

i've discovered what i believe to be a bug in the propogation of chained conditions/relevancy. take the following form:

==========

    #!xml

    <h:html xmlns:h="http://www.w3.org/1999/xhtml"
            xml

[2010-09-28 09:14] opendatakit-bot opened #120 "Ability to delete/update saved form models in JavaRosa 1.0"
Originally reported by: **Natu Lauchande (Bitbucket: [nlauchande](https://bitbucket.org/nlauchande), GitHub: [nlauchande](https://github.com/nlauchande))**

----------------------------------------

----------------------------------------
- Bitbucket: https://bitbucket.org/javarosa/javarosa/issue/44

[2010-12-08 16:48] opendatakit-bot opened #121 "ImageChooserWidget does not activate camera"
Originally reported by: **Acellam Guy (Bitbucket: [mistaguy](https://bitbucket.org/mistaguy), GitHub: [mistaguy](https://github.com/mistaguy))**

----------------------------------------

The image widget does not activate the camera. am used a couple of Nokia phone of which N95 is among

----------------------------------------
- Bitbucket: https://bitbucket.org/javarosa/javarosa/issue/45

[2011-06-11 06:34] opendatakit-bot opened #122 "Core crashes while displaying a group container without child's"
Originally reported by: **Anonymous**

----------------------------------------

Core code unable to get the appearance of group when there are no childs

----------------------------------------
- Bitbucket: https://bitbucket.org/javarosa/javarosa/issue/46

[2011-07-22 14:41] getodk-bot opened #123 "bind datatype 'long' can't be deserialized"
Originally reported by: **Anonymous**

----------------------------------------

After storing an unsent form that holds a input field of datatype 'long', i.e.

<bind nodeset="/data/smsblock/mobile" type="long" required="true()" constraint=". &gt; 10000000000 and . &lt; 19999999999" jr:constraintMsg="Number must be 11 digits."/>

 the form can't be opened again, neither can the 'saved forms' list,

[2011-07-22 14:50] opendatakit-bot opened #124 "Variable ${0} not being replaced in confirmation message sending.status.success"
Originally reported by: **Mathias Conradt (Bitbucket: [mathiasconradt](https://bitbucket.org/mathiasconradt), GitHub: [mathiasconradt](https://github.com/mathiasconradt))**

----------------------------------------

When sending a form via SMS, the placeholder ${0} in message:

//sending.status.success = Successfully Submitted. Today we have received ${0} forms from you.
//

is not being replaced

[2011-08-29 13:02] opendatakit-bot opened #125 "need ability to load xforms via usb"
Originally reported by: **apoku (Bitbucket: [apoku](https://bitbucket.org/apoku), GitHub: [apoku](https://github.com/apoku))**

----------------------------------------

Specifically when dynamically loading any number of forms, it is difficult to have the full JR experience on phones without GPRS service. As of now, once JR has been installed on the phone, the only dynamic option for loading new

[2011-10-06 01:43] getodk-bot opened #126 "trailing whitespace not removed from instances"
Originally reported by: **Yaw Anokwa (Bitbucket: [yanokwa](https://bitbucket.org/yanokwa), GitHub: [yanokwa](https://github.com/yanokwa))**

----------------------------------------

according to the w3 spec, trailing white spaces needs to be removed.

    <trailing_whitespace>
    	trailing white space
    </trailing_whitespace>

should be the same as

    <trailing_whitespace>trailing white spac

[2011-10-06 01:44] getodk-bot opened #127 "no output text in hints"
Originally reported by: **Yaw Anokwa (Bitbucket: [yanokwa](https://bitbucket.org/yanokwa), GitHub: [yanokwa](https://github.com/yanokwa))**

----------------------------------------

we support output text in labels, but not in hints.

----------------------------------------
- Bitbucket: https://bitbucket.org/javarosa/javarosa/issue/51

[2011-10-21 19:51] getodk-bot opened #128 "add support for open select one in prompts"
Originally reported by: **Yaw Anokwa (Bitbucket: [yanokwa](https://bitbucket.org/yanokwa), GitHub: [yanokwa](https://github.com/yanokwa))**

----------------------------------------

== carl ==
It appears that javarosa will accept any answer to a select1 question, even those not in the specified list (imagine a non-standard select UI). The answer will be there when you navigate and will also be th

[2011-10-26 04:58] opendatakit-bot opened #129 "core produces corrupt formdef"
Originally reported by: **Yaw Anokwa (Bitbucket: [yanokwa](https://bitbucket.org/yanokwa), GitHub: [yanokwa](https://github.com/yanokwa))**

----------------------------------------

"Hello ODK,
  attached is a survey designed using purcforms. I ran it on ODK Collect 1.5 and got some strange behaviour. It loads fine but when you save it after a question or two and then go to Continue Saved Form to

[2011-10-29 20:47] getodk-bot opened #130 "<value/> tags break form processing"
Originally reported by: **Yaw Anokwa (Bitbucket: [yanokwa](https://bitbucket.org/yanokwa), GitHub: [yanokwa](https://github.com/yanokwa))**

----------------------------------------

javarosa throws a npe on processing forms with <value/> for empty values. it prefers <value></value>.

    java.lang.NullPointerException
    	at org.javarosa.xform.parse.XFormParser.parseItem(XFormParser.java:899)

[2011-11-02 08:24] opendatakit-bot opened #131 ""select question has no choices" error message is incomplete"
Originally reported by: **Yaw Anokwa (Bitbucket: [yanokwa](https://bitbucket.org/yanokwa), GitHub: [yanokwa](https://github.com/yanokwa))**

----------------------------------------

**What steps will reproduce the problem?
**

Get a form that has a select1 with no choices. Let the select1 field be "my_select". Try to start a new form with that form

**What is the expected output? **

The error me

[2011-11-02 11:20] getodk-bot opened #132 "catch bad data types in calculations"
Originally reported by: **Yaw Anokwa (Bitbucket: [yanokwa](https://bitbucket.org/yanokwa), GitHub: [yanokwa](https://github.com/yanokwa))**

----------------------------------------

http://code.google.com/p/opendatakit/issues/detail?id=356

if you add a calculate="200 div 100" to an geopoint (or a integer) node, there will be class cast exception at some point because that calculation isn't valid

[2011-11-18 15:21] getodk-bot opened #133 "relevancy is not calculated correctly when mixing looped groups with other nodes"
Originally reported by: **Chris Wilson (Bitbucket: [gcc111](https://bitbucket.org/gcc111), GitHub: [gcc111](https://github.com/gcc111))**

----------------------------------------

When relevancy affects a looped group and another question, it's only applied to the looped group, not the other question.

test at: https://bitbucket.org/gcc111/javarosa/changeset/1ba25fae31c2

------------------------

[2012-02-14 23:15] opendatakit-bot opened #134 "jr count relevance"
Originally reported by: **Yaw Anokwa (Bitbucket: [yanokwa](https://bitbucket.org/yanokwa), GitHub: [yanokwa](https://github.com/yanokwa))**

----------------------------------------

https://groups.google.com/forum/?fromgroups#!topic/opendatakit/nHB7K9PIoYs

The second was that the form used "jr:count=" for a repeat and referenced a node that had no answer entered when the user tried to save.  Thi

[2012-03-08 06:17] opendatakit-bot opened #135 "jr:count in two nested groups"
Originally reported by: **aurdipas (Bitbucket: [aurdipas](https://bitbucket.org/aurdipas), GitHub: [aurdipas](https://github.com/aurdipas))**

----------------------------------------

What steps will reproduce the problem?
1. create a form with 2 nested group one inside the other.
2. First group is repeated n>1 times where n is a value given to a previous question
3. now group 2 should be repeate

[2012-04-17 03:05] opendatakit-bot opened #136 "jr:count is not updated"
Originally reported by: **Yaw Anokwa (Bitbucket: [yanokwa](https://bitbucket.org/yanokwa), GitHub: [yanokwa](https://github.com/yanokwa))**

----------------------------------------

Originally filed at http://code.google.com/p/opendatakit/issues/detail?id=555

I'm using jr:count and jr:noAddRemove to limit the number of repeat question like following:

    #!xml

    <group>
           <label>Nam

[2012-04-17 03:07] opendatakit-bot opened #137 "regex failing"
Originally reported by: **Yaw Anokwa (Bitbucket: [yanokwa](https://bitbucket.org/yanokwa), GitHub: [yanokwa](https://github.com/yanokwa))**

----------------------------------------

Originally filed at http://code.google.com/p/opendatakit/issues/detail?id=546

"I have tried ^[0-9]{10}$ (type is string) to match exactly 10 digits and it works fine except when the first digit is zero. Have tried on

[2012-04-17 03:45] getodk-bot opened #138 "geopoint concatenation failing"
Originally reported by: **Yaw Anokwa (Bitbucket: [yanokwa](https://bitbucket.org/yanokwa), GitHub: [yanokwa](https://github.com/yanokwa))**

----------------------------------------

"Is there a way to calculate/concatenate something, inside a form, that includes GPS locations?  I keep getting FC errors.

I know how to set the xml up and use concatenation - I want to know about using GPS specifica

[2012-04-22 18:41] getodk-bot opened #139 "Core crashes on language change"
Originally reported by: **Yaw Anokwa (Bitbucket: [yanokwa](https://bitbucket.org/yanokwa), GitHub: [yanokwa](https://github.com/yanokwa))**

----------------------------------------

Originally filed at http://code.google.com/p/opendatakit/issues/detail?id=562

E/AndroidRuntime( 3767): FATAL EXCEPTION: main
E/AndroidRuntime( 3767): org.javarosa.core.util.NoLocalizedTextException: Error loading loc

[2012-06-30 02:05] getodk-bot opened #140 "empty top-level group causes crash"
Originally reported by: **Mitch Sundt (Bitbucket: [m.sundt](https://bitbucket.org/m.sundt), GitHub: Unknown)**

----------------------------------------

This should probably be caught in ODK Validate.

Attached form, when processed and you step to the next event twice, will cause a NullPointer exception.

If you run it using the javarosa-pending tree with Clayton's latest refactoring, it is at:

[2012-07-04 17:53] getodk-bot opened #141 "sum() of empty nodes or nodeset with at least one empty node"
Originally reported by: **Anonymous**

----------------------------------------

sum(nodes with values: 1, empty) = NaN (conforms to XPath 1.0 spec)
sum(nodes with values: all empty) = 0 (deviates from XPath)

One of the two results should probably be treated as a bug.

see: https://www.commcarehq.org/webforms/enterall/320 for a quick manual test (submit to see the sum)

--------------------------

[2012-08-28 18:49] getodk-bot opened #142 "FormDef::deleteRepeat causes NullPointerException -- erroneous multiplicity adjustments"
Originally reported by: **Mitch Sundt (Bitbucket: [m.sundt](https://bitbucket.org/m.sundt), GitHub: Unknown)**

----------------------------------------

This exists in javarosa and javarosa-pending.

https://bitbucket.org/javarosa/javarosa/src/8acbd7900f03/core/src/org/javarosa/core/model/FormDef.java

lines 293-299:
                // update multiplicities of other child nodes
                fo

[2013-02-04 20:21] opendatakit-bot opened #143 "trigger evaluation tree construction leads to unexpected behavior with random()"
Originally reported by: **Mitch Sundt (Bitbucket: [m.sundt](https://bitbucket.org/m.sundt), GitHub: Unknown)**

----------------------------------------

If you have a simple form with 3 random fields:
<model>
<instance>
  <data id="rtest">
    <r1/>
    <r2/>
    <r3/>
   </data>
  <bind calculate="random()" nodeset="/data/r1" type="decimal" />
  <bind calculate="random()" nodeset="/data/r2" type

[2013-04-18 18:20] opendatakit-bot opened #144 "Time component of a dateTime is not accessible in calculates or displays."
Originally reported by: **Mitch Sundt (Bitbucket: [m.sundt](https://bitbucket.org/m.sundt), GitHub: Unknown)**

----------------------------------------

1. define a datetime field -- e.g., start preload parameter.
2. attempt to display this.

You should be able to display the time portion of this.
But only the date portion is accessible.

format-date() also doesn't work -- the time shows as 00:00

[2014-05-14 18:48] getodk-bot opened #145 "jr:count null or 0 with repeats"
Originally reported by: **Anonymous**

----------------------------------------

The form is coded to have an int field and then loop through a series of questions based on what number was entered into that field using jr:count (that is, if the user enters '3' it will loop 3 times). This works for all cases except when the user enters '0' or skips the question (so -> null). In that case, the repea

[2014-09-03 06:29] getodk-bot opened #146 "SubmissionTransportHelper is missing a parameter in new SubmissionProfile"
Originally reported by: **Anonymous**

----------------------------------------

At line 23 of org.javarosa.services.transport.SubmissionTransportHelper, new SubmissionProfile() is missing a parameter.

----------------------------------------
- Bitbucket: https://bitbucket.org/javarosa/javarosa/issue/70

[2014-09-05 08:35] opendatakit-bot opened #147 "consuming the javarosa library"
Originally reported by: **ant cosentino (Bitbucket: [antino](https://bitbucket.org/antino), GitHub: [antino](https://github.com/antino))**

----------------------------------------

i've cloned the repo and begun assessing the source to try and wrap my head around the way it's intended to be used. the problem is that the library is inconsistently documented within the source code.

from what i hav

[2014-10-13 11:59] opendatakit-bot opened #148 "Need help in JavaRosa"
Originally reported by: **Anki Reddy (Bitbucket: [anki_reddy](https://bitbucket.org/anki_reddy), GitHub: Unknown)**

----------------------------------------

Dear Team,
Currently we are using Javarosa in mobile devices to parse X forms.We want to use these X forms in Web-browser. We want to know how can we render these Xforms in browser.

We need to parse Xforms in browser using .Net framework.
C

[2016-01-06 05:01] getodk-bot opened #149 "Download Finalised Form"
Originally reported by: **sanjay rangani (Bitbucket: [sanju2145](https://bitbucket.org/sanju2145), GitHub: Unknown)**

----------------------------------------

dear team please help me
i want to download all finalized from from aggregate server and show to in android platform can its possible if yes then how

 sanjay patel
thanx to all team member

----------------------------------------
- Bitbu

[2016-09-05 18:26] getodk-bot opened #558 "Boolean values not evaluated as strings"
<a href="https://github.com/mitchellsundt"><img src="https://avatars.githubusercontent.com/u/2281171?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [mitchellsundt](https://github.com/mitchellsundt)**
_Thursday Jul 09, 2015 at 19:46 GMT_
_Originally opened as https://github.com/opendatakit/opendatakit/issues/1136 (0 comment(s))_

---

Originally reported on Google Code w

[2016-11-23 18:31] opendatakit-bot opened #1 "autocomplete should allow non-list values"
<a href="https://github.com/mitchellsundt"><img src="https://avatars.githubusercontent.com/u/2281171?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [mitchellsundt](https://github.com/mitchellsundt)**
_Thursday Jul 09, 2015 at 18:08 GMT_
_Originally opened as https://github.com/opendatakit/opendatakit/issues/290 (8 comment(s))_

----

Originally reported on Google Code w

[2016-11-23 18:31] opendatakit-bot opened #2 "add support for multi-lingual outputs"
<a href="https://github.com/mitchellsundt"><img src="https://avatars.githubusercontent.com/u/2281171?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [mitchellsundt](https://github.com/mitchellsundt)**
_Thursday Jul 09, 2015 at 18:31 GMT_
_Originally opened as https://github.com/opendatakit/opendatakit/issues/449 (2 comment(s))_

----

Originally reported on Google Code w

[2016-11-23 18:31] opendatakit-bot opened #3 "Count repeat instances not working"
<a href="https://github.com/mitchellsundt"><img src="https://avatars.githubusercontent.com/u/2281171?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [mitchellsundt](https://github.com/mitchellsundt)**
_Thursday Jul 09, 2015 at 18:44 GMT_
_Originally opened as https://github.com/opendatakit/opendatakit/issues/540 (5 comment(s))_

----

Originally reported on Google Code w

[2016-11-23 18:32] opendatakit-bot opened #4 "Add abs() support to JavaROSA"
<a href="https://github.com/mitchellsundt"><img src="https://avatars.githubusercontent.com/u/2281171?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [mitchellsundt](https://github.com/mitchellsundt)**
_Thursday Jul 09, 2015 at 19:39 GMT_
_Originally opened as https://github.com/opendatakit/opendatakit/issues/999 (1 comment(s))_

----

Originally reported on Google Code w

[2016-11-23 18:32] opendatakit-bot opened #5 "round(num,2) not rounding"
<a href="https://github.com/mitchellsundt"><img src="https://avatars.githubusercontent.com/u/2281171?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [mitchellsundt](https://github.com/mitchellsundt)**
_Thursday Jul 09, 2015 at 19:41 GMT_
_Originally opened as https://github.com/opendatakit/opendatakit/issues/1030 (0 comment(s))_

----

Originally reported on Google Code

[2016-12-20 15:05] yanokwa opened #6 "Less than symbol only renders when followed by a space"
If you have `< 1` in a label or hint, it renders properly.
If you have `<1` (note the lack of space), it does not render properly.

[less-than-bug.xlsx](https://github.com/opendatakit/javarosa/files/664014/less-than-bug.xlsx)

[2017-02-06 07:37] lognaturel opened #10 "Map the autocomplete alias to search"
See XLSForm/xlsform.github.io#79.

[2017-02-06 07:45] lognaturel commented on #10
Ack, this `search` is an appearance which is passed through to Collect. Filed there as opendatakit/collect#386

[2017-02-06 07:45] #10 closed

[2017-03-09 10:01] grzesiek2010 opened #11 "Daylight saving gap at midnight"
When working on [Daylight saving gap](https://github.com/opendatakit/collect/issues/356) and [Daylight saving gap test](https://github.com/opendatakit/collect/pull/458) I noticed a bug in Javarosa.

The problem is in [this method](https://github.com/opendatakit/javarosa/blob/master/core/src/org/javarosa/core/model/utils/DateUtils.java#L116). When we pass 01/01/1960 00:00:00 in Nairobi timezone (th

[2017-03-16 21:52] yanokwa opened #15 "Submit JavaRosa to Maven"
http://central.sonatype.org/pages/ossrh-guide.html

[2017-03-16 22:13] yanokwa commented on #15
I've started this process...

[2017-03-17 14:14] lognaturel opened #16 "Add support for external secondary instances"
#### Software versions
JavaRosa v2016-04-21

#### Problem description
The status of external secondary instance support is unknown.

[External secondary instances](https://opendatakit.github.io/xforms-spec/#secondary-instances---external) are now part of the ODK XForms spec. As discussed in opendatakit/xforms-spec#50, there is at least partial support for the concept in JavaRosa currently.

I thin

[2017-03-17 14:34] lognaturel opened #17 "Explore replacing custom XPath engine with off-the-shelf library"
#### Software versions
JavaRosa v2016-04-21

#### Problem description
opendatakit/xforms-spec#96 and opendatakit/xforms-spec#95 have been exploring including a more standard and complete XPath API in the ODK XForms spec (XQuery is a superset of XPath). There are some practical considerations to take into account -- for example, browsers support XPath 1.0 natively so sticking to XPath 1.0 makes it

[2017-03-17 14:57] yanokwa commented on #17
@ctsims @mrgriscom Bit of an archaeological question for you. Any idea why an off-the-shelf XPath library wasn't used in JR?

[2017-03-17 20:06] yanokwa commented on #15
Configuration has been prepared. Waiting on #14 to start preparing pom.xml file.

[2017-03-20 17:00] yanokwa commented on #15
Snapshots and staging are now working!
https://oss.sonatype.org/content/repositories/snapshots/org/opendatakit/opendatakit-javarosa/

[2017-03-20 20:41] ctsims commented on #17
Hey Yaw!

sorry I haven't been keeping up with these, we've been unbelievably bogged
down over here.

JavaRosa was _massively_ constrained by

   - The amount of available Heap Memory (roughly 900->1800 kb)
   - The size of the Jar file (had to be under 1 mb to run as a Nokia app
   originally, later it was bumped up to 2mb by Nokia)
   - The number of Class Files that could fit in permgen. Once y

[2017-03-21 18:48] yanokwa commented on #15
To use JavaRosa in gradle, use this...
[code]

Once we are happy with the snapshots (e.g., https://github.com/opendatakit/validate/pull/26), then we can release 2.1.0 as the first version of ODK JavaRosa!

[2017-03-25 21:27] dcbriccetti commented on #17
“Saxon-HE (home edition) ... provides implementations of ... XPath (2.0, 3.0, and 3.1)....”

Does the XPath library we use need to support XPath 1.0?

[2017-04-04 18:57] dcbriccetti opened #25 "Modernize XFormParser"
Improve such areas as:

- variable access and scope
- unnecessary boxing and unboxing
- old-style for loops
- superfluous use of continue
- invalid doc comments
- duplicate code
- commented-out code
- overly-complex conditional expressions
- redundant casts
- test coverage

[2017-04-08 04:48] dcbriccetti commented on #5
I added a test for this to `XPathEvalTest`, and modified the testing mechanism to no longer silently hide errors caused by unrepresentable floating point numbers, and we now see this:
[code]
The results of the first two, the subtraction and the multiplication, aren’t representable in floating point, as you can see here:
[code]
However, the expected result of the round operation, 14.29, _is_ repres

[2017-04-12 20:44] dcbriccetti commented on #16
I don’t see any evidence of support for external secondary instances in ODK’s JavaRosa. I looked at CommCare’s JavaRosa code and added just a bit of code to ODK’s to recognize the src attribute of the instance element. https://github.com/opendatakit/javarosa/pull/34 .

A next step might be to design a form and some tests, to define what we want to implement.

[2017-04-12 21:34] dcbriccetti commented on #16
Oh boy, it looks like Dimagi had to modify even the XPath code when generalizing FormInstance references to DataInstance (abstract parent of FormInstance and ExternalDataInstance). The concrete FormInstance occurs in more than 26 files in the xpath packgae, according to IDEA. I didn’t get a sense of this magnitude from Clayton Sims when we spoke with him on April 7. My notes from that call include

[2017-04-12 21:40] lognaturel commented on #16
Did you follow the links [here](https://github.com/opendatakit/xforms-spec/issues/50#issuecomment-277174668)? In particular, [the loading of secondary instances](https://github.com/opendatakit/javarosa/blob/3eb73b5c8c1d56b9bd635b1aca6a8e9ab1051fa9/core/src/org/javarosa/xform/parse/XFormParser.java#L439) and [the map they are stored in](https://github.com/opendatakit/javarosa/blob/3eb73b5c8c1d56b9b

[2017-04-12 21:43] dcbriccetti commented on #16
There is support for secondary instances on ODK JavaRosa, but not _external_ ones. Or are you talking about something else?

[2017-04-12 21:49] lognaturel commented on #16
Ah, I see. Ok, so I guess the next question is what is the minimal change needed to handle external ones.

[2017-04-12 22:35] lognaturel commented on #16
To be more specific, CommCare has much stricter performance requirements since case management depends heavily on reading past data and making complex queries over it. I think we could set more modest performance targets if that could allow for a simpler implementation.

From an external functionality standpoint, [this](https://bitbucket.org/javarosa/javarosa/wiki/externalinstances) is what needs

[2017-04-13 03:14] dcbriccetti commented on #16
In 2011, Clayton made this large change, including generalizing FormInstance to DataInstance. Can we ask him if we are looking at a similar change?
https://github.com/dimagi/commcare-core/commit/3bc5c1abe7bec87639baf831637ded6f48ac5839

[2017-04-13 03:26] lognaturel commented on #16
Cool, that looks like where external secondary instances start being supported? With the loading [here](https://github.com/dimagi/commcare-core/blob/3bc5c1abe7bec87639baf831637ded6f48ac5839/core/src/org/javarosa/xform/parse/XFormParser.java#L335)? If you have some specific questions, you can always tag @ ctsims!

[2017-04-13 03:30] dcbriccetti commented on #16
Yes, that’s the place. I tagged @ctsims above. Thanks.

[2017-04-13 03:42] dcbriccetti commented on #16
I’ve managed to change just 28 files, and make the FormInstance to DataInstance change. I’ll commit that in the branch later.

[2017-04-13 13:50] grzesiek2010 opened #36 "Output doesn't work in a text used as a jr:constraintMsg"
[constraintMessageError.xlsx](https://github.com/opendatakit/javarosa/files/919784/constraintMessageError.xlsx)

[2017-04-19 23:22] #4 closed

[2017-04-20 00:31] lognaturel commented on #5
I can't see any obvious reasons it wouldn't have been done that way. It looks like all the required functionality has been in Java since the beginning of Java. It could have maybe been performance in the J2ME days but I can't imagine that'd still be a problem. @mitchellsundt @yanokwa any reason not to use `NumberFormat` for rounding?

[2017-04-20 00:49] yanokwa commented on #5
I don't know offhand.

For what it's worth, here's what CommCare does...
`return new Double(Math.floor(FunctionUtils.toDouble(evaluatedArgs[0]) + 0.5));`

Source: https://github.com/dimagi/commcare-core/blob/master/src/main/java/org/javarosa/xpath/expr/XPathRoundFunc.java

[2017-04-24 23:23] dcbriccetti commented on #5
CommCare’s round takes just one argument. Ours takes 2.
[code]
versus
[code]

[2017-04-25 01:52] dcbriccetti commented on #5
I have implemented a solution. See https://github.com/opendatakit/javarosa/pull/33/commits/7d0e596b1606ba36aac1672a3bc859c1cd3a09ed.

[2017-04-25 06:04] dcbriccetti commented on #16
@ctsims Hi. I wonder if we could meet again, even briefly.

[2017-04-25 17:25] lognaturel opened #39 "Add support for range control"
See opendatakit/xforms-spec#109

[2017-04-25 18:58] lognaturel opened #41 "Add support for contains(), starts-with(), ends-with() functions"
as described in opendatakit/xforms-spec#105

[2017-04-25 22:12] ctsims commented on #16
Hi Dave,

Definitely!

Can we chat again this Friday?

-Clayton

On Tue, Apr 25, 2017 at 2:04 AM, Dave Briccetti <notifications@github.com>
wrote:

[2017-04-25 22:14] dcbriccetti commented on #16
Can I reach you by email or Skype? Mine are daveb@davebsoft.com and “Dave Briccetti”.

[2017-04-25 23:51] dcbriccetti commented on #39
I’m working on this.

[2017-04-26 00:41] yanokwa commented on #15
Closing because the library is now in mavenCentral(). See https://search.maven.org/#search%7Cga%7C1%7Cjavarosa

[2017-04-26 00:42] #15 closed

[2017-04-27 06:36] dcbriccetti commented on #39
What will this look like in Collect? I don’t see a suitable Android widget. Perhaps a `StringNumberWidget` tweaked to allow only values satisfying "start", "end", "step". Perhaps there should be an issue in Collect, and the discussion continued there?

[2017-04-27 15:59] mdudzinski opened #45 "repeat-groups are not respecting the jr:count setting after a change to a lower value"
#### Software versions
All JavaRosa versions

#### Problem description
It's reported in https://opendatakit.org/help/form-design/workarounds/ under "repeat-groups are not respecting the jr:count setting after a change".

Also reported [in ODK Collect issues](https://github.com/opendatakit/collect/issues/868).

#### Steps to reproduce the problem
* Open a form that has a repeat group driven by the

[2017-05-02 14:42] daveycrockett commented on #6
I'm working on this issue now, unless someone else has claimed it!

[2017-05-03 22:19] lognaturel commented on #5
Closed in #33

[2017-05-03 22:23] #5 closed

[2017-05-04 02:35] lognaturel commented on #39
I think opendatakit/collect#105 is the right place to discuss.

[2017-05-04 16:21] mitchellsundt commented on #6
First, make sure that xlsform emits the < as &lt; not as raw "<" character.

Second, Javarosa has some very strange parsing of text to find <output >
substitutions and it also converts these into ${} expressions in the string
-- the code always looked broken to me, and didn't seem to support escaping
these special characters.

Good luck.

On Tue, May 2, 2017 at 7:42 AM, David McCann <notifications

[2017-05-04 16:38] daveycrockett commented on #6
Thanks for the advice!

The form's xml includes the appropriate escape sequence, as expected.  It looks like everything in javarosa is actually parsing it correctly, and the helpText is passed around as the literal String "<1" (which I think is correct) until it gets to https://github.com/opendatakit/collect/blob/master/collect_app/src/main/java/org/odk/collect/android/utilities/TextUtils.java#L99

[2017-05-05 21:32] lognaturel commented on #41
Closed by #42

[2017-05-05 21:32] #41 closed

[2017-05-05 21:53] lognaturel commented on #45
@mdudzinski Thanks for this thorough analysis! A pull request would be fantastic. I haven't carefully thought through the proposed approach yet, did you want some feedback before implementing?

[2017-05-05 22:55] dcbriccetti commented on #39
Notes from 4/27 brief conversation with @ctsims:

- 4/27 meeting, Dave and Clayton
	- Review change for adding range element and control.
		- The message at the bottom appears.
		- The error goes away if I pass these attributes ("start", "end", "step") to parseControl List<String> additionalUsedAtts, but then the attributes don’t get saved in the question additionalAttributes.
		- He thinks ODK ad

[2017-05-05 23:04] dcbriccetti commented on #16
Very brief notes on this topic from my short conversation with @ctsims on 4/27:

- Get next step for bringing in an external secondary instance.
	- Is creating an ExternalDataInstance (as Dimagi did) the right approach for ODK?
		- Yes
	- How to read the file and load into the DOM?
		- Look at their InstanceInitializationFactory
		- In FormDef.initialize pass in something that tells how to turn in

[2017-05-05 23:43] dcbriccetti commented on #39
@mitchellsundt Do you remember what the additionalAttributes in QuestionDef are for?

[2017-05-08 13:27] mdudzinski commented on #45
@lognaturel actually I did the analysis to make it easier for somebody else because I didn't have enough time to work on this. However, if no one wants (or has time) to work on this, I may take this soon. I'd appreciate any feedback I can get. Thanks!

[2017-05-15 15:12] mdudzinski commented on #45
@lognaturel You can assign this to me. Thanks.

[2017-05-15 16:03] lognaturel commented on #45
Awesome, thanks so much! I've got some time blocked off for JavaRosa today so I'll read through your approach and give you any feedback I may have.

[2017-05-15 16:47] lognaturel opened #49 "Timing of the next JavaRosa update + interaction with Aggregate"
I had some very useful back and forth with @mitchellsundt about the JavaRosa update. He reminded me that if we include any significant structural changes, we'll need to update pyxform, the XLSForm web tool and Aggregate in addition to Briefcase, Collect and Validate.

I thought that if we were just adding XPath functions and making bug fixes, we didn't need to update Aggregate but @mitchellsundt m

[2017-05-15 17:36] lognaturel commented on #45
A minimal form to verify this behavior: [counting-repeats.txt](https://github.com/opendatakit/javarosa/files/1001853/counting-repeats.txt)

I think the big question to ask first is whether we do want repeats to disappear in this way. It could potentially mean significant data loss if someone accidentally changed the value to 1 instead of 10, for example. @yanokwa?

We definitely do need to think c

[2017-05-16 07:41] mdudzinski commented on #45
I believe the idea will work better with unlimited repeat groups and can be achieved with no changes in JavaRosa core. Of course it's possible to display all repeat groups on a single screen regardless if they are limited or unlimited but the option to add/delete should be visible only for unlimited ones.
Because you cannot actually delete a group instance from a limited repeat group. It will just

[2017-05-17 13:12] daveycrockett commented on #6
Just adding a comment to bump this.  Does anyone have some input here?  Thanks in advance!

[2017-05-17 16:29] #11 closed

[2017-05-17 19:50] lognaturel commented on #49
I've confirmed that adding XPath functions is no problem as far as Aggregate is concerned. I uploaded the form [trig_functions.txt](https://github.com/opendatakit/javarosa/files/1008930/trig_functions.txt) which includes a couple trig functions and the new `abs` function. I doing this, I realized that the version of JavaRosa that was shipped to Maven was actually based off ee74eb2. So it turns out

[2017-05-18 02:08] lognaturel commented on #45
Sounds good, @mdudzinski, let's see how this works out.

[2017-05-18 21:35] lognaturel commented on #36
What's going on here is that `output` is not recognized when used in a `text` that is used as a `jr:constraintMsg`. See [constraintMessageError.txt](https://github.com/opendatakit/javarosa/files/1012482/constraintMessageError.txt) for a variation of the form that uses the exact same `text` for both the `label` and the `jr:constraintMsg`.

The [XForm spec](https://opendatakit.github.io/xforms-spec/

[2017-05-18 21:56] lognaturel commented on #36
I'll add that as can be seen [here](https://github.com/opendatakit/javarosa/blob/82be6fb967da741e4ceb8ba104e4b74767ffdbdf/src/org/javarosa/xform/parse/XFormParser.java#L979) and [here](https://github.com/opendatakit/javarosa/blob/82be6fb967da741e4ceb8ba104e4b74767ffdbdf/src/org/javarosa/xform/parse/XFormParser.java#L1067), `output` is supported specifically for `label` and `hint` currently. I thin

[2017-05-18 22:43] lognaturel commented on #6
Can you say more about why keeping the escape sequence doesn't seem right to you? What are the down sides?

[2017-05-19 16:16] daveycrockett commented on #6
Separation of concerns, mostly...org.kxml2.kdom.Node.getText() returns unescaped literal text as you'd expect, and it seems like JavaRosa's parser should do the same thing (rather than having knowledge that this text is going to be re-rendered as HTML elsewhere and needs to retain escapes).  Now that I'm typing this out, I think the right thing to do is probably re-escape in collect, either in Tex

[2017-05-19 17:04] lognaturel commented on #6
Ahhh, yes, that makes total sense. So the challenge then is to know when to make this special re-escape happen.

Does `>1` also fail in the same way or not? I'm guessing not because it's not going to be interpreted as a tag but does it cause any other weird outcomes? Presumably if you have something like "The value should be <1 please" you'll end up with "The value should be "? Can there just be a

[2017-05-19 17:35] lognaturel commented on #6
I suppose someone could want <age or something like that. So maybe there's a way to escape any unclosed tags? What does a browser do? Another option might be to leave it as-is and document that the form creator should use a space or an escape sequence?

[2017-05-19 17:50] daveycrockett commented on #6
Both sound like reasonable ideas to me!  I'll poke around and see if there's existing "re-escape" functionality in one of the libraries (doesn't seem too hard)...if/when I've got a solution we can evaluate whether it's simple enough to be worth including, or if we just want to go the documentation route (i.e. "don't use < without whitespace to the right")?

[2017-05-22 14:36] daveycrockett commented on #6
I made an issue (https://github.com/opendatakit/collect/pull/1044) and PR in collect, if we like the proposed fix I'll also add some unit test coverage for the finalized PR.

[2017-05-22 16:31] dcbriccetti commented on #49
Did @mitchellsundt mean that Aggregate would have parse errors on new features even when its JavaRosa jar was updated?

[2017-05-23 01:12] lognaturel commented on #49
We're just trying to figure out the limits of what we can add and use WITHOUT needing to update Aggregate's JR. It looks like adding XPath functions is fine. Probably not so for `range` but we'll need to double check that as well by uploading a form with a range and then uploading a filled out instance.

[2017-05-23 05:46] dcbriccetti opened #52 "Limit and document the public interface"
There are many public types and methods in JavaRosa that could have a more restrictive access level. Knowing that something is not used from outside can allow removing or refactoring it.

Determine exactly what is to be included in the JavaRosa public interface. Restrict access to the rest using access level modifiers, and document the public interface, perhaps using [Doc Comments](http://www.orac

[2017-05-31 17:45] yanokwa opened #58 "Make it easier to validate a form from the command line"
####  Problem
ODK Validate is a [very light wrapper](https://github.com/opendatakit/validate/blob/master/src/org/opendatakit/validate/FormValidator.java#L368) for JavaRosa and it seems like waste for downstream tools (e.g., pyxform) to have to embed ODK Validate just to confirm a form works.

What would be nicer is if we could run JavaRosa on the command line with a path to XML file and get the va

[2017-06-01 03:38] yanokwa opened #59 "substr() returns results in lower-case"
From kderra@gmail.com and https://groups.google.com/d/msg/opendatakit/bzUx6paP8MU/e4W7bOrTxncJ

[2017-06-01 04:17] dcbriccetti commented on #58
Sounds like a good idea.

[2017-06-01 04:22] dcbriccetti commented on #59
Interesting. It looks like it’s not the substr implementation. This test passes:

`testEval("substr('Hello',0, 2)", "He");`

[2017-06-01 06:09] dcbriccetti commented on #39
Should this be closed? The work is done on the JavaRosa side, right?

[2017-06-02 14:40] KDerra commented on #59
[Cascading_indiv_Karim_June2017.xlsx](https://github.com/opendatakit/javarosa/files/1048000/Cascading_indiv_Karim_June2017.xlsx)

Hi Yaw,
I attached a very small test form.
Regards,
Karim

[2017-06-02 17:41] lognaturel opened #60 "Allow http://openrosa.org/xforms namespace for meta"
As shown in [ODK XForms spec examples](https://opendatakit.github.io/xforms-spec/), tags not in the W3C XForms spec should be in the `http://openrosa.org/xforms namespace`, commonly abbreviated to `orx`. In particular, `meta` and all children should really be `orx:meta`, etc.

Collect works fine with that but when I upload a form using the namespace to Aggregate, I get errors. For example, [audit-

[2017-06-02 23:16] lognaturel commented on #6
Closed by opendatakit/collect#1044

[2017-06-02 23:16] #6 closed

[2017-06-02 23:17] lognaturel commented on #39
Yes, thanks!!

[2017-06-02 23:17] #39 closed

[2017-06-05 17:28] mdudzinski commented on #45
@lognaturel I opened a Pull Request for this issue (#61).
I included two unit tests but we'll be testing this internally and I'll let you know once it passes our QA. In mean time, I'll be happy to hear any feedback on the PR. Thanks in advance!

[2017-06-06 13:22] mdudzinski opened #64 "The `round(num, decimalPlaces)` function doesn't work on locales that use comma as the decimal separator."
#### Software versions
JavaRosa since 7d0e596 (PR #33 , Issue #5).

#### Problem description
The `round(num, decimalPlaces)` function doesn't work on locales that use comma as the decimal mark (Polish Locale for example:)).

#### Steps to reproduce the problem
I reproduced this problem by running the test suite on my machine which has PL locale.
The suite crashes with the following information:

[2017-06-07 17:40] #64 closed

[2017-06-09 20:12] dcbriccetti commented on #60
Validate gives more info:

[code]

[2017-06-09 20:25] dcbriccetti commented on #60
I simplified the input to this:
[code]

[2017-06-09 20:52] dcbriccetti commented on #60
Yes, it’s a mismatch in names when trying to expand the reference.

![screen shot 2017-06-09 at 1 46 28 pm](https://user-images.githubusercontent.com/55099/26994016-9a2b6e9e-4d1a-11e7-85d6-2f90b2ada8d0.png)

[2017-06-12 05:33] dcbriccetti commented on #60
I’ll pause for feedback. I believe the latest commits document the problem, and offer one solution. Perhaps we should make a variety of forms that we would like to parse correctly. One thing that made this hard was not assuming that the http://openrosa.org/xforms" prefix is orx. I got it working with anything.

[2017-06-15 16:26] yanokwa opened #71 "Use of rounding fails with error evaluating field"
The forms below passed validation with Validate 1.4.9, but they are failing with Validate 1.5.0 (with JavaRosa 2.2.0).

* [round.xlsx](https://github.com/opendatakit/javarosa/files/1078288/round.xlsx)
* [round.xml.txt](https://github.com/opendatakit/javarosa/files/1078287/round.xml.txt)

[code]

[2017-06-15 18:02] dcbriccetti commented on #71
Interesting! I can take this.

[2017-06-15 18:05] lognaturel commented on #71
Thanks, @dcbriccetti! I took another look at #33 to see if maybe there was something obvious that would have broken there but couldn't find it. Next thing I was going to check "just in case" is whether the locale fix had an impact although that seems unlikely.

[2017-06-15 18:22] dcbriccetti commented on #71
The input to XPathFuncExpr.round is NaN. Is that expected?

[2017-06-15 18:34] lognaturel commented on #71
If all this were working as intended, the input to round should be the result of the division. You know, another thing that would be good to verify is whether it actually worked as expected previously (doing the division of the entered value) or whether it just validated but didn't give the expected response.

[2017-06-15 18:44] dcbriccetti commented on #71
<img width="1247" alt="screen shot 2017-06-15 at 11 42 01 am" src="https://user-images.githubusercontent.com/55099/27196558-c080c928-51bf-11e7-8631-4cb7b8998d12.png">

Making the above change results in Validate now yielding this:
[code]

Shall I keep looking to see why that division results in NaN?

[2017-06-15 18:54] lognaturel commented on #71
I just tried the form with Collect using the latest JavaRosa snapshot from a couple days ago and got the following which I think is correct:
[code]

That suggests the problem is only in validation. I'm surprised `calc` is actually evaluated in validation. What values is it using? Would be good to understand that but I think the problem is fixed with your change.

[2017-06-15 19:04] dcbriccetti commented on #71
Here’s the stacktrace showing how we got to the call to round with NaN, but I haven’t tried to decipher where it’s doing the division and such. Maybe it’s best to leave as a mystery for now, since fixing the ancient, broken NaN check seems to solve the problem.

<img width="768" alt="screen shot 2017-06-15 at 12 01 19 pm" src="https://user-images.githubusercontent.com/55099/27197301-8f7b5d9a-51c2-

[2017-06-15 19:09] lognaturel commented on #71
Works for me. Do you want the joy of letting Barbara know [here](https://forum.opendatakit.org/t/xlsform-with-round-off-function-not-working/6847) that it's fixed and will be released on the 25th. She may also be able to get in touch with the Ona folks and get them to pull the changes earlier.

[2017-06-15 19:38] dcbriccetti commented on #71
Yes, please. Done.

[2017-06-15 19:48] lognaturel commented on #71
Oh, I really don't think there was any apology needed! There's no good reason there should have been a NaN showing up there from Validate. And regardless, we all miss things, especially subtle ones like this.

[2017-06-15 19:52] dcbriccetti commented on #71
It seemed like a nice “customer service” thing to say.

[2017-06-15 19:53] lognaturel commented on #71
😊 Fair enough.

[2017-06-30 15:54] nap2000 opened #76 "Set contents of audit meta element"
#### Problem description
This is a feature request.

The [audit logging feature ](https://github.com/opendatakit/collect/pull/760)recently added to ODK collect is triggered by a form having an "audit" element inside the meta element.
`<n0:meta xmlns:n0="http://openrosa.org/xforms">
    <n0:audit></n0:audit>
</n0:meta> `

If this element is present a csv file, audit.csv, containing the time spent i

[2017-07-06 02:46] lognaturel commented on #60
@mdudzinski Could you please take a look at this issue and proposed approaches #68 and #74? Besides seeming strange, are there other downsides to having a namespace map where #68 puts it? Is there a perhaps even lower-impact way to allow both the standard namespace and the openrosa namespace for `meta` and its children that you can think of?

[2017-07-07 12:18] mdudzinski commented on #60
@lognaturel sure, I'll do this.

[2017-07-10 03:53] #77 closed, assigned to nobody

[2017-07-10 03:53] #80 closed, assigned to nobody

[2017-07-10 03:53] #83 closed, assigned to nobody

[2017-07-10 03:53] #84 closed, assigned to nobody

[2017-07-10 03:54] #85 closed, assigned to nobody

[2017-07-10 03:54] #86 closed, assigned to nobody

[2017-07-10 03:54] #87 closed, assigned to nobody

[2017-07-10 03:54] #89 closed, assigned to nobody

[2017-07-10 03:54] #91 closed, assigned to nobody

[2017-07-10 03:54] #92 closed, assigned to nobody

[2017-07-10 03:54] #93 closed, assigned to nobody

[2017-07-10 03:54] #96 closed, assigned to nobody

[2017-07-10 03:54] #106 closed, assigned to nobody

[2017-07-10 03:54] #108 closed, assigned to nobody

[2017-07-10 03:54] #109 closed, assigned to nobody

[2017-07-10 03:55] #115 closed, assigned to nobody

[2017-07-10 03:55] #117 closed, assigned to nobody

[2017-07-10 03:55] #123 closed, assigned to nobody

[2017-07-10 03:55] #126 closed, assigned to nobody

[2017-07-10 03:55] #127 closed, assigned to nobody

[2017-07-10 03:55] #130 closed, assigned to nobody

[2017-07-10 03:56] #149 closed, assigned to nobody

[2017-07-10 23:33] #148 closed

[2017-07-10 23:33] #147 closed

[2017-07-11 16:49] mdudzinski commented on #60
@lognaturel @dcbriccetti

I agree with @dcbriccetti that passing around the map of URI and prefixes in #74 is really complex.
I personally think that keeping the map in root `TreeElement` is not so bad because it works in the same way as kXML2 does. The `_xmldoc` field holds a reference to its children and at the first level there is an `Element` instance which points to the `<html>` node and only

[2017-07-11 17:25] yanokwa commented on #111
No longer relevant.

[2017-07-11 17:25] #111 closed

[2017-07-11 17:26] yanokwa commented on #121
No longer relevant.

[2017-07-11 17:26] #121 closed

[2017-07-11 17:26] yanokwa commented on #125
No longer relevant.

[2017-07-11 17:26] #125 closed

[2017-07-11 17:27] yanokwa commented on #110
No longer relevant.

[2017-07-11 17:27] #110 closed

[2017-07-11 21:07] lognaturel commented on #49
Big thanks to @mitchellsundt for releasing [Aggregate v1.4.14](https://github.com/opendatakit/opendatakit/wiki/Aggregate-Release-Notes#aggregate-v1414)!

[2017-07-11 21:07] #49 closed

[2017-07-13 00:42] dcbriccetti commented on #60
Hi @mdudzinski. Thanks for looking at this. I like the idea of adding a `prefix` field to `TreeElement` alongside the existing `namespace` field. I think you should try coding it.

One challenge I see (even with the code as it now stands), is that `buildInstanceStructure` is called from several places, including `XFormParser.restoreDataModel`. We don’t have the URI->prefix mapping there. I haven’t

[2017-07-13 13:52] batkinson opened #150 "Enable redirecting stderr and stdout usage without VM-wide effects"
#### Software versions
JavaRosa 2.2.0

Due to the library's direct dependence on `System.out` and `System.err`, and indirect dependence on `System.err` when calling `printStackTrace()` on a `Throwable` object, programs that use the javarosa library have no recourse to reclaim the console streams from its content without redirecting *all* content for the VM.

Ideally, in the future it would be nice

[2017-07-13 13:54] mdudzinski commented on #60
Hi @dcbriccetti.
You're right, thanks for pointing this out. I'm working on this and we'll see what can be done.

Well, I know some parts quite well because I had to deal with them when working on TaroWorks specific issues/features but only some :) I'm still learning as well. TaroWorks uses just a subset of xForm specification so now it's a bit more difficult for me to work with JavaRosa. I also n

[2017-07-13 21:36] lognaturel opened #152 "Implement logging strategy more useful to tools that use the lib"
In #150, @batkinson described some of the problems with with printing to `System.out` and `System.err`. #151 gives clients of the library an opportunity to direct output to other streams. It would be even better to implement logging so that clients can pick the level of logging to see, where to the direct the logging and so on.

Some thought needs to be put into which logging library or bridge to

[2017-07-17 14:47] batkinson commented on #150
This was closed in the PR #151, but commits appeared to be squashed so it wasn't auto-closed.

[2017-07-17 14:47] #150 closed

[2017-07-17 15:05] batkinson commented on #152
For whoever picks this one up, this is likely to just be a matter of picking an acceptable logging library to use across the environments javarosa is used in. I would normally use slf4j-api and leave the actual binding to the client app. We shouldn't be forcing apps to use logging library X just because someone wants to use this library. One thing to be aware of is the bytecode version used and wh

[2017-07-17 15:31] lognaturel commented on #152
Yes, agreed. I initially thought LogBack was also a bridge but it's not, it's the log4j successor. Evidently I don't know much about Java logging.

It's not clear to me what happens if the client (Briefcase) uses Apache Commons Logging and the lib (JavaRosa) uses slf4j. Do the binds happen independently and it Just Works?

[2017-07-17 15:58] mdudzinski commented on #60
@dcbriccetti @lognaturel
Please check #153 where I propose my approach which is based on @dcbriccetti work.

I'm still planning to add one more test (or extend the existing one) to show that `restoreDataModel` method propagates namespaces and their prefixes properly but I need to know if you like this approach.

Let me know if I should go ahead and do the final touches.

[2017-07-17 16:27] batkinson commented on #152
So, the initial motivation for slf4j was to simplify the way that the logging api is bound to the actual library. There's a fair bit of history behind this, but Jakarta Commons Logging (JCL) used (uses) a dynamic method that causes lots of trouble in certain environments, notably JavaEE web applications. Slf4j takes the dead-simple approach of requiring manual selection of the actual binding by th

[2017-07-17 17:05] batkinson commented on #152
One thing I didn't explicitly call out that I should have...

The other (and probably more important) benefit is that commons-logging automatically determines its binding and as does slf4j in its far simpler, but alternative method. Keeping direct JCL usage rather than replacing with jcl-over-slf4j has the disadvantage in that you're relying on two alternative methods selecting the same underlying

[2017-07-17 22:06] lognaturel commented on #152
Thank you so much for that thorough explanation. `slf4j` sounds like the right way to go and it's great to know about `jcl-over-slf4j` as a first step for Briefcase and other systems that use JR.

[2017-07-18 00:36] lognaturel commented on #60
#153 is looking good to me and it's great to see that @dcbriccetti is also on board! The next steps of testing `restoreDataModel` and removing debug logging sound perfect.

[2017-07-18 05:56] dcbriccetti commented on #152
Nice to have such an expert in Java logging. So it’s settled? slf4j, then?

I suggest we do this after we get “phase 1” of external secondary instances merged.

[2017-07-18 15:06] mdudzinski commented on #60
@dcbriccetti @lognaturel
Done. Feel free to review the updated PR.

[2017-07-21 00:36] dcbriccetti commented on #52
[JavaRosa Client Cross Reference.xlsx](https://github.com/opendatakit/javarosa/files/1164067/JavaRosa.Client.Cross.Reference.xlsx)
I created this by processing the output from IDEA’s Analyze Dependencies feature (with a little Scala program I whipped up to process the XML). I want to ensure that this is accurate, so perhaps people who work on the clients could do a quick sanity check. Thanks!

[2017-07-21 10:06] KDerra commented on #59
Dear dcbriccetti,
Pls can you more explain to me how it works ?
Regards,
Karim

[2017-07-21 15:58] dcbriccetti commented on #59
Hi @KDerra. That transformation isn’t happening from substr, so perhaps it is related to $(id).

[2017-07-21 16:14] KDerra commented on #59
Thanks dcbriccetti. another solution?

[2017-07-27 00:45] #60 closed

[2017-07-31 08:28] batkinson opened #158 "count-selected(...) not equal to zero when no items are selected"
#### Software versions
Tested on versions of javarosa used in collect 1.4.16 and 1.8.1

#### Problem description
It appears that the count-selected(...) function doesn't return the value zero when there are no items selected. This makes constraining selections to zero-or-more items impossible (or at least more complicated than you would expect, if possible).

#### Steps to reproduce the problem

U

[2017-08-02 22:10] lognaturel commented on #158
Peculiar. I took a quick look through and am not seeing any reason it wouldn't be 0. I didn't think through the `DateUtils.split` method in detail, though. @dcbriccetti how about looking at this one after #51 and #157?

[2017-08-03 02:19] dcbriccetti commented on #158
OK. Have you thought any more about using “assign to”? It makes it easier for me to track what I’m working on.

[2017-08-04 15:47] lognaturel commented on #145
My quick assessment is that the `jr:count` documentation should explicitly call out that the value must be between a number greater than 1 and that behavior is undefined otherwise. Would be good to get another sanity check on that @dcbriccetti.

[2017-08-04 15:48] lognaturel commented on #136
Duplicate of #45

[2017-08-04 15:48] #136 closed

[2017-08-04 15:50] #98 closed

[2017-08-04 15:51] #99 closed

[2017-08-04 15:51] #88 closed

[2017-08-04 15:53] #105 closed

[2017-08-04 16:47] lognaturel opened #163 "Add count-non-empty XForms 1.0 function"
As described in opendatakit/xforms-spec#127 along with some tests.

This one should be approachable for a new contributor. The place to start looking is in [XPathFuncExpr](https://github.com/opendatakit/javarosa/blob/37effe59710b272c1d57f775eba422ff8474bed6/src/org/javarosa/xpath/expr/XPathFuncExpr.java). In particular, there are other examples that take nodesets as parameters. Join us in the #jav

[2017-08-04 17:36] lognaturel opened #164 "Add digest function"
opendatakit/xforms-spec#103 (use [this spec](https://www.w3.org/TR/xforms/#fn-digest))

[2017-08-04 18:27] lognaturel commented on #36
More conversation about this at opendatakit/xforms-spec#125 that still needs to be finalized. The question is whether only calls on `jr:itext` should be allowed or whether other XPath functions should be evaluated.

[2017-08-04 20:35] lognaturel opened #165 "Use form or client language in month/day short text"
opendatakit/xforms-spec#122

If the form language definition uses the format described at XLSForm/xlsform.github.io/issues#73, try to use the language code for localization. If that fails or isn't available, use the client locale.

[2017-08-05 18:23] dcbriccetti commented on #158
JavaRosa’s ```FormEntryController.answerQuestion``` doesn’t get as far as evaluating the constraint because ```data``` is null and the element is required. (```data``` is null because no checkboxes were checked.)

![screen shot 2017-08-05 at 11 13 34 am](https://user-images.githubusercontent.com/55099/28997698-acf7ed54-79cf-11e7-9185-45459b9cc42f.png)

When I removed `required="true()"` from this

[2017-08-05 18:31] dcbriccetti commented on #158
A better title might be “Can’t swipe past empty itemset if required="true"”

[2017-08-05 20:37] batkinson commented on #158
You are right @dcbriccetti and that makes perfect sense. I had a bit of tunnel-vision after looking at a much larger form design for too long. The test form was a reduction of a much longer form and that detail was lost in the noise.

The intended design just needs to use a calculation for the required attribute, like the following:

[code]

I tested this alternative, and it is working as I believ

[2017-08-05 20:37] #158 closed

[2017-08-05 20:47] dcbriccetti commented on #158
@batkinson, it was a learning exercise for me, and didn’t take long. Glad we could help.

[2017-08-07 22:03] lognaturel commented on #158
Ahh, interesting! No worries @batkinson and thanks for that explanation @dcbriccetti. 🙏

[2017-08-07 22:04] lognaturel commented on #158
I'll add -- better to report something that turns out not to be a bug than to risk living with something that is!!

[2017-08-07 22:52] lognaturel commented on #76
I think this info should be passed from the Collect side but I'm not totally sure. I would start by seeing how the nodes for other media types like images are populated.

[2017-08-17 01:35] #16 closed

[2017-08-17 01:41] lognaturel opened #170 "Evaluate performance of current external secondary instance implementation"
In #16, initial support for external secondary instances was added. This provides:
- A single way to query external data. [Data preloading](https://opendatakit.org/help/form-design/data-preloading/) exists in Collect to load external CSVs. However, it doesn't allow for querying with sophisticated expressions as requested [here](https://forum.opendatakit.org/t/pulldata-with-two-lookup-values/9435)

[2017-08-17 01:41] lognaturel commented on #170
@mdudzinski perhaps you could look into this? @dcbriccetti you probably have some good ideas as well.

[2017-08-18 11:25] grzesiek2010 opened #171 "Javarosa 2.5.0 breaks data preloading"
I haven't been able to open a form with [data preloading](https://opendatakit.org/help/form-design/data-preloading/) since we updated javarosa to 2.5.0-SNAPSHOT version: https://github.com/opendatakit/collect/pull/1352/files

![screenshot_2017-08-18-12-51-05](https://user-images.githubusercontent.com/3276264/29457049-997f4288-8418-11e7-9c7a-3ff8f8121793.png)

Logs:

[2017-08-18 16:10] lognaturel commented on #171
Thank you so much, @grzesiek2010! This is a big one that will block a new release.

@dcbriccetti Would be great for you to look at this one first when you come back to JR. Hopefully there's a failing test that can be written.

[2017-08-20 00:47] dcbriccetti commented on #171
I’m looking at this now.

[2017-08-21 19:22] lognaturel opened #173 "Make second parameter for round optional"
Originally filed by @martijn as opendatakit/collect#144:

optional and set it to 0 if absent.

is provided

[2017-08-22 00:26] #171 closed

[2017-08-22 00:48] lognaturel commented on #171
🙏 Thank you for catching this, @grzesiek2010 and for fixing, @dcbriccetti, it could have been a real scramble to fix if we had shipped this!

@yanokwa published a new snapshot and I have verified that Collect's `master` branch now supports CSV external data again.

[2017-08-22 00:51] dcbriccetti commented on #171
Indeed, thank you! You helped me preserve the illusion that I am a competent programmer. ;-)

[2017-08-24 01:05] lognaturel commented on #170
Had a chance to catch up with @mdudzinski and he will try to look at it early Sept and keep us updated here.

[2017-08-25 08:00] alxndrsn commented on #137
@yanokwa is this really a bug?  Running regexes on numbers doesn't sound that useful anyway...

[2017-08-25 16:36] yanokwa commented on #137
I think it's a bug because the behavior is unexpected (at least to me) and undocumented. I'm not sure what the best fix is. @lognaturel says we should update the spec to say that regex only works on strings and that folks should cast to string first.

What does Enketo do?

[2017-08-25 16:44] alxndrsn commented on #137
Well the spec _does_ say the input's a string - https://opendatakit.github.io/xforms-spec/#fn:regex 😛

I think if you're collecting 10 digits and expecting to maintain leading zeroes, then it's a string of digits rather than a number anyway.  Can you remember what you were using this for?

[2017-08-25 18:11] yanokwa commented on #137
I don't remember what I was using this for, but it was probably a phone number.

Given what the spec says and the general consensus from @alxndrsn and @lognaturel, I'm closing this issue as not a bug.

[2017-08-25 18:11] #137 closed

[2017-08-25 18:31] lognaturel commented on #137
Thanks, @alxndrsn, always nice to see issues closed!! I've replaced this one with a documentation issue -- https://github.com/opendatakit/docs/issues/91

[2017-08-26 14:43] jpknox commented on #173
If I understand the problem correctly I have to write a test for, and modify, the behaviour of the `private` method called `round()` within the class `XPathFuncExpr`. I'm having trouble getting access to the `round()` method because it requires recursively going through the `eval()` method.

Could someone point me in the right direction for how to go about accessing the `round()` method? The way i

[2017-08-26 14:54] jpknox commented on #173
I overcame it with this code:
`double unround = 4;`
`Method round = xPathFuncExpr.getClass().getDeclaredMethod("round", Double.TYPE, Integer.TYPE);`
`round.setAccessible(true);`
`Double rounded = (Double) round.invoke(xPathFuncExpr, unround, 1);`
`System.out.println(rounded);`

[2017-08-27 17:54] dcbriccetti commented on #173
It looks like this is the code to modify, in XPathFuncExpr:
[code]
Make It work with 1 or 2 args, and if the 2nd arg is not present, use a 0.

For the test, start looking in this section in XPathEvalTest:
[code]
Does that help?

[2017-08-28 13:38] grzesiek2010 commented on #76
Fixed in https://github.com/opendatakit/collect/pull/1384

[2017-08-29 00:40] #76 closed

[2017-09-05 15:32] lognaturel opened #180 "DataInstance not instantiable exception"
There's a new stack trace showing up frequently in Firebase Crash since the 1.10.0 Collect release that has support for external secondary instances. It presumably has to do with blank forms being serialized for use on first open but I can't reproduce it.

Firebase reports this as non-fatal but it's not always accurate.

@grzesiek2010 is also looking for a way to repro. @dcbriccetti perhaps you ha

[2017-09-05 16:49] dcbriccetti commented on #180
Yikes. I’ll take a look.

[2017-09-05 16:59] grzesiek2010 commented on #180
I can see the same logs but everything works well so it's not a blocker for us.

[2017-09-05 17:00] dcbriccetti commented on #180
Thanks, @grzesiek2010. If you find a way to reproduce, I’d like to understand and fix it.

[2017-09-05 17:07] grzesiek2010 commented on #180
1. Uninstall your current ODK Collect app and remove the odk folder from your device (not sure if it's necessary to reproduce but just in case. Just install fresh app)
2. Download one of available form (in my case it was cascading select form but I'm sure it's not important).
3. Open this form and save.
4. Try to open saved instance (Edit form) and you should be able to see the same logs.

[2017-09-05 19:10] lognaturel commented on #180
👏 Thanks, @grzesiek2010! Great to know it's not a show-stopper. The repro steps make sense -- I was only thinking about the blank forms but of course it's instance related. I believe the implication is that it is now slower to load forms for editing because the cached version isn't available. Great that Collect handles that gracefully. @dcbriccetti it would be great to have a fix soon-ish but it's

[2017-09-05 21:18] dcbriccetti commented on #180
I can reproduce, and I see the cause (trying to create a DataInstance, where DataInstance is abstract).

[2017-09-07 00:37] dcbriccetti commented on #180
I think I found the problem, and if so it’s a very simple change to one line of code in `FormDef.readExternal`. I’ll do more testing tomorrow.

[2017-09-07 00:45] dcbriccetti commented on #180
@grzesiek2010 (or anyone), feel free to test the change above, if you’re so inclined, and equipped to do so. I probably won’t return to the problem until about 11:30 AM PDT.

[2017-09-07 00:46] lognaturel commented on #180
Great, thanks @dcbriccetti! Isn't it fun working with people around the world so there's progress around the clock??

[2017-09-07 14:41] grzesiek2010 commented on #180
I can confirm it works.

[2017-09-07 19:28] dcbriccetti commented on #180
Thanks!

[2017-09-08 02:55] #180 closed

[2017-09-24 00:22] dcbriccetti commented on #170
I’m doing some experiments with large secondary instance files.

[2017-09-26 08:24] yanokwa commented on #170
Here is a form from our friends in Nigeria with a cascading list of states, wards, and LGAS.

[nigeria-wards.xml.zip](https://github.com/opendatakit/javarosa/files/1332282/nigeria-wards.xml.zip)
[nigeria-wards.xlsx](https://github.com/opendatakit/javarosa/files/1332283/nigeria-wards.xlsx)

[2017-09-26 18:54] mdudzinski commented on #170
@dcbriccetti I've seen on Slack that you figured out a few bottlenecks and came up with a few ideas for improvements. Do you have some code already pushed to your fork? If so, could you point mi to the branch or a commit? I'd like to catch up and I find it hard to do it by only following the conversation on slack :)
Thanks in advance!

[2017-09-27 03:55] dcbriccetti commented on #170
@yanokwa, thanks for the form. I plan to look at it tomorrow.
@mdudzinski the most recent commit comment here, https://github.com/opendatakit/javarosa/pull/192, along with the Slack conversation from about 20 hours ago should get you up to speed. Let me know how you want to join in, or if you want to take over.

[2017-09-27 11:56] mdudzinski commented on #170
@dcbriccetti Thank you!

[2017-10-11 14:00] grzesiek2010 opened #199 "now() is evaluated only once per survey"
I'm in the middle of investigating older issues in the collect repository and I found these tickets:
https://github.com/opendatakit/collect/issues/140
https://github.com/opendatakit/collect/issues/169

They have "needs reproduction" label but reproduction is easy. I think it'a an issue on the Javarosa side. I made an initial investigation using this form:
[now.txt](https://github.com/opendatakit/j

[2017-10-18 01:18] danielrees18 commented on #163
@opendatakit-bot claim

[2017-10-19 11:05] mdudzinski opened #202 "Cannot parse 'eIMCI by D-Tree' form and a form with template repeat"
#### Software versions
JavaRosa v2.6.0-SNAPSHOT, Mac OS 10.12.6

#### Problem description
It is no longer possible to parse some of the forms after performance improvements (#192). Example of forms long with unit tests are available [here]
(https://github.com/mdudzinski/javarosa/commits/form-parsing-code-coverage) (the latest 2 commits)

* eIMCI by D-Tree

* simple form with template repeat

####

[2017-10-19 12:58] mdudzinski commented on #202
The cause of the NPE:
![npe-cause](https://user-images.githubusercontent.com/1262799/31771839-d413f8ee-b4dd-11e7-9337-f56002ef08dc.png)
`Element#getElement(int index)` returns null if an element at the index position is not an instance of `Element`

[2017-10-19 13:49] mdudzinski commented on #202
@dcbriccetti
For 'eIMCI by D-Tree' problem I see two options:
* Fix `XFormParser#allChildrenHaveTheSameName(Element node)` so it's aware that the first child may not be an element
* Get rid of text children before accessing this method

First option should be easy but I've got strong feeling that this kind of problem may come back in the future so I'm thinking about option two.
`XmlTextConsolidato

[2017-10-19 15:08] lognaturel commented on #202
I think stripping comments from the model the same way empty whitespace lines are stripped is the way to go since comments are only human-facing. The eIMCI form was a good one to verify because it's a rare one that's still around that was built in raw XML (hence the comments).

[2017-10-19 17:56] dcbriccetti commented on #202
Nice work, @mdudzinski!
@opendatakit-bot claim

[2017-10-19 19:08] dcbriccetti commented on #202
I think I have a simpler, safer solution to the first problem.
![screen shot 2017-10-19 at 12 05 47 pm](https://user-images.githubusercontent.com/55099/31789191-2bea2eca-b4c6-11e7-9643-3e59cab59851.png)

[2017-10-19 19:26] lognaturel commented on #202
I believe that was @mdudzinski's first option if I'm understanding correctly. His point is that having non-Elements as children of elements is likely to cause problems elsewhere.

That said, it's been that way for a long time...

[2017-10-19 19:29] dcbriccetti commented on #202
Oh, you’re right. And not just the first child.

I’m inclined to wait until we can identify other such problems (existing before this optimization) before we attempt to fix them.

[2017-10-19 19:37] lognaturel commented on #202
That sounds like a good plan.

It would be really nice to document these kinds of gotchas somewhere so they're not just living in our heads. Maybe above the `null` check you could say something like "Comments in the XML are represented as Strings, not Elements" or something of that nature.

I think you've also been keeping some notes for eventual dev docs and the fact that `Element`s can have non-

[2017-10-19 19:41] dcbriccetti commented on #202
I think you’ll like the new tests that are coming, such as
[code]

[2017-10-19 19:42] lognaturel commented on #202
💜

[2017-10-19 19:44] dcbriccetti commented on #202
I think I’ll test this NPE fix against the form in collect, then make a PR for this single fix. Then work on the other.

[2017-10-23 12:05] mdudzinski commented on #202
@dcbriccetti  @lognaturel
I'm a little bit sad that we didn't decide to get rid of those non-`Element` children but I get the reason :)

[2017-10-23 15:12] lognaturel commented on #202
@mdudzinski The door is still open for that change later on! 😊

[2017-10-25 18:18] mdudzinski opened #205 "Unused classes - ChildProcessingRule & NodeProcessingRule"
#### Software versions
All JavaRosa versions since 65101db

#### Problem description
Just two classes that are not used anywhere:
* `ChildProcessingRule`
* `NodeProcessingRule`

Both are annotated with the following comment:

#### Steps to reproduce the problem
N/A

#### Expected behavior
No unused code. It will make the codebase cleaner and easier to maintain.

#### Other information
N/A

[2017-10-25 18:27] mdudzinski commented on #205
@opendatakit-bot claim

[2017-10-26 00:00] #173 closed

[2017-10-26 00:03] #205 closed

[2017-10-26 04:40] dcbriccetti commented on #202
I’ve found the problem causing the frightening `IllegalStateException("Unexpected multiplicity mismatch")`. The code that checks to see if optimizations can be performed on the TreeElement children, `allChildrenAreElementsAndHaveTheSameName`, doesn’t notice when a child has a `template` attribute. Should be a quick fix.

[2017-10-26 18:05] #202 closed

[2017-10-30 08:49] grzesiek2010 opened #210 "Exception java.lang.ClassCastException: org.javarosa.core.model.data.UncastData cannot be cast to org.javarosa.core.model.data.StringData"
#### Software versions
JavaRosa v2.6.0

#### Problem description

We can use other types than string for `instanceName`.

org.odk.collect.android.logic.FormController.getSubmissionMetadata (FormController.java:1183)
org.odk.collect.android.utilities.TimerLogger.<init> (TimerLogger.java:171)
org.odk.collect.android.logic.FormController.getTimerLogger (FormController.java:200)
org.odk.collect.androi

[2017-10-30 15:45] mdudzinski opened #211 "Submission element parsing code smell."
#### Software versions
All JavaRosa versions so far (v2.6.0).

#### Problem description
The code responsible for parsing the submission element (`XFormParser#parseSubmission` &  `SubmissionParser`) does not look good because of:
1. The code accepts multiple submission elements - if they have different values of the `id` attribute - but when accessing submission element, it always returns the defau

[2017-10-30 19:55] lognaturel commented on #210
Now that I've reflected more deeply on this, I think we can probably handle it all on the Collect side. It shouldn't be a problem to have instance names or IDs of types other than strings. We should just be using their string representations. Here's a possible approach to verify: https://github.com/opendatakit/collect/issues/1560#issuecomment-340564402

[2017-10-31 09:38] #210 closed

[2017-10-31 09:46] grzesiek2010 opened #213 "Only a value in one group is recalculated after removing group."
#### Software versions
JavaRosa v2.6.0

#### Problem description
I have a form with repeat group. The value of the first question is calculated `calculate="position(..)"`
If I remove one group, only the value in the next one is recalculated.

#### Steps to reproduce the problem
1. Open the attached form.
2. Add three groups
3. Go back to the first group and delete it.

#### Expected behavior
All v

[2017-11-02 17:44] lognaturel opened #214 "Indexed-repeat error when index is blank"
#### Software versions
JavaRosa v2.6.0

#### Problem description
Form and error posted at https://forum.opendatakit.org/t/indexed-repeat-error-for-previously-defined-integer-as-the-third-argument/10442

#### Steps to reproduce the problem
Read the form above in Collect. The error shows up when the second household member is added.

#### Expected behavior
No error, this should be a valid form.

###

[2017-11-02 22:41] lognaturel commented on #199
This seems like a bug, I can't think of any reason why this would be the desired behavior. Fixing it would enable lightweight timestamping as described in opendatakit/xforms-spec#123.

[2017-11-02 23:41] lognaturel opened #215 "StackOverflow with form with complex calculations"
#### Software versions
JavaRosa v2.5.0

#### Problem description
StackOverflow with form with complex calculations - https://forum.opendatakit.org/t/error-while-loading-the-form/10260/

#### Steps to reproduce the problem
Use the form from the post, presumably on a device with low memory.

[2017-11-03 01:46] lognaturel commented on #213
This is a really interesting case, @grzesiek2010!

Certainly the behavior should be consistent across groups. As you say, the question is whether everything should be reevaluated on deletion of one repeat or not. I think the answer is yes. @mdudzinski you've already looked deeply into repeat and group deletion, could you please take a look at this?

[2017-11-03 10:59] grzesiek2010 commented on #215
I've found some crashes caused by StackOverflow. Logs look different but it might be related so:
https://console.firebase.google.com/project/api-project-322300403941/monitoring/app/android:org.odk.collect.android/cluster/831ed99b?reportTypes=FATAL_JAVA&duration=2592000000

https://console.firebase.google.com/project/api-project-322300403941/monitoring/app/android:org.odk.collect.android/cluster/38

[2017-11-03 13:00] mdudzinski commented on #213
@lognaturel Sure, I'll!

@opendatakit-bot claim

[2017-11-06 15:24] atl2017 commented on #71
round(${decimal},n) does not work in ODK Collect v.1.11.0 where decimal is type decimal but example put first  by @yanokwa when opened in June works!

Does NOT work:
[round.xml.txt](https://github.com/opendatakit/javarosa/files/1446702/round.xml.txt)
[round.xlsx](https://github.com/opendatakit/javarosa/files/1446703/round.xlsx)

Does work:
[round.xml.txt](https://github.com/opendatakit/javarosa/fi

[2017-11-06 17:59] mdudzinski commented on #213
@lognaturel I'm still investigating this. This is related to `IDag` implementations. There is a code that is responsible for triggering calculations upon a repeat group deletion but it never gets to the "position" condition in `XPathFuncExpr` class. Not sure why but anyway this code doesn't seem to be going over all repeats and recalculating values for each repeat group instance. This seems to be

[2017-11-06 18:07] dcbriccetti commented on #71
Hi @atl2017. This JavaRosa test is working:
`testEval("round('4' div 3, 1)", 1.3);`
I’ll try your form in Collect.

[2017-11-06 18:58] lognaturel commented on #213
This is maybe a naive or irrelevant question but why can't they recalculate on swipe? Isn't that the behavior for other fields or am I mistaken?

[2017-11-06 19:05] dcbriccetti commented on #71
I’m looking at this now. I’ll run Collect in the debugger with the form and see what JavaRosa is doing.

[2017-11-06 19:30] dcbriccetti commented on #71
Here’s what I get when I enter a 4 in the “Does NOT work” `round.xml.txt` form. Am I seeing the problem?

![round form submission](https://user-images.githubusercontent.com/55099/32459809-ae77021e-c2e5-11e7-89f7-92b6552a9807.png)

[2017-11-06 22:08] atl2017 commented on #71
Why nota is empty?  It is supossed to display ${calc} ..

Look this both in the same file.

![image](https://user-images.githubusercontent.com/29519901/32466367-be60a494-c314-11e7-8cec-85a9a333b276.png)
Result display nothing. Result2 is OK:

![screenshot-1510005486146](https://user-images.githubusercontent.com/29519901/32466434-f6f08bb2-c314-11e7-8c7a-aed334f3521f.jpg)
![screenshot-1510005853566]

[2017-11-06 22:48] lognaturel commented on #71
@dcbriccetti did you try it with a decimal?

I ran into something like this when I made a test form for the new single-parameter `round` but I didn't realize it was a newly-introduced problem. This can be addressed by wrapping the value in a call to `number()`. I think the problem is in the new code to address locales that use commas as the decimal delimiter. Thanks for reporting, @atl2017, we'll

[2017-11-07 04:05] iowerx commented on #71
Thanks @dcbriccetti @lognaturel et al. I admit that my comma fix was a shortcut - but had problems creating a test that would set the locale.

[2017-11-07 04:07] #71 closed

[2017-11-07 05:34] lognaturel commented on #71
@atl2017 @nap2000 JavaRosa 2.6.1 and Collect v1.11.1 are now released.

[2017-11-07 05:55] nap2000 commented on #71
Thanks Hélène,  ATL, Will release update to fieldTask tonight.

On Tue, Nov 7, 2017 at 1:34 PM, Hélène Martin <notifications@github.com>
wrote:

--

Smap Consulting  <http://smap.com.au/>| Mobile Data Collection Solutions
Application Developer - neilpenman@gmail.com <minqiang.huang@gmail.com>
Twitter: @dgmsot
Skype: ianaf4you
Phone: +61 402 975 959 (Australia)
Website: http://smap.com.au <http://s

[2017-11-07 10:23] grzesiek2010 opened #218 "The repeat group with additionall group inside is skipped when I navigate backward"
#### Software versions
JavaRosa v2.6.0

#### Problem description
The issue has been originally reported in [the Collect repository](https://github.com/opendatakit/collect/issues/1582) but after my investigation, I'm pretty sure it's on the Javarosa side.

The problem occurs when I want to use a repeat group with an additional group inside. That group can't display all questions on one screen (in t

[2017-11-07 11:46] mdudzinski commented on #213
@lognaturel Calculations are fired when:
* An answer is committed
* A new repeat is added
* A repeat is deleted

We could implement recalculations on a swipe but it wouldn't be consistent with the current flow.

There is an interesting code that holds a map of `TreeReference` => `ArrayList<QuickTriggerable>`. Whenever a value of value a node at certain tree reference changes, all related calculati

[2017-11-07 13:31] mdudzinski commented on #214
@opendatakit-bot claim

[2017-11-07 18:21] lognaturel commented on #213
Yes, I suppose I was thinking of the answer committed case. The position change feels like an answer being committed but I suppose it's not.

So it sounds like there are three options?
- When one repeat is deleted, iterate over all repeats and recompute
- When one repeat is deleted, see if any fields contain XPath functions that depend on the parent position and if so recompute
- Keep track of all

[2017-11-07 19:14] mdudzinski commented on #213
@lognaturel Well, deleting a repeat actually triggers recalculation but only for the next repeat after the deleted one. So you're right that the position change feels like an answer being committed :)

Actually I was thinking about two options. The last one seems to be the same as the first.
But now I think there may be a third, completely different option. Calculations are triggered when an answe

[2017-11-13 10:38] grzesiek2010 commented on #218
@mdudzinski maybe you could take a look at it?

[2017-11-13 14:13] mdudzinski commented on #218
@grzesiek2010 Sure, I'll take a look!
@opendatakit-bot claim

[2017-11-14 02:09] #214 closed

[2017-11-14 08:30] mdudzinski commented on #218
@grzesiek2010 You are right, the problem is in `decrementIndex(FormIndex index)` method. Thanks for the initial findings!

[2017-11-15 02:56] #95 closed

[2017-11-15 16:50] lognaturel opened #221 "Identify and test or store tricky forms to prevent regressions"
For example: https://code.google.com/archive/p/opendatakit/issues/888

This will be especially important as we're looking for performance improvements. All of the different DAG implementations stem from balancing strict correctness and speed. The more forms there are to actually verify correctness, the better.

@dcbriccetti @mdudzinski

[2017-11-15 17:06] lognaturel commented on #143
I had some doubts that this was still an issue and tried to reproduce with
[multiple-random.xml.txt](https://github.com/opendatakit/javarosa/files/1475626/multiple-random.xml.txt) and
[multiple-uuid.xml.txt](https://github.com/opendatakit/javarosa/files/1475628/multiple-uuid.xml.txt). Unless I'm misunderstanding the issue, I think this one has been resolved, probably with the alternate DAG impleme

[2017-11-15 19:13] lognaturel commented on #199
I did some exploration with
[multiple-now.xml.txt](https://github.com/opendatakit/javarosa/files/1475947/multiple-now.xml.txt) to see what was happening with multiple calls to `now()` in the same form. I confirm the behavior that @grzesiek2010 describes and that it should not be this way.

This also led to some questions:
- Why does simply displaying `now()` result in a date without a time? Time i

[2017-11-15 19:22] lognaturel commented on #199
An additional note -- I got `17485.793219953703` at around 11am so I think the time given is in UTC rather than local time.

[2017-11-16 01:51] lognaturel commented on #199
Now that I think about it, I think this is consistent with how other functions are evaluated. They are first evaluated on form entry and then reevaluated as related questions are updated. It has nothing to do with when the question is actually visited by the user.

[2017-11-17 10:33] mdudzinski commented on #218
@grzesiek2010
It turns out that it will work if the nested group has the `ref` attribute which will point to the corresponding element in the instance.
Slightly updated form:
[rp1-group-with-ref-attribute.xml.txt](https://github.com/opendatakit/javarosa/files/1481905/rp1-group-with-ref-attribute.xml.txt)

However, it should be possible to use the `nodeset` attribute instead of the `ref` (according

[2017-11-17 12:16] grzesiek2010 commented on #218
@mdudzinski Nice!
I used for builder https://build.opendatakit.org/ and in that case the `ref` is not added but it works well if I use the XLSForm converter http://opendatakit.org/xiframe/

So looks like it's also a bug on the builder's side too. @lognaturel what do you think?

[2017-11-17 13:42] mdudzinski commented on #199
@lognaturel Yeah, you're right. How about introducing a function that returns a timestamp but is takes a node reference as an argument? It would be recalculated everytime the referenced node has been updated. That's the simplest solution I can think of.

[2017-11-17 14:16] mdudzinski commented on #199
@ln It resutls with date instead of date time because of the following snippet from `Recalculate#wrapData(Object val, int dataType)`.
[code]
It checks the data type of the node (`DATATYPE_TEXT` in your scenario). It this method, it's never tested against the `DATATYPE_TEXT` constant so the execution falls to the above check. As a result, a`DateData` instance is returned. Can be easily fixed I thin

[2017-11-17 18:40] #163 closed

[2017-11-17 20:32] lognaturel commented on #199
Will file a separate issue for the data type.

I left an inline comment about the value change check in `commitAnswer`.

This is converging back with https://github.com/opendatakit/xforms-spec/issues/123 now that we are all on the same page about the behavior being consistent with all function evaluation. We do need some kind of new mechanism after all.

@mdudzinski your idea of introducing a new

[2017-11-17 21:10] lognaturel opened #225 "Identify issues with timezones"
From https://forum.opendatakit.org/t/calculating-duration/2959/3:

[code]

Where are these bowels? What does it affect beyond calculations with `decimal-date-time`?

[2017-11-17 21:31] lognaturel opened #226 "Time component of now() calculation not available"
[now-time.xml.txt](https://github.com/opendatakit/javarosa/files/1483901/now-time.xml.txt)

When an XLSForm is converted using pyxform, all calculates are of type `string`. @mdudzinski describes [here](https://github.com/opendatakit/javarosa/issues/199#issuecomment-345254947) why this leads to the time component not showing up. This is the `now3` case in the form above. Perhaps we should have a sp

[2017-11-17 21:58] lognaturel commented on #218
Nice work, detectives. 🔎

Comment on #224. It does seem like Build should include the `ref`.

[2017-11-20 11:54] mdudzinski commented on #199
@lognaturel I think both are possible, please check my comment [here](https://github.com/opendatakit/xforms-spec/issues/123#issuecomment-345674124).

[2017-11-20 19:53] lognaturel commented on #199
Awesome, @mdudzinski!

@grzesiek2010 does all this business about why it's not a bug after all make sense? It points to a need for better docs about evaluation behavior which I've filed at https://github.com/opendatakit/docs/issues/213

[2017-11-20 20:17] mdudzinski commented on #199
@lognaturel Arghh actually I was wrong ; \ won't be so easy with how dag works currently, sorry!

[2017-11-20 22:33] lognaturel commented on #199
@mdudzinski You're talking about `first-time-edited(node)` being hard because everything is evaluated on form launch, right? That's ok, it's what I figured! Like I said, I do think the last time edited is more insightful anyway.

But all this is now making me worried about the `last-time-edited(node)` idea. With the simple implementation proposed would it just always have the finalize time? I have

[2017-11-21 07:52] mdudzinski commented on #199
@lognaturel No, it won't run again at finalize if there is the fix in the `commitAnswer` method we discussed in 8ae88bd. But if you open the previously saved form, it will evaluate the `now()` functions anyway. So the only solution I've got for now is described [here](https://github.com/opendatakit/xforms-spec/issues/123#issuecomment-345944443).

[2017-11-24 14:12] mdudzinski commented on #226
@lognaturel You need to use `format-date-time` function to get the time component.

The easiest solution to solve this is to make `DateTimeData` to be the default value if a calculation result is instance of `Date` and its `dataType` (the type set in the binding) isn't date, date time or time.
So this:
[code]
should be changed to:
[code]

[2017-11-24 14:20] mdudzinski commented on #226
@lognaturel Btw, isn't this a duplicate of #144 😃 ?

[2017-11-27 23:36] lognaturel commented on #144
Closed in favor of #226.

[2017-11-27 23:36] #144 closed

[2017-11-27 23:45] lognaturel commented on #226
😖 I was pretty sure I had seen this issue before but for some reason I couldn't find it!! I think I only looked on the forum and in Collect.

I think changing the default case as you've suggested would be fine. It might change behavior that someone is depending on but it's to add more info not to further constrain what's displayed so I think it's ok.

I was looking at https://opendatakit.github.io

[2017-12-01 23:24] lognaturel opened #227 "Add support for xforms-value-changed event"
There's been agreement to add actions and events more formally to the ODK XForms spec -- https://github.com/opendatakit/xforms-spec/issues/123#issuecomment-348580247. In particular, the `xforms-value-changed` event is now part of the spec. This should be supported such that actions with the `event` attribute set to `xforms-value-changed` can be nested in form control elements in the body.

Sample

[2017-12-01 23:38] lognaturel commented on #227
Currently `FormDef` has an `eventListeners` map mapping events to `Action`s. Should `xforms-value-changed` events be kept track of there? Or maybe on form controls themselves?

[2017-12-12 20:42] #213 closed

[2017-12-13 00:17] #143 closed

[2017-12-13 00:21] lognaturel commented on #199
As discussed above, this is a side effect of evaluation rules being consistently applied. https://github.com/opendatakit/xforms-spec/issues/123 explores some spec additions that could provide the desired behavior.

[2017-12-13 00:21] #199 closed

[2017-12-13 13:22] mdudzinski opened #229 "Improve the performance of a repeat group deletion"
#### Software versions
The latest JavaRosa with fix for #213.

#### Problem description
If a repeat group is deleted then all dependent triggerables will be evaluated for each of the following repeats after the deleted one. This behavior was added in #213 / #219.
If at least one of the dependent calculations targets a node outside of the repeat group and takes a repeat group children nodeset as an

[2017-12-13 14:42] mdudzinski commented on #229
@lognaturel I spent some more time on this and prepared a PoC of a simple approach that doesn't a lot of changes or/and refactoring -> #230

[2017-12-13 16:49] lognaturel commented on #218
Forms created by Build will still have this problem for now but it's filed.

[2017-12-14 15:04] mdudzinski opened #232 "[Refactoring] Take out the `validate` method outside of the `IDag` class"
The `IDag.validate(FormEntryController formEntryControllerToBeValidated, boolean markCompleted)` implementation should be moved to the `FormDef.validate(boolean markCompleted)` because the `validate` method:
* Doesn't use anything from the `IDag` class internal state, it can be changed to be static just like that. Unnecessarily "obfuscates" the interface.
* It uses a `FormEntryController` instance

[2017-12-14 15:34] mdudzinski commented on #227
@lognaturel There is no such concept as focus in JavaRosa so I think this event should be dispatched at the same level as DAG stuff is fired and focus stuff should be left to a client app. I've been thinking about `FormDef.setValue(IAnswerData data, TreeReference ref, TreeElement node, boolean midSurvey)` method. This would be consistent with other implemented events. For instance `initialize(bool

[2017-12-14 15:41] lognaturel commented on #227
Setvalue sounds right. This is a value-changed event so even if it were possible to use focus that wouldn’t be right.

Probably the event should only fire if the value has actually changed, not if the same on is saved again?

I think event-XForms-ready works without any additional client support. That would be like the form with setvalue that you added as a test recently, right?

[2017-12-14 15:53] mdudzinski commented on #227
@lognaturel Exactly. Ideally we should check if the value has actually changed to avoid unnecessary evaluation of triggerables. But I think it can be added later. As we discussed it some time ago - it won't be hard to do but will require some time to do it right (clean code + tests).

The biggest problem is the support for the nested `setvalue` action but I've already got some idea. Will require a

[2017-12-20 18:04] mdudzinski commented on #227
@opendatakit-bot claim

[2017-12-24 20:30] dcbriccetti commented on #229
I see some familiar territory here. We’re getting into the slow TreeElement.getChild, which I greatly speeded up on Oct 1 (https://github.com/opendatakit/javarosa/commit/09034d63849eb0a25b7259aa5144a6de09b0495a), but only for the special case where all the children have the same name and normal multiplicities. Here the children consist of:

- the repeat group
- the many programmatically-added iden

[2017-12-27 17:20] mdudzinski commented on #229
@dcbriccetti I was hoping that this one will be interesting for you! However, I think this one may be tackled separately as it's a general problem.

[2017-12-28 08:10] #25 closed

[2017-12-28 08:26] dcbriccetti opened #234 "Improve the performance optimizations for TreeElement children for more cases"
https://github.com/opendatakit/javarosa/commit/09034d63849eb0a25b7259aa5144a6de09b0495a increased the speed of TreeElement child handling under a special case, where “all children have the same name, and none have a special multiplicity value (< 0)”.

Improve performance for more child patterns, such as the case (https://github.com/opendatakit/javarosa/issues/229#issuecomment-353801900) where the

[2017-12-31 13:13] mdudzinski commented on #227
I'm on xmas holiday and shall be back to work on this early 2018 :)

[2018-01-03 19:54] lognaturel opened #236 "Warning displayed when rows attribute is used on an input node."
#### Problem description
Warning displayed when `rows` attribute is used on an `input` node.

#### Steps to reproduce the problem
Add the `rows` attribute to a text field:
[code]
This is recognized and used by Collect and perhaps other clients but the following warning is shown using Validate:
[code]

#### Expected behavior
No warning.

#### Other information
I guess we should specifically allow `

[2018-01-08 19:17] lognaturel commented on #236
Similarly `requiredMsg` is not recognized. I think the right thing to do is to add these to `usedAtts` [here](https://github.com/opendatakit/javarosa/blob/2e2030906e96f14a04629a2e0961d3d6408932df/src/org/javarosa/xform/parse/XFormParser.java#L1701). @dcbriccetti @yanokwa? Any reason not to?

[2018-01-08 22:58] yanokwa commented on #236
I think maintaining a whitelist of attributes is the right thing to do.

The current list is at https://opendatakit.github.io/xforms-spec/#bind-attributes and we are missing the following:

* requiredMsg
* saveIncomplete

[2018-01-11 18:22] daveycrockett commented on #236
@opendatakit-bot claim

[2018-01-11 18:23] daveycrockett commented on #236
@opendatakit-bot claim

[2018-01-12 14:41] daveycrockett commented on #236
See my current [PR](https://github.com/opendatakit/javarosa/pull/237). It looks like (to this beginner) that the fix may be more involved, any feedback welcome! Otherwise I'll keep poking at it.

[2018-01-12 21:07] dcbriccetti commented on #236
There are two places where
[code]
is called with additionalUsedAtts. One is for range (which I added last May):

[code]
The code for input looks like this now:
[code]
Perhaps we want to add additional attributes for input.

[2018-01-12 21:15] lognaturel commented on #236
I'm sorry, I think what I linked to is just the whitelist for `bind`. Different element types build their own lists when being parsed. But I would think that would be the right place for `requiredMsg` and and `saveIncomplete`? Looks like @dcbriccetti has identified where `rows` needs to be added.

[2018-01-17 17:35] daveycrockett commented on #236
Thank you for the clarification, this makes sense! I've created a new PR that incorporates these changes into a single clean commit.

[2018-01-24 02:10] #236 closed

[2018-02-05 04:05] yanokwa opened #243 "Add a code of conduct"
Add a CODE_OF_CONDUCT.md file just like Collect. https://github.com/opendatakit/collect/blob/master/.github/CODE_OF_CONDUCT.md

[2018-02-12 20:42] dcbriccetti opened #245 "DeserializationException with All_widgets.xml form"
#### Software versions
JavaRosa v2.7.0

#### Problem description
org.javarosa.core.util.externalizable.DeserializationException: No datatype registered to serialization code [d8 60 b9 d1]

#### Steps to reproduce the problem
Add a test to XFormParserTest:
[code]
#### Expected behavior
Not the exception.
#### Other information
I’m guessing there’s a class being serialized that isn’t registered with

[2018-02-15 21:51] #116 closed

[2018-02-15 22:14] #3 closed

[2018-02-16 10:24] ggalmazor commented on #164
@opendatakit-bot claim

[2018-02-16 11:56] ggalmazor commented on #36
@opendatakit-bot claim

[2018-02-16 11:56] ggalmazor commented on #164
@opendatakit-bot unclaim

[2018-02-16 11:57] ggalmazor commented on #36
@opendatakit-bot claim

[2018-02-16 12:24] ggalmazor commented on #36
What would be a reasonable strategy to go about this?

My instinct tells me to load the form inside a test, answer an instance with a `60` and then read the constraint error somehow. Is this feasible? Are there any examples of this kind of tests that I could study?

I've already discovered that on `XFormParserTest` I can `parse(r("constraint-message-error.xml"))` but right now I'm completely lost

[2018-02-16 16:46] grzesiek2010 opened #248 "Doubled tree element that represents a repeat group"
Working on https://github.com/opendatakit/collect/pull/1851 I have noticed an issue on the Javarosa's side which I started describing [here](https://opendatakit.slack.com/messages/C389J6X0W/) two days ago.

The problem is sometimes when I use repeat groups a TreeElement that represents such a group is doubled, please look here:
![formdef](https://user-images.githubusercontent.com/3276264/36317037-

[2018-02-19 03:34] dcbriccetti commented on #248
I don’t know enough about this. I’ll pause to see if someone jumps in with answers.

[2018-02-19 18:06] #164 closed

[2018-02-19 18:25] yanokwa opened #251 "DigestAlgorithmTest fails with mvn but not gradle"
#### Software versions
JavaRosa master

#### Problem description
We use gradle to build the jar for development, but mvn is what we use to package the jar for release. On master, `./gradlew test` works great, but `mvn test` fails with

[code]

#### Other information

I have not looked deeply, but my guess is that there test classes are not in the place mvn expects.

[org.javarosa.xpath.expr.Digest

[2018-02-19 18:32] ggalmazor commented on #251
Is it possible that maven and gradle use different jdks?

[2018-02-19 18:37] #36 closed

[2018-02-19 18:37] ggalmazor commented on #251
Also, can't reproduce the error with `mvn test`.

`mvn -version` tells 3.5.2
`java -version` tells 1.8.0_161

[2018-02-19 18:44] yanokwa commented on #251
I can't reproduce this on CircleCI, so I'm guessing that you are correct and that it's because of my multiple MVN setup.

[2018-02-19 18:45] ggalmazor commented on #251
I totally recommend [SDKMan](http://sdkman.io)!

[2018-02-19 18:45] lognaturel commented on #251
`mvn test` succeeds on mvn 3.5.0, java 1.8.0_112. (maybe I'm due for some updates)

[2018-02-19 18:58] yanokwa commented on #251
I'm using jenv.be instead of SDKMan and it's been working great until now. I can confirm that my mvn is using Java 9.

[code]

To fix, I added created a `~/.mavenrc` file with `JAVA_HOME=$(echo /Library/Java/JavaVirtualMachines/jdk$(jenv local)*/Contents/Home)`

[2018-02-19 18:59] yanokwa opened #253 "Add mvn build to CircleCI"
As described at #251, because we package with mvn, we should probably build with it on CircleCI.

[2018-02-19 18:59] #251 closed

[2018-02-19 20:36] lognaturel opened #256 "Remove use of javax api not included in Android"
#### Software versions
JavaRosa v1.8.0

#### Problem description
#247 uses some classes from `javax` that are not included in Android. Unfortunately that makes JR unusable so an alternative will need to be considered.

CC @ggalmazor @dcbriccetti

[2018-02-19 20:38] dcbriccetti commented on #256
Oh, unhappy face.

[2018-02-19 20:39] ggalmazor commented on #256
@opendatakit-bot claim

[2018-02-19 21:45] #256 closed

[2018-02-20 03:32] #253 closed

[2018-02-20 09:58] ggalmazor commented on #152
Just a quick update: in Briefcase, we've just adopted SLF4J with Logback bindings and JCL over SLF4J bridge for libraries that use JCL.

Also, there is an automatic JCL to SLF4J code migrator that helps you switch all your logging code to SLF4J in one sweep. We've used it on Briefcase too and it works really well.

https://www.slf4j.org/migrator.html

[2018-02-21 02:17] lognaturel commented on #164
@hooverlunch I know this is something you wanted. It's now in the latest Collect beta -- https://forum.opendatakit.org/t/odk-collect-v1-13-beta/11902! Please check it out and make sure it works for your needs.

If you use XLSForm, pyxform will need to be run with Validate disabled until the next Validate release.

[2018-02-21 18:00] hooverlunch commented on #164
Cool! Thanks! Looks good to me...

[2018-02-22 07:38] ggalmazor commented on #152
I'm thinking about taking this one. Before that, I wanted to know your opinion about what level should we use to migrate current `System.out` messages. One possibility would be to use `INFO` but I haven't yet reviewed how this is used on the code (maybe it's used for debug messages, I don't know).

What do you think?

[2018-02-22 07:45] dcbriccetti commented on #152
Keep in mind we have hooks into our writes to “out” (for @batkinson, was it?)

[2018-02-22 07:46] ggalmazor commented on #152
:O Can you elaborate?

[2018-02-22 07:47] dcbriccetti commented on #152
See `org.javarosa.core.io.Std`.

[2018-02-22 09:07] ggalmazor commented on #152
Since all the code is going to migrate to slf4j, I'm thinking about deprecating:
- `org.javarosa.core.api.ILogger`
- `org.javarosa.core.services.Logger`

I'm in doubt with `Logger.die()`. It would have this implementation now:

[code]

What do you think?

[2018-02-27 12:13] grzesiek2010 opened #263 "Select ones with spaces are not loaded on edit"
#### Software versions
JavaRosa v2.8.0 and older versions

#### Problem description
Select ones with spaces are not loaded on edit

[selectSpace.xml.txt](https://github.com/opendatakit/javarosa/files/1762519/selectSpace.xml.txt)
[selectSpace.xlsx](https://github.com/opendatakit/javarosa/files/1762520/selectSpace.xlsx)

#### Steps to reproduce the problem
1. Load the attached form.
2. Select "za mu

[2018-02-27 14:45] yanokwa commented on #263
I agree that we don't want to solve this with `select_multiple` because they are used for separators. But for `select_one` there is no reason that I can think of to prevent spaces.

@martijnr does Enketo allow saving `select_one` values with spaces?

[2018-02-27 14:48] grzesiek2010 commented on #263
@yanokwa so probably we can use my fix https://github.com/grzesiek2010/javarosa/commit/549d05df71c53ba0b5e56fdff959bf59d8c3ca02

I'll test it and file a pr.

[2018-02-27 14:50] grzesiek2010 commented on #263
@opendatakit-bot claim

[2018-02-27 14:50] grzesiek2010 commented on #263
@opendatakit-bot claim --force

[2018-02-27 18:23] MartijnR commented on #263
It does, but its developer actually frowns upon this ;). My reasoning is that:

- it's confusing to users to have these different rules for such similar question types
- it should be possible to turn a select_one into a select_multiple without problems

[2018-02-27 20:44] yanokwa commented on #263
Your reasoning is pretty sound, @MartijnR. Here's what I propose.

1. ODK Build prevents spaces on both. We should do nothing.
1. pyxform prevents spaces on select_multiple. We should add space prevention on select_one.
1. JavaRosa warns on both. We should do nothing.
1. Collect/JavaRosa doesn't properly save on select_one. We should change it so it saves.
1. Collect/JavaRosa doesn't properly save

[2018-02-27 20:53] MartijnR commented on #263
Sounds great. I need to add a similar warning in Enketo, because the contents of external data are not checkable at the time of form validation, so there's always a chance for options with spaces to slip through.

[2018-03-01 16:08] grzesiek2010 opened #266 "An original repeatGroup child exists after reading answers using the populate method"
I noticed a strange behavior in the [populate](https://github.com/opendatakit/javarosa/blob/master/src/org/javarosa/core/model/instance/TreeElement.java#L708) method.
I use a simple form with repeat group:
[simpleFormWithRepeatGroup.xml.txt](https://github.com/opendatakit/javarosa/files/1771754/simpleFormWithRepeatGroup.xml.txt)
I fill this form adding three groups:
![screenshot_2018-03-01-16-42-4

[2018-03-01 16:08] grzesiek2010 commented on #266
@dcbriccetti do you know something about it? or maybe @mdudzinski

[2018-03-01 16:13] grzesiek2010 commented on #248
@mdudzinski I don't know (not in the code I discovered as I remember) but I'm sure it's not related to serialization. The problem is that we use `jr:template=""` for repeat groups but sometimes it doesn't exist it's not necessary.

[2018-03-01 20:42] lognaturel commented on #266
My initial thought is that the first group is the template. There doesn't seem to be any conditionals in case there is no template, though so I'm less certain. As a reminder, `jr:template` is an optional attribute. When present, it means that the group provides defaults and will not be included in the submitted record. See https://opendatakit.github.io/xforms-spec/#default-values-in-repeats

What

[2018-03-01 20:51] lognaturel commented on #248
See my comment at https://github.com/opendatakit/javarosa/issues/266#issuecomment-369724087 for more about what `jr:template` is for. If `jr:template=""` is not included on a `repeat` then that repeat group is part of the record.

Can you say more about what you mean by this? Forms with and without `jr:template` are supposed to have different behavior. It sounds like maybe that wasn't clear to you

[2018-03-02 13:26] grzesiek2010 commented on #266
then in my first step (before calling the populate methods), I can see two repeat groups (it was one before) and after it's four like before.

yes.

[2018-03-02 13:30] grzesiek2010 commented on #248
I thought we always set multiplicity for `-2` (for repeats) even if it doesn't have `jr:template` but looking at the code it's `-2` if `jr:template` exists and 0 otherwise what cause the problem with a doubled element.

[2018-03-02 13:41] grzesiek2010 commented on #266
@lognaturel yes probably that extra element is needed as a template your second question helped me I tested it with changes I was thinking about https://github.com/grzesiek2010/javarosa/commit/5dde9852dd24d069ea9376e7d9a9233f8021ca84 and looks like it's for that.

Thanks. I'm going to close this issue for now and handle this case on the Collect's side.

[2018-03-02 13:41] #266 closed

[2018-03-02 14:00] grzesiek2010 commented on #248
I thought we use multiplicity `-2` for all repeats but it's for templates only my bad. But I'm still not sure why we need to double that element...

[2018-03-03 00:24] lognaturel commented on #263
@grzesiek2010 Please do issue a pull request, your fix looks good! 😊

[2018-03-05 03:30] #263 closed

[2018-03-05 05:29] lognaturel commented on #226
The issue with `calculates` (`now3` in the sample form) still needs to be addressed.

[2018-03-06 09:31] ggalmazor commented on #226
I'd want to work on this one but I'm failing to write a test that would let me check my work. I'm using the following simplified form:

[code]

I'm doing this to parse this form on a test:

[code]

In my test, I'm doing this:

[code]

I'd expect `questionText` to have some content derived from the `now` field on the instance, but I'm getting an empty string...

Any ideas?

[2018-03-06 10:17] ggalmazor opened #271 "Possible incoherence/errors on date/time parsing code"
While working on other things, I've noticed this method on `DateUtils`:

[code]

Manually parsing date/times tends to be a pain and a common bug source in my experience and I thought that maybe we could get rid of maintaining that by simply using Joda time, which we're currently depending on for other stuff as well.

I changed the method to this:

[code]

And then tests start to fail. If our parsi

[2018-03-06 10:45] ggalmazor commented on #152
Just waiting for feedback, @opendatakit-bot. Thanks for asking

[2018-03-12 22:13] lognaturel commented on #226
I don't think the `calculate` ever gets evaluated with your way of loading the form. I've verified that with something like this:
[code]
your test code then does show just the date part of `now()`.

@dcbriccetti do you have a simpler strategy?

[2018-03-13 03:16] lognaturel opened #273 "Add randomize(nodeset) and randomize(nodeset, seed) functions"
See https://github.com/opendatakit/xforms-spec/issues/51#issuecomment-371910870

* Use Fisher-Yates for shuffling
* If a seed is provided, that seed is passed when building a `Random` object. `nextInt` is used to get random values
* Tests and expected values should be shared on the XForms spec issue so other implementations can verify their outcomes are the same

[2018-03-13 17:51] ggalmazor commented on #226
Thanks for the tip @lognaturel. That got me on track again :)

It's true that we still need to change the implementation of `Recalculate.wrapData(Object val, int dataType)` for `val` values that are instances of `Date` as @mdudzinski is suggesting but even if we change the type of that model to `dateTime`, using that model in an `<output>` will get only the date part out.

This is because `XPathFu

[2018-03-13 23:18] #226 closed

[2018-03-14 15:47] grzesiek2010 opened #275 "Required message ignored when jr:requiredMsg is set"
#### Software versions
JavaRosa v2.8.1 and 2.8.0

#### Problem description
`jr:requiredMsg` on bind is ignored.

It was originally reported here: https://github.com/opendatakit/collect/issues/2013

#### Steps to reproduce the problem
1. Load a form with a required message such as
[required.xml.txt](https://github.com/opendatakit/javarosa/files/1811859/required.xml.txt)
2. Swipe forward on the firs

[2018-03-14 15:48] lognaturel commented on #275
Sigh. Well now we'll never forget what the whitelist is for.

[2018-03-14 15:49] grzesiek2010 commented on #275
@opendatakit-bot claim

[2018-03-14 16:35] grzesiek2010 commented on #275
I prepared a form which contains all affected attributes (`requiredMsg`, `saveincomplete`, `rows`):
[attributes.xml.txt](https://github.com/opendatakit/javarosa/files/1812036/attributes.xml.txt)

Here is a `FormEntryPrompt` object for my `text` question:
![prompt2](https://user-images.githubusercontent.com/3276264/37416199-731a874a-27ad-11e8-8b66-17f4b5d9ace0.png)

As you can see `requiredMsg` and

[2018-03-14 22:25] lognaturel commented on #275
The change from #238 was good, it just wasn't complete. Other attributes are explicitly saved but the newly whitelisted ones aren't. Now that they're not ending up in the `additionalAttributes` collection, they're ignored.

It would be ideal to explicitly handle the newly whitelisted attributes in the same way as the others (in other words, `requiredMsg` should be treated the same way as `constrai

[2018-03-15 18:45] lognaturel commented on #275
I wasn't sure how to describe what I had in mind so I set it up at #276. It's a bigger change than your proposal @grzesiek2010 but I think it makes the intent more clear since this is an odd thing we're doing.

[2018-03-15 23:57] lognaturel opened #277 "Add distance(nodeset<geopoint> | geoshape | geotrace) function"
https://opendatakit.github.io/xforms-spec/#fn:distance

https://github.com/opendatakit/xforms-spec/issues/129

[2018-03-20 03:53] #275 closed

[2018-03-20 10:45] grzesiek2010 opened #278 "Swiping back when you are behind a repeat group with a regular group inside doesn't work"
#### Software versions
JavaRosa v2.8.1

#### Problem description
Swiping back when you are behind a repeat group with a regular group inside doesn't work.
[repeat_group_new.xml.txt](https://github.com/opendatakit/javarosa/files/1828926/repeat_group_new.xml.txt)

#### Steps to reproduce the problem
1. Open the attached form
2. Add a couple of repeats
3. Swipe to the end of the form
4. Swipe back, s

[2018-03-20 10:45] grzesiek2010 commented on #278
@opendatakit-bot claim

[2018-03-20 18:47] lognaturel commented on #273
I started exploring this a bit and it's trickier than I originally imagined. `ItemsetBinding` is built on a path expression, not an arbitrary expression containing function calls.

[2018-03-21 23:08] #278 closed

[2018-03-22 14:13] mmarciniak90 opened #281 "Message in jr:requiredMsg is ignored if it contain only capital letters"
#### Software versions
JavaRosa v2.8.1

#### Problem description
Message in jr:requiredMsg is ignored if it contain only capital letters

#### Steps to reproduce the problem
1. Start a form with a required message
[attributes.xml.txt](https://github.com/opendatakit/javarosa/files/1837845/attributes.xml.txt)
2. Swipe forward

#### Expected behavior
A custom message should be shown.

[2018-03-22 14:43] mmarciniak90 opened #282 "User sees additional time for saved form with time component of now()"
#### Software versions

#### Problem description
User sees additional time for saved form with time component of now()

#### Steps to reproduce the problem
1. Start form: [ShowTime.xml.txt](https://github.com/opendatakit/javarosa/files/1837940/ShowTime.xml.txt)
2. User sees

| | |
| --- | --- |
| ![screenshot_20180322-153427](https://user-images.githubusercontent.com/3907554/37776992-6e78a9d8-2dde

[2018-03-26 17:25] lognaturel commented on #273
Here's a quick and dirty first stab at the function itself: https://github.com/lognaturel/javarosa/tree/randomize The real challenge comes in actually using it.

The intended usage is something like
[code]
[randomize.xml.txt](https://github.com/opendatakit/javarosa/files/1848762/randomize.xml.txt)

`parseItemset` in `XFormParser` currently fails because there are places where it expects XPath path

[2018-03-27 00:45] lognaturel commented on #273
Interestingly, someone just asked a question about using the result of two repeats as the options for a select -- https://forum.opendatakit.org/t/two-repeating-group-and-filtering-specific-field-data/12452. This should be possible by setting the `nodeset` to something like `/my-form/people1 | /my-form/people2` (`|` is the union operator) but we run into the same limitation.

[2018-03-27 03:54] yanokwa opened #284 "Calculates fire even when not relevant"
From @lognaturel during the discussion at https://forum.opendatakit.org/t/odk-collect-calculate-fires-even-when-not-relevant/8923

[2018-03-27 10:32] ggalmazor opened #285 "Migrate tests to jUnit4"
We currently have 22 test classes that use the old `TestCase` jUnit API.

Modern tools and IDEs support jUnit4's `@Test` annotations that let us have more useful interactions with the test code base:
- Improved test result reports, by separating each test's results.
- Run only one test suite/class/method or a set of them

I'm proposing we migrate the 22 test classes to jUnit4's modern API. To do s

[2018-03-27 10:46] ggalmazor opened #286 "Migration to Java8"
While working on #272, I discovered some weird inconsistencies on how we deal with dates, times and timezones in JR. My rationale for pursuing this was "since we're using Joda Time for date/time stuff, we shouldn't implement anything date/time related and delegate on Joda, which is far more battle-tested than JR".

But then, why don't we migrate JR to Java8 and use the official, native, immutable

[2018-03-27 10:47] ggalmazor commented on #286
@opendatakit-bot label "needs discussion"

[2018-03-28 11:31] grzesiek2010 commented on #248
After working on repeat sections in Collect I understand it better. I think it works as expected similar to #266 so I'll close this issue.

[2018-03-28 11:31] #248 closed

[2018-04-03 02:33] lognaturel commented on #286
Collect uses Java 8 already (https://github.com/opendatakit/collect/blob/4fbbefe5c0451b0a0592fae4bda59bdc2723cea1/collect_app/build.gradle#L146) so this sounds great to me!

[2018-04-04 14:51] ggalmazor commented on #286
OK, I've spent some time exploring the consequences of migrating to Java8. The migration on itself it's pretty easy: just bump source&target version to 1.8 on Gradle and Maven. I'm creating a PR to deal with that.

Regarding the Date/Time API, we can start by removing Joda from the dependencies list and migrate all depending code to the new Date/Time API.

That alone would be great, but then we sh

[2018-04-04 14:59] ggalmazor opened #290 "Remove Joda and migrate to Java8 Date/Time API"
This issue depends on solving #286

Java8 comes with a new and improved Date/Time API that removes the need of depending on Joda for date-time operations.

We should remove the dependency on Joda and migrate all the code with the new Date/Time API.

[2018-04-04 15:12] ggalmazor opened #291 "Migrate date and time code to the new Java8 Date/Time API"
This issue depends on solving #286 and #290

Currently, our date and time code is based on `java.util.Date` which can unpredictable sometimes and generally difficult to work:
- It is mutable and doesn't have timezone/offset information.
- Testing with `Date`objects is a pain because it's hard to get a `Date` for a particular date and `Date` objects are equal by reference, not by value. Also, timez

[2018-04-04 20:19] lognaturel opened #293 "current() in choice filter is inconsistent with current() elsewhere"
This has come up because there's some desire to have pyxform output relative references in repeats: https://github.com/XLSForm/pyxform/issues/4. That would be in better conformance with W3C XForms and would allow for choice filters in repeats. Currently ${fieldname} syntax is always expanded to `/absolute/path/to/node` even when in a repeat. In W3C XForms, that should always evaluate to the first

[2018-04-04 20:27] MartijnR commented on #293
I wonder if doing a simple analysis to detect whether the XForm relies on the bug as follows would be sufficient to switch to `current-bug-compliant` mode in JavaRosa:

If expression matches `/current\(\)\/[^.]+/` switch to `current-bug-compliant` mode.

This relies on the syntax where `current()/` is not followed by a `.` (or `..`). It may catch close to 100% of all the (very few) hand-coded form

[2018-04-04 20:31] lognaturel commented on #293
I'm really not all that worried about breaking currently-existing forms. I don't expect there are very many and I think as long as we communicate it carefully it can be managed. But I think your idea is a very good one so thank you for that!

I'm more worried about the day when pyxform starts using relative references for choice filters. Ideally that day would be a while after this is fixed here a

[2018-04-04 20:43] #152 closed

[2018-04-04 20:45] #286 closed

[2018-04-05 16:41] lognaturel opened #294 "Add rank form control element in odk namespace"
The `rank` form control element can be used the same way as `select` but the order of the resulting space-separated results list is meaningful.

Because `rank` is not defined in any other known XForms spec, it should be introduced in the `http://opendatakit.org/xforms` namespace: https://opendatakit.github.io/xforms-spec/#namespaces and https://github.com/opendatakit/xforms-spec/issues/73#issuecom

[2018-04-13 04:53] #290 closed

[2018-04-16 19:09] dcbriccetti commented on #277
Just to clarify,

This distance is the sum of the great circle distances (arcs over the Earth’s surface) between each point and the previous, starting with the 2nd point. Yes?

[2018-04-17 20:43] lognaturel opened #299 "Add used attributes identified in #283 to passed through lists to avoid warnings"
Some attributes used by clients result in warnings because Javarosa is not aware of them. #276 removed warnings for some. #283 identifies others that still result in warnings.

All should be passed through except for `orx:max-pixel` which is still a quite recent addition and can be done right by adding a field.

[2018-04-20 16:56] dcbriccetti commented on #277
I’m coordinating with Martijn on a common implementation and shared tests, and after reading some background from him, think we should leave the area calculation alone, despite its imprecision.

[2018-04-20 17:29] lognaturel opened #301 "Value of once(random()) is serialized and random() behaves like once(random()) should"
Reported at https://forum.opendatakit.org/t/random-numbers-are-the-same-by-device/12776

See this form: [random.xml.txt](https://github.com/opendatakit/javarosa/files/1933047/random.xml.txt)

It appears the value computed by `once(random())` is somehow serialized. To confirm this, run in Collect, open several blank forms, edit existing ones and confirm that the second value is always the same. Cle

[2018-04-20 17:39] lognaturel commented on #301
@dcbriccetti I don't think there have been any changes to serialization that might explain this, have there? Quickly reading through `XPathFuncExpr`'s read and write methods doesn't suggest anything odd.

Could the `Random` in `MathUtils` be serialized? That would explain the problem with `once(random())` because then the same sequence (of one value) would always be generated. I don't think it can

[2018-04-20 19:49] dcbriccetti commented on #301
I doubt this can be explained by any recent changes to serialization, but I am looking at it.

[2018-04-20 19:59] dcbriccetti commented on #301
I don’t see anything in the last several years of commits with “serializ” in the comment that would be a factor in this, nor am I aware of any such changes.

[2018-04-25 00:08] dcbriccetti commented on #277
I’ve discovered that the area calculator web tool used to generate test data for our area calculation doesn’t close the polygon when producing its perimeter. The 2,076 meter value is the sum of the lengths of the four sides between the five points moving anti-clockwise from the top-right point.

So, in our tests using this data, we also won’t close the polygons for perimeter calculations.

![area

[2018-04-25 00:12] lognaturel commented on #277
That sounds right. The calculation should use the points defined by the expression passed in and not add any. In the case of a geoshape argument, the first and last point will be the same.

[2018-04-25 00:15] dcbriccetti commented on #277
Good to know. Thanks!

[2018-04-25 04:43] dcbriccetti commented on #277
Getting close to done here.

![screen shot 2018-04-24 at 9 41 46 pm](https://user-images.githubusercontent.com/55099/39226616-5d9743c4-4808-11e8-9347-6c504bd5911e.png)

[2018-04-25 05:31] dcbriccetti commented on #277
OK, reviewers, at your convenience. 3 PRs. 302–304. I’m thinking 15–25 minutes would be needed. And if you like, I’ll even walk you through it if we can coordinate our schedules.

[2018-05-02 17:33] lognaturel commented on #301
In v1.13.0 `once(random())` behaves as it should though `random()` still has the same problem.

[2018-05-02 18:42] lognaturel commented on #301
There's definitely something odd about serialization in JR 2.9.0 though I still don't see code to explain it. If I open random.xml in Collect v1.14.0, it gets serialized/cached. Then if I downgrade to v1.13.0, open that same form and debug `FormLoaderTask.initializeForm`, I see that the values for the two calculates are in `FormDef` already. Since I'm opening a new form to fill, those should be bl

[2018-05-02 18:58] lognaturel commented on #301
And we have a winner! If I check out the commit before https://github.com/opendatakit/collect/pull/1829/files, the behavior is correct. If I check out the commit after, it's wrong.

@dcbriccetti you have more context on that PR so it would be very helpful to get your insights. I wouldn't be opposed to reverting that commit as a first pass -- it seems to slow down form load in addition to causing t

[2018-05-08 15:39] #273 closed

[2018-05-09 17:38] dcbriccetti commented on #277
I need to complete so that it satisfies:

[2018-05-10 03:37] dcbriccetti opened #309 "Geo classes ignore bad inputs"
#### Software versions
JavaRosa v2.9.0

#### Problem description
GeoPointData (and probably GeoShapeData and GeoTraceData) are very “accepting”—to be generous—in the inputs they process. All sorts of garbage is silently turned into 0s.

#### Steps to reproduce the problem
Run GeoDistanceTest.
Change the numbers in this section of distance.xml to invalid values (such as non-numeric ones) and run ag

[2018-05-15 22:49] lognaturel opened #314 "Collect runtime error when trying to access ZoneId, LocalDateTime introduced in Android 26"
From user report at https://forum.opendatakit.org/t/odk-collect-v1-15-beta/13086

@ggalmazor can you please take a look and see if you have some good alternative ideas? We can always go back to joda.

It's good that we're getting QA involved in JR pull requests and we should make sure all of them go through the process! IntelliJ also does mark recent Java additions by default so when it does it wo

[2018-05-18 16:31] #314 closed

[2018-06-04 21:24] grzesiek2010 opened #318 "Distance function doesn't work if shape/trace has only two points"
#### Software versions
JavaRosa v2.10.0

#### Problem description
Distance function doesn't work if shape/trace has only two points

@kkrawczyk123 was right https://github.com/opendatakit/javarosa/pull/308#issuecomment-389180325 and I can confirm there is a bug

[2018-06-04 21:24] grzesiek2010 commented on #318
@opendatakit-bot claim

[2018-06-04 23:26] grzesiek2010 commented on #281
@opendatakit-bot claim

[2018-06-08 10:52] grzesiek2010 opened #320 "Constraint message doesn't work if it's only one word and without itext function"
#### Software versions
JavaRosa v2.10.0

#### Problem description
Constraint message doesn't work if it's only one word and without `itext` function

[constraint_without_itext.xml.txt](https://github.com/opendatakit/javarosa/files/2084061/constraint_without_itext.xml.txt)
[constraint_with_itext.xml.txt](https://github.com/opendatakit/javarosa/files/2084062/constraint_with_itext.xml.txt)

#### Step

[2018-06-08 10:53] grzesiek2010 commented on #320
@opendatakit-bot claim

[2018-06-13 22:49] MartijnR opened #322 "null = nodeName"
You may not like reading this .... ;)

Apparently this works in Collect as a check to see whether name1 has a value:

`not(${name1} = null)`

That is really quite wrong.

What I think should happen is that the XPath evaluator should look for the node `<null>` that is a child of the evaluation context and compares the string value of that node (if it exists) with the string value of `<name1>`.

You

[2018-06-14 00:09] lognaturel commented on #322
Very interesting! I'm curious to know how you've come across this quirk. Did someone stumble onto it?

[2018-06-14 04:31] #294 closed

[2018-06-14 15:59] MartijnR commented on #322
Yes, someone was using this and wondered why it wasn't working in Enketo. (I advised to replace `null` with `""`). First, I was surprised to see it didn't throw an Exception (in the browser XPath evaluator) and then realized it's just treated like a path to a node.

[2018-06-25 12:16] grzesiek2010 opened #327 "Constraint and null value"
#### Problem description
I have been supporting users on the forum for a long time and many times I noticed that it's strange and annoying that constraint is ignored when a value is null.
I know that in some cases we can solve the problem just making a question required but not always. Maybe I can't recall all cases but I'll try to describe some of them:

**Case 1: Can't use constraint in `questio

[2018-06-25 22:56] lognaturel opened #328 "randomize can't be used with choice filter that has comma"
#### Software versions
JavaRosa v2.10.x

#### Problem description
Trying to randomize an itemset with a choice filter such as `randomize(instance('fruit')/root/item[selected(/filter-rank/fruit, name)])` leads to an error because whatever is after the comma tries to be used as a seed (in this case `name)]`).

#### Steps to reproduce the problem
1. Transfer a form with a randomized list with choice

[2018-06-26 06:09] ggalmazor commented on #328
@opendatakit-bot claim

[2018-06-26 13:04] ggalmazor commented on #328
I've created a PR with a solution. The solution relies on detecting a `[` in the nodeset definition, which would indicate a choice filter being used and, potentially, a comma in the first arg.

Can you think of more cases of a comma in the first arg which don't involve using the `[` in the nodeset definition?

[2018-06-26 14:53] lognaturel commented on #328
That seems fine to me! I can't think of another case that would include a comma currently.

[2018-06-26 19:30] #328 closed

[2018-06-27 03:56] jd-alexander opened #330 "CompactSerializingVisitor throwing a NPE"
#### Software versions
JavaRosa v2.11.0-SNAPSHOT

#### Problem description
When a compact representation of a form is being generated and there's no prefix a `NullPointerException` is being thrown [here](https://github.com/opendatakit/javarosa/blob/1547174f521c47335cc4d87dc5c6638ef93ea570/src/org/javarosa/model/xform/CompactSerializingVisitor.java#L126) since the `resultText` isn't initialized wit

[2018-06-27 19:17] #330 closed

[2018-06-29 14:37] grzesiek2010 opened #332 "Distance is not calculated properly when using Geopoint data type"
#### Software versions
JavaRosa v2.10.0

#### Problem description
Working on https://github.com/opendatakit/javarosa/issues/318 I noticed a problem with a result of distance function calculated using Geopoint data type.
Here is a sample form:
[distance.xml.txt](https://github.com/opendatakit/javarosa/files/2149758/distance.xml.txt)

and an instance saved using the attached form.

[code]

As you ca

[2018-06-30 01:43] dcbriccetti commented on #332
Why is that empty <point> tag there? I think it’s a factor.

[2018-06-30 02:01] dcbriccetti commented on #332
How can I use that form in Collect? That’s what you’re doing, right? I get a dialog box saying, “Add One More Group? Add another "null" group?

[2018-07-02 22:49] lognaturel commented on #293
Real human running into this: https://forum.opendatakit.org/t/indexed-repeat-problem/13821

Testing suggestions: https://forum.opendatakit.org/t/current-in-xpath-predicate/4982/14

[2018-07-03 03:48] lognaturel commented on #332
@dcbriccetti The body is wrong. You can replace it with something like:
[code]
You'll still see that dialog but you should then be able to add a point.

[2018-07-03 03:52] lognaturel commented on #332
Actually, the instance is also wrong. It should be
[code]

@grzesiek2010 you generated this form by hand, right?

[2018-07-04 03:43] lognaturel commented on #293
If you were wondering whether it might be possible to change `qparent` to `q` at https://github.com/opendatakit/javarosa/blob/ae68403ceff8d5ed2fb5d8d09d4145523b337bf6/src/org/javarosa/xform/parse/XFormParser.java#L1323

you will be pleased to learn that it does indeed have the desired effect. I don't know what the consequences are yet.

Why can't we just set the nodeset ref right there? The commen

[2018-07-04 20:58] grzesiek2010 commented on #332
No, actually @dcbriccetti is an author of this form:
https://github.com/opendatakit/javarosa/blob/master/resources/org/javarosa/core/util/distance.xml

[2018-07-04 21:00] grzesiek2010 commented on #332
You can just add one group and save such a form, results should be in an instnce file like the one I attached.

[2018-07-05 06:10] dcbriccetti commented on #332
I changed the form to this
[code]
I collected a few points around the house, and got this data back:
[code]
I haven’t checked the correctness yet, but 2.4 meters seems very small. I captured logging data and all three pairs of points were used to calculate distances. I don’t recall if our algorithm is supposed to work with distances in the units or low tens of meters.

[2018-07-06 22:16] lognaturel commented on #293
I've put a form that illustrates the issue at https://github.com/opendatakit/javarosa/compare/master...lognaturel:javarosa-293 along with an exploratory test that I can't get to work quite right yet. I've had the most luck debugging from Collect. If you run the form there, you should see that the variety choices are never populated.

Now that I've looked at this more closely, I don't think we need

[2018-07-10 01:16] #318 closed

[2018-07-11 19:14] lognaturel opened #336 "Add tests that use `current()` at various levels of nesting in relevants, constraints, etc"
Something like `test_repeat_relative_reference` and `test_calculate_relative_path` at https://github.com/XLSForm/pyxform/pull/187/files. Those forms are heavily based on manual inspection so the trick will be to verify the same things programmatically and perhaps with a form that's a bit easier to understand.

Cases around itemsets will be addressed by #293.

[2018-07-11 19:15] #320 closed

[2018-07-17 01:22] #227 closed

[2018-07-19 17:24] yanokwa opened #345 "Enforce odk namespace for rank?"
From https://github.com/opendatakit/javarosa/pull/343#issue-202408494

[2018-07-20 09:36] Divya21 opened #346 "error: cannot find symbol method instance()"
error: cannot find symbol method instance() is shown at the run time only.

Wherever the ReferenceManager.instance() is used, the error is shown on those lines. Even it has imported the right one i.e. :
import org.javarosa.core.reference.ReferenceManager;

While compiling, there is no error. In the gradle I have added the dependency of javarosa as mentioned below:
implementation("org.opendatakit:o

[2018-07-20 17:33] #293 closed

[2018-07-23 21:37] lognaturel commented on #346
@Divya21 Can you explain what overall goal you're trying to achieve? Where are you using this code?

[2018-07-23 21:53] lognaturel opened #348 "Add unit tests for TreeReference.anchor and TreeReference.parent"
#341 added some more details to the comments for `anchor` and `parent`. It would be good to support that language with unit tests.

An example from @dcbriccetti of verifying preconditions:
[code]

This will also be helpful for validating the change in 507f56de64874f51257829f6825beeffd717b3b6 where `parent` was replaced by `anchor`. For this aspect, the important thing will be to confirm that the t

[2018-07-23 22:29] lognaturel opened #349 "Improve and augment tests around relative paths, especially in choice filters"
#335 introduced some tests on using `current()` in an itemset context. These are pretty low-level and not entirely targeted (e.g. they always do a "round trip" with verification that values are properly written back out).

On that PR, @ggalmazor discussed a few directions that could be taken to make these tests easier to read. For example, a method `answerQuestion(string, string)` could be introdu

[2018-07-23 22:40] lognaturel commented on #349
@ggalmazor I know you have some of this already in a branch and that there's overlap with #334 so I think it makes sense for you to take on.

The additional tests must be in before the next JR release to add more confidence around #335.

[2018-07-24 02:17] lognaturel commented on #349
Overlap with #336

[2018-07-25 06:50] ggalmazor opened #351 "Replace static members with a new ControlType enum"
Control types are defined as static int members in the `Constants` class. Instead of that, we should have a `ControlType` like this:

[code]

[2018-07-25 12:49] grzesiek2010 opened #352 "Problem with calculate expressions for area"
#### Software versions
JavaRosa v1.11.0

#### Problem description
I can not load a form that has the calculate function area(). An error is thrown when I try to open the form for filling.

https://forum.opendatakit.org/t/problem-with-calculate-expressions-for-area-in-v1-16-0/14219

#### Steps to reproduce the problem
1. Try to open the attached form.

[2018-07-25 12:49] grzesiek2010 commented on #352
@opendatakit-bot claim

[2018-07-25 17:19] ggalmazor commented on #349
I have a question about the optional `<submission>` element inside a form's model. According to the [documentation](https://opendatakit.github.io/xforms-spec/#submission-attributes), we can expect `action`, `method`, `base64RsaPublicKey`, `orx:auto-send`, and `orx:auto-delete` attributes.

In `XFormParser.parseSubmission(Element submission)` checks these attributes, but it also checks for `bind`,

[2018-07-25 17:34] #351 closed

[2018-07-25 17:50] ggalmazor commented on #349
I have another question about the `setvalue` action. I've tried to think about creative uses of this action that would involve relative xpaths to siblings inside a repeat group. Something that could justify the use of `current()`:

[code]

The parser is complaining about this form with this error: ` XPath evaluation: Attempt to parent past the root node current()../person`

[2018-07-25 19:31] lognaturel commented on #352
Thanks for filing and resolving this so quickly, @grzesiek2010. 👍

[2018-07-26 01:47] lognaturel commented on #349
I've never seen this before and didn't know it was possible. My guess would be that a client could use that to only send the subtree described by that node. I don't believe Collect does that but would be good to check if it does use it. I think this is safe to ignore.

We already actually have a good form for this -- `nested-setvalue-action-with-repeats.xml`. But it abuses the issue at https://ope

[2018-07-31 12:24] grzesiek2010 opened #355 "Complex boolean expressions cause stackoverflow on deserialization with 16k stack"
#### Software versions
JavaRosa v2.11.2 and older versions

#### Problem description
Reported by a user https://forum.opendatakit.org/t/crash-when-opening-form-more-than-once/14264
Form: [S_21836_eng_v3.xlsx](https://github.com/opendatakit/javarosa/files/2245276/S_21836_eng_v3.xlsx)

#### Steps to reproduce the problem
Reproduced using Android 4.1.2 and the attached form.

1. Open the attached for

[2018-07-31 20:09] lognaturel commented on #355
In general I think we shouldn't spend time on stack overflows and other crashes related to device performance unless they affect higher-end devices or happen consistently. We can recommend that users try simplifying their expressions (and then clearing the form cache), closing other applications and restarting their phones. Given that this is an Android 4.1.2 device (16k stack) and that as @grzesi

[2018-08-03 11:12] grzesiek2010 opened #356 "Required message doesn't work if it's only one word and without itext function"
#### Software versions
JavaRosa v2.11.2 and older versions

#### Problem description
It's a similar problem to #320

The method that returns `requiredMsg` is in Collect https://github.com/opendatakit/collect/blob/master/collect_app/src/main/java/org/odk/collect/android/logic/FormController.java#L893

I could fix the issue quickly there but since I fixed #320 and know how it works I don't like the

[2018-08-06 09:35] ggalmazor commented on #349
Should we create an issue for this?

[2018-08-06 09:56] ggalmazor opened #357 "Specify the correct Java image for CircleCI builds"
#### Problem description
A recent update on the CircleCI image we use to build JavaRosa has bumped it to use Java 10.0.2 (Oracle), which has deprecated some stuff we are using.

This change makes our builds fail.

#### Expected behavior
The build should use Java 8u171 to work correctly

[2018-08-06 12:11] #357 closed

[2018-08-06 12:12] lognaturel commented on #357
Could/should we also look at not relying on the deprecated code? What are the things causing problems?

[2018-08-06 12:14] lognaturel commented on #349
Yes, good idea. I guess you can omit that test here and the test can go with the fix for easy tracking.

[2018-08-06 18:10] ggalmazor commented on #357
I'm sorry. I claimed that this was what was breaking the build when, in fact, JavaRosa was having the same incompatibility issues with JaCoCo like Briefcase (the log started with deprecation _warnings_ and the actual JaCoCo error was down the bottom of the scroll.

Having said that, these are the deprecation warnings we're getting:

[code]

As you can see, most of them come from boxing primitives.

[2018-08-09 08:03] ggalmazor opened #360 "Wrong anchor base element in setvalue actions"
#### Software versions
JavaRosa v2.11.2

#### Problem description

Consider the following form:

[code]

(don't mind the field names)

The key thing to consider here is that `/data/repeat_group/selected_person` uses a `setvalue` action to set the value of a field taking it from a sibling, whenever that sibling changes its value.

The parser is complaining about this form with this error: `XPath ev

[2018-08-09 10:30] ggalmazor commented on #349
@lognaturel, it turns out that this last check we figured out doesn't make sense:
- A label's `ref` attribute only accepts a call to `jr:itext(string id)`
- Dynamic itext ids are not supported. We try to match the id literally against all the defined translation ids

After seeing this, I think it doesn't leave much room for augmenting the test suite for `current()` around labels and itext.

[2018-08-10 15:05] #348 closed

[2018-08-14 14:49] ggalmazor opened #362 "Wrong TreeReference.parent(TreeReference baseReference) output"
#### Software versions
JavaRosa v2.11.2

#### Problem description
Given the following code example:

[code]

`output` is null, which is wrong.

#### Steps to reproduce the problem
There's a test case in `TreeReferenceParentTest` that reproduces this scenario.

#### Expected behavior
`output` should be a `TreeReference` pointing to an equivalent xpath of `bar/foo`.

#### Other information
N/A

[2018-08-17 07:01] #349 closed

[2018-08-17 10:33] ggalmazor commented on #360
Hi, @lognaturel.

When you say that "it should use the current context", what do you mean by it?

I see that `FormDef.getAbsRef()` takes an `XPathReference` as a first arg and a parent `TreeReference` as a second arg. I understand that we need to change the second arg and intuitively I'd like to pass the `TreeReference` of the parent input element, but I don't find any way to produce a `TreeRefere

[2018-08-17 10:48] ggalmazor commented on #362
So, `TreeReference.parent(TreeReference baseReference)` has a doc block saying:
[code]

Can anyone remember why this limitation was set?

[2018-08-17 11:08] ggalmazor commented on #362
There's something that I can't understand what purpose it serves in the `TreeReference.parent()` implementation:

[code]
(the `if (refLevel > 0)` block)

I'd want to understand this, because by removing it and fixing the levels like in `anchor()` we get the behavior we want:

[code]

Also notice that this is almost the same as anchor's implementation:

[code]

[2018-08-17 11:10] ggalmazor commented on #362
With a small tweak we could '../../../foo'.parent('bar/baz') into '../foo', which is weird but valid.

[2018-08-21 03:45] lognaturel commented on #349
@ggalmazor When you wrote that, I was imagining something like https://github.com/XLSForm/pyxform/pull/187#issuecomment-378726604 where the label of the select uses a relative expression with `current()`. It's another one of those places where `current()` isn't strictly necessary but I think it's a slightly different than the existing cases because `label` is a child of the `select1` but has the s

[2018-08-21 04:06] lognaturel commented on #360
The second param to `dataRef = FormDef.getAbsRef(dataRef, TreeReference.rootRef())` means that everything is anchored to the root. The rules for defining the current context node are at https://www.w3.org/TR/2001/WD-xforms-20011207/slice7.html#expr-eval. So yes, you're right that it should inherit from the parent input element. But now I've gotten myself confused -- should the `ref` on the `input`

[2018-08-21 06:28] ggalmazor commented on #349
Ooooh, that's a good one I didn't think about!

I'll explore that `<output>` example. If it turns out it doesn't add coverage, would you want to still leave it as an example use case of `current()`?

[2018-08-21 06:59] ggalmazor commented on #360
In the test's example there's no repeat (I though it was enough to test the setvalue-current combination). Do you think we should change it so that the input is inside a repeat?

[2018-08-23 14:30] ggalmazor commented on #360
See https://github.com/ggalmazor/javarosa/tree/issue_360_fix_setvalue_with_current

[2018-08-23 18:14] lognaturel commented on #349
I think it'd be good to have an example like that with a relative reference. Not sure if it should really use `current()`.

Maybe something to consider is to have a series of tests that demonstrate where expressions with `current()` evaluate to the same thing as expressions with `.` and where they don't. That might be a better place for comments we've been discussing at https://github.com/opendata

[2018-08-23 21:09] grzesiek2010 opened #363 "Next release will break ODK Collect and probably other tools"
#### Problem description
It's because of https://github.com/opendatakit/javarosa/pull/354
We can no longer use those edited values as constants in switch statements:

![screenshot from 2018-08-23 23-03-27](https://user-images.githubusercontent.com/3276264/44552031-31744000-a729-11e8-9a20-04e80dfd79bf.png)

[2018-08-24 12:58] meSmashsta opened #364 "FormEntryPrompt getLongText UnregisteredLocaleException"
JavaRosa v1.x.x, Java v1.x.x, operating system
OS: Windows 10
Java: jdk1.8.0_172

#### Problem description
After pulling the **form** from a **downloadUrl** using **OkHttpClient**, I am unable to invoke `org.javarosa.form.api.FormEntryCaption#getLongText`, it crashes everytime.

It crashes in `case FormEntryController.EVENT_QUESTION:` specifically this line `String text = entry.getLongText();`

##

[2018-08-24 15:11] yanokwa commented on #364
If you are trying to step through an entire form, it might be easier to look at how we do it here: https://github.com/opendatakit/validate/blob/master/src/org/opendatakit/validate/FormValidator.java#L386

[2018-08-24 15:36] meSmashsta commented on #364
Thanks @yanokwa. I'll keep you posted if ever I get it to work or not. Oh and would you please tell me something about this error? Have I missed configure it before accessing it?

[2018-08-24 15:41] yanokwa commented on #364
I don't know about the specific error, but I'd recommend you start with the Validate class because it's a good way to start. https://github.com/nafundi/odk-codebook might also be helpful, but it's a little old these days.

[2018-08-24 15:57] meSmashsta commented on #364
Thanks! I will take a look at that too.

[2018-08-24 21:10] lognaturel commented on #363
Thank you, @grzesiek2010!! Good thing to address sooner than later. 👍

[2018-08-25 11:17] ggalmazor opened #367 "Migrate from magic numbers to enums"
#### Problem description
We've recently included new `DataType` and `ControlType` enums to abstract form data and control types in our code.

Up to this moment, they have been used mainly by third parties like Briefcase but we should be moving away from magic numbers internally too. This will improve our code in a way that makes it more robust and less error-prone.

This issue will be solved when

[2018-08-27 11:36] ggalmazor commented on #362
Copied from https://github.com/opendatakit/javarosa/pull/350#issuecomment-415514714

[2018-08-27 11:47] ggalmazor commented on #360
Adding https://github.com/opendatakit/javarosa/issues/349#issuecomment-415517025 here since I think it's relevant:

[2018-09-09 22:51] dcbriccetti commented on #309
It may be best to avoid 0 coordinates in testing, since 0 is used to mean that no data exists.

[2018-09-14 07:01] meSmashsta opened #371 "From Widget to FromEntryPrompt's answer"
From ODK Collect how did you make the StringWidget as the answer of FormEntryPrompt? I've been looking both at the QuestionWidget and StringWidget and can't seem to find the statement which gets the answer from the widget to JavaRosa's FormEntryPrompt's answer.

I'm rendering my own widgets using JavaRosa's attributes, but I'm having a hard time saving the user's answer to JavaRosa's XForms.

[2018-09-14 10:07] meSmashsta commented on #371
Figured it out, haha.

[2018-09-14 10:07] #371 closed

[2018-09-19 21:49] #309 closed

[2018-09-21 20:28] lognaturel opened #373 "Missing translation error when only guidance variant is specified for hint"
#### Software versions
JavaRosa v2.11.2

#### Problem description
`org.javarosa.xform.parse.XFormParseException: <hint> '${name}:hint': text is not localizable for default locale [default]!` when a question only includes a guidance hint but no regular hint.

#### Steps to reproduce the problem
Try to parse a form such as [guidance.xml.txt](https://github.com/opendatakit/javarosa/files/2406768/guid

[2018-10-18 20:07] joeflack4 opened #376 "SLF4J: Failed to load class "org.slf4j.impl.StaticLoggerBinder"."
#### Software versions
JavaRosa v2.11.1, Java v1.8, OSX High Sierra

#### Problem description
I am receiving the following message when trying to utilize `org.javarosa.core.services.PropertyManager`:
[code]

#### Steps to reproduce the problem
Try: `I'm utilizing like this: `org.javarosa.core.services.PropertyManager.setPropertyManager(new StubPropertyManager());`.

#### Expected behavior
No such

[2018-10-19 08:55] ggalmazor commented on #376
Hi, @joeflack4!

I believe everything you're reporting is actually what we should expect.

JR depends on SLF4J for logging but it doesn't include any specific implementation of SLF4J. This lets anyone wanting to use JR to use any library they want. For example, Briefcase uses Logback.

The `slf4j-api` dependency you see is the way JR expresses that the code *uses* SLF4J logging and needs anyone us

[2018-10-20 18:12] #373 closed

[2018-10-24 00:46] joeflack4 commented on #376
Thanks for the explanation.

I'm still pretty noob at Java.

I'm wondering why I saw any error messages about SLF4J when using JavaRosa as a library in my tool at all. It looks like JavaRosa is using slf4j-api 1.7.25, however the SLF4J docs say that:

Despite what's bolded there, I still continued to see messages until I included the slf4j no-op dependency in my package. I wonder why...

[2018-10-25 07:58] ggalmazor commented on #376
That's expected too: the api is not an implementation of SLF4J. It contains only empty interfaces you can use in your code, but in runtime, some library has to implement them.

The api dependency will complain until you provide an actual implementation of the api. the no-op dependency implements the api by not doing anything. Briefcase uses Logback for that.

[2018-10-25 17:11] lognaturel opened #378 "Match uid preload behavior to uuid() function (RFC 4122 UUID with uuid: prefix)"
See discussion at https://forum.opendatakit.org/t/match-the-uid-preload-structure-to-the-uuid-function/15908

There is a desire to change what form builders add to blank forms to generate an `instanceID` so it looks like `<bind nodeset="/readonly/meta/instanceID" jr:preload="uid" type="string"/>`

See XLSForm issue at https://github.com/XLSForm/pyxform/issues/94

This would mean a change in the `i

[2018-10-26 13:55] joeflack4 commented on #376
Ahh, Ok. The bolded part, I think I misread. What I thought it was saying was that if you use `slf4j-api` but don't actually import another implementation, then `slf4j-api` would actually implement 'no-op' on its own.

Thanks for helping me understand this!

[2018-10-29 21:32] #378 closed

[2018-10-31 23:39] #346 closed

[2018-10-31 23:41] lognaturel commented on #336
I'm no longer so sure this makes sense. I think it would be good to do with `.` but really `current()` is only useful in choice filters. Otherwise it means the same thing as `.`.

[2018-10-31 23:45] lognaturel commented on #1
Duplicate of #128.

[2018-10-31 23:45] #1 closed

[2018-10-31 23:46] lognaturel commented on #79
Duplicate of https://github.com/opendatakit/javarosa/pull/295

[2018-10-31 23:46] #79 closed

[2018-10-31 23:58] lognaturel opened #381 "Add support for more XPath axes"
https://www.w3.org/TR/2017/REC-xpath-31-20170321/#axes

In particular, `preceding-sibling`, `preceding`, `following-sibling` and `following` axes would make it possible to do things like https://forum.opendatakit.org/t/xls-form-repeat-select-one-question-until-a-is-selected/15318 more easily.

See also https://github.com/opendatakit/xforms-spec/issues/85

[2018-11-19 18:28] yanokwa opened #384 "Randomize cannot be used with a nodeset path"
#### Software versions
JavaRosa v2.12, Collect v1.18

#### Problem description
It seems like paths aren't allowed as a seed.

This works:
`<itemset nodeset="randomize(instance('opt_abcd')/root/item, 12345)">`

This fails:
`<itemset nodeset="randomize(instance('opt_abcd')/root/item, /rand/my_seed)">`

The error message I get is
[code]

#### Steps to reproduce the problem
Load [rand.xml.zip](https:/

[2018-11-19 18:33] yanokwa commented on #384
@ggalmazor, can you take at this when you get a moment?

[2018-11-19 18:34] ggalmazor commented on #384
Sure!

[2018-11-27 02:50] khalifeserge opened #386 "Allow distance() function with two arguments input to calculate distance between 2 points"
I noticed that the distance() function is still having some issues based on this #332 . I am proposing that the function be modified slightly to allow distance() to be calculated based on 2 points input ( 2 arguments ). In many of my forms I have a geopoint ( with placement appearance) and another one as a plain GPS point. The reason behind this approach is that I usually load an offline map with

[2018-11-27 17:07] #384 closed

[2018-12-07 17:03] cooperka opened #390 "External secondary instances don’t work"
#### Software versions
JavaRosa v2.12.1, Collect v1.18.0

#### Problem description
External secondary instances (see [docs](https://opendatakit.github.io/xforms-spec/#secondary-instances---external)) no longer work in Collect, seemingly due to JavaRosa issues.

1. There are errors parsing external XML
2. The external data location is extremely hard to access

#### Steps to reproduce the problem
1.

[2018-12-12 06:57] ggalmazor commented on #390
Thanks for the detailed report, @cooperka!

This looks like it's connected to the comments at `ExternalDataInstance.java#getPathPrefix()`

[code]

[2018-12-13 17:37] dcbriccetti commented on #390
<img width="975" alt="work in progress" src="https://user-images.githubusercontent.com/55099/49956684-acb95780-feba-11e8-990b-e972795d8bd7.png">

Looks like it may be time to finish this “work in progress”.

[2018-12-16 00:52] dcbriccetti commented on #390
I’m able to reproduce the
`XFormParseException: <label> node for itemset doesn't exist! [instance(second)/root/item/itextId]`
problem with @cooperka’s data.

[2018-12-17 00:06] dcbriccetti commented on #390
Synthesizing a `TreeElement` above `root` allows the parse of @cooperka’s form. Does this seem like a reasonable solution, @ggalmazor and @cooperka?

<img width="1653" alt="screen shot 2018-12-16 at 4 02 50 pm" src="https://user-images.githubusercontent.com/55099/50060710-2caa2080-014c-11e9-9102-5f6492009d2a.png">

[2018-12-17 00:09] dcbriccetti commented on #390
@cooperka, may we add your three files to our test suite?

[2018-12-17 01:19] dcbriccetti commented on #390
Regarding where JavaRosa should look for the external data, @grzesiek2010, perhaps you can confirm that when Collect calls JavaRosa to parse the XML,
[code]
it doesn’t give enough information for JavaRosa to find the form’s media directory. Do you agree that we’ll need to modify the Collect -> JavaRosa interface to provide that information?

[2018-12-17 01:56] cooperka commented on #390
Sure, absolutely :+1:

[2018-12-17 07:56] ggalmazor commented on #390
How would it look like?

[2018-12-17 21:37] dcbriccetti commented on #390
That’s up to us. We agree that JR shouldn’t be concerned with details about Collect file storage, right?

[2018-12-18 01:05] yanokwa opened #391 "Error evaluating field Double cannot be cast to String"
#### Software versions
JavaRosa master

#### Problem description
In the sample form, if you select any answer and swipe to the next question, you get a crash in Collect.
`Error evaluating field 'Intencion_A': java.lang.Double cannot be cast to java.lang.String`

[Ejemplo.xlsx.zip](https://github.com/opendatakit/javarosa/files/2688436/Ejemplo.xlsx.zip)

[code]

[2018-12-18 07:45] ggalmazor commented on #390
Yes, JR should be given all it needs to work without making any assumptions about a particular client

[2018-12-18 10:02] ggalmazor commented on #391
I'm not sure about this issue.

Setting a string value to the `range` question will make the `relevant` expression work without errors. This makes sense because the `select` function in the `relevant` expression is intended to be used with `select` and `select1` fields, which encode their answers as strings (xml serialized values). For ranges, it would make more sense to use a boolean expression l

[2018-12-18 21:48] OlivierVernin opened #392 "Make GeoShapeData / GeoPointData more flexible to include additional geo data"
This is a request to discuss adding some flexibility on the GeoShape/GeoPointData format. The current format is `-6.668710000000001 106.91277 821.2 1.7; <another point>; <and another point>`.

We would like javarosa to allow additional data to be attached for each point so that the points could carry more contextual data on how they were recorded while still supporting the area() or distance() fun

[2018-12-27 19:34] dcbriccetti commented on #390
How about overloading
`XFormUtils.getFormFromInputStream(fis);`
A second argument could provide a path to external secondary instance forms.

[2018-12-28 09:46] ggalmazor commented on #390
This is looking good! Thanks @dcbriccetti!

[2018-12-31 04:36] dcbriccetti commented on #390
@cooperka, when you get a chance could you try your forms with https://github.com/opendatakit/javarosa/pull/394 and https://github.com/opendatakit/collect/pull/2771? Things seem to be working. Thanks!
@grzesiek2010, do you have any forms we could test with handy?

[2019-01-02 22:20] yanokwa commented on #391
Closing because I agree this isn't a bug.

User facing discussion is at https://forum.opendatakit.org/t/error-evaluating-field/16772

[2019-01-02 22:20] #391 closed

[2019-01-03 21:35] grzesiek2010 commented on #390
No, I used the one provided by @cooperka

[2019-01-08 18:39] #390 closed

[2019-01-15 18:39] AkshitOstwal commented on #243
you mean add this
Please refer to the project-wide [ODK Code of Conduct](https://github.com/opendatakit/governance/blob/master/CODE-OF-CONDUCT.md).
??
or something similar to this in

[2019-01-15 23:51] yanokwa commented on #243
@AkshitOstwal Yup!

[2019-01-22 19:55] cooperka commented on #145
I happened across this issue on GitHub and would like to note that I do **not** experience this bug in JR v2.12.1.

I can enter `0` or leave it blank in my [form](https://github.com/opendatakit/javarosa/files/2784371/nested-indexed-repeat.xml.txt) and it does not add any repeat items, as expected.

[2019-01-22 20:02] cooperka opened #399 "Form fails to load when jr:count is set to a number"
#### Software versions
- JR v2.12.1
- Collect v1.18.0

#### Problem description
Using this [form](https://github.com/opendatakit/javarosa/files/2784371/nested-indexed-repeat.xml.txt), a dynamic number for `jr:count=" /nested-indexed-repeat/friends/pets_count "` works fine, but `jr:count="2"` causes an error:

[code]

#### Steps to reproduce the problem
1. Open the blank form in Collect (it works)

[2019-01-23 16:22] grzesiek2010 opened #400 "Add a function to calculate all possible options in select one and select multiple questions."
#### Software versions
JavaRosa v2.12.1 and older versions

#### Problem description
Some users need to be able to calculate all options in `select one` and `select multiple` questions.
Here is one topic: https://forum.opendatakit.org/t/counting-the-number-of-all-options-in-a-select-one-select-multiple-variable/17393 and I've seen at least two different.

[2019-01-23 18:54] yanokwa commented on #400
@grzesiek2010 Can you link to the other threads you've seen?

[2019-01-23 19:49] grzesiek2010 commented on #400
For example:
https://forum.opendatakit.org/t/selecting-all-the-choices/17048
https://forum.opendatakit.org/t/counting-the-number-of-choices-available-not-those-which-are-selected-as-an-answer/13481

and probably more that I can't find now.

[2019-02-12 09:33] ggalmazor opened #404 "Ensure formatted datetimes follow the spec's ISO8601 format"
#### Problem description
Following the directions of the [ISO8601 adaptations doc](https://docs.google.com/document/d/1vPuEgapHvYWINnoa9QiG1R0HWMiCS4_8vtP_Zx3bGec/edit#heading=h.17wejfqu7qg9), we should fix how JR formats datetimes. Specifically, JR uses a wrong format when the time offset falls into whole hours:

- Wrong: `2019-02-11T16:04:45.638+07`
- Correct: `2019-02-11T16:04:45.638+07:00`

Fr

[2019-02-12 19:59] tiritea commented on #404
Given that any code consuming these iso8601 formatted dates should already be able to handle the case when having minutes, the fix might be a simple as changing the above suspected offending (?) line to:

`String mins = ":" + intPad(value % 60, 2);`

and making sure any date question results appearing in the resulting instance XML have ...+HH:MM

I'm happy to submit a trivial PR, but do you think

[2019-02-13 09:04] tiritea opened #405 "Validate reports bogus type mismatch error when checking XPath date arguments"
#### Software versions

javaRosa as it exists in Validate as it exists in XSLForm Online v1.3.1

#### Problem description

Validate appears to be performing a static evaluation of XPath expressions as part of its validation of XPath date/time/dateTime function arguments. But because it performs a static evaluation, it does not pickup valid runtime values, and as a consequence can throw a bogus typ

[2019-02-13 09:18] tiritea commented on #405
Please note that I havent started to try and figure out where in javaRosa/Validate it is doing this supposed static type-checking evaluation. So although it is readily reproducible for dateTime function argument checking, I dont know whether this 'static' analysis might also have failure scenarios wrt to other data types. I would want to be sure it doesnt before closing out this bug, but till we c

[2019-02-13 16:42] ggalmazor commented on #404
That'd be great. Let me know if you'd prefer me to do it.

There are a couple of tests in the `DateUtilsSCTOTests` class:

[code]
I think that changing the assertions to `+02:00` and `+03:00` respectively would probably be enough, though I'd suggest adding extra cases:
- a `-04:00` case to test negative offsets
- a `Z` case to test the UTC time zone
- a `+01:30` to test half-hour multiple offsets

[2019-02-13 22:42] tiritea commented on #404
If there's no immediate urgency I can test and submit a PR this weekend. I think I'll just fix the two existing tests for now - probably we should sit down and expressly enumerate all new tests that are now going to be needed to cover all the new supported formats that you've documented in https://docs.google.com/document/d/1vPuEgapHvYWINnoa9QiG1R0HWMiCS4_8vtP_Zx3bGec (rather than me tossing in a

[2019-02-14 07:32] ggalmazor commented on #404
That's perfectly fine, thanks!

[2019-02-18 07:24] tiritea commented on #404
FYI I've made change in my fork but still need to rebuild my Collect and run some manual tests, and update testcases before submitting PR.

[2019-02-22 00:11] tiritea commented on #404
I haven't been able to do any testing this week. Does this fix need to make it into the imminent Collect release (or can it wait till next one)? [I seem to recall it was a PITA for Central to workaround...]

[2019-02-26 19:41] yanokwa commented on #404
March 20th is the hard deadline, but the earlier the better. Earlier means it can go into Collect with plenty of time for the testers to give it a go.

[2019-02-26 20:04] tiritea commented on #404
I'll try to make time to run some tests this week - the patch itself is trivial.

[2019-02-27 07:56] ggalmazor commented on #404
@tiritea, I'm on leave until March 1st, but if you need help, please, ping me. I'll probably be available to take a peek and add some brain-power to the testing part if you want.

[2019-03-02 03:04] tiritea commented on #404
OK, maybe I'm doing something REALLY stupid here... but running a simple form with:

      <bind nodeset="/data/datetime" required="false()" type="dateTime"/>

and with a simple test to echo the result in a read-only text note (label is = `datetime="${datetime}"`, I get the separate 'Select date' and 'Select time' input pickers in the Collect widget show up, but for the note - which should just be

[2019-03-02 03:07] tiritea commented on #404
basically I'm trying a 'before' test to check Collect is indeed producing a datetime with no timezone offset minutes, before adding my patch. But I wasnt expecting not to get any time component at all! lol

[2019-03-05 08:01] ggalmazor commented on #404
Hi @tiritea! Sorry for the delay in my feedback!

I think that involving Collect introduces too many moving parts, and that using a label as an indirect way of verifying what's going on with the datetime field might bring some unexpected results due to the way JR/Collect format values for output.

What we are trying to verify is that the XML document that JR produces when saving a document has the

[2019-03-05 21:17] tiritea commented on #404
per conversation, it looks like Collect is doing some implicit reformatting when including instance XML node strings in label text, rather than displaying the expected raw string. I'll test actual resulting submission XML data instead.

But it appears there may be bug in this native 'reformatting-for-labels', since it appears to be dropping the time component when displaying a dateTime in a label

[2019-03-06 04:21] tiritea commented on #404
PR submitted. Passes tests but circleci packaging fails w/ "Unresolveable build extension: Plugin org.sonatype.plugins:nexus-staging-maven-plugin...", which I'm pretty sure isnt anything I broke with my 1-liner change... Unfortunately I don have perms to just re-run the workflow.

I guess could try to resubmit the PR with a null change to see if github fixes itself... Any suggestions?

[2019-03-06 05:28] tiritea commented on #404
Some more automated tests around this - ie end-to-end - would be far preferable to my manual test form; ala what @ggalmazor suggests. But I didn't want to hold up getting a PR with the necessary code change any longer, waiting for me to figure all that out...

[2019-03-06 07:02] ggalmazor commented on #404
Thanks, @tiritea!

Since JR is a library that basically implements a workflow of XML > memory > XML, I think that a test that loads a blank form XML, does stuff in memory, generates a submission XML, and then checks the submission's contents, it pretty much qualifies as an end-to-end test to me :)

[2019-03-06 07:07] #404 closed

[2019-03-06 07:56] tiritea commented on #404
I like your idea of an automated test that 'fakes' a submission, and reads the XML that will actually be sent back in to check its format. Especially given my earlier assumption that what gets echoed in a label is the raw unadulterated instance XML string value... which was wrong! Gawd only knows who else might potentially be interfering between javaRosa's formatTimeISO8601(), and what actually ge

[2019-03-07 07:54] mdmahendri commented on #245
you are right, `range` element is not registered in `CoreModelModule`
@opendatakit-bot claim

[2019-03-12 16:45] #245 closed

[2019-03-21 00:31] grzesiek2010 opened #410 "Parameters from RangeQuestion are not read/written during calling readExternal/writeExternal methods"
#### Problem description
Parameters from RangeQuestion are not read/written during calling readExternal/writeExternal methods.

We discovered a problem in Collect: https://github.com/opendatakit/collect/issues/2954 but it's caused by changes in javarosa this pr: https://github.com/opendatakit/javarosa/pull/409
The pr itself is fine but it revealed a long-standing issue in [RangeQuestion](https://g

[2019-03-26 13:36] #410 closed

[2019-03-27 16:50] lognaturel opened #412 "Introduce odk-instance-first-load event and mark xforms-ready as deprecated"
The `xforms-ready` event is intended to be dispatched any time the xforms engine is ready. JavaRosa dispatches it only the first time that a record is instantiated.

Instead of continuing to use `xforms-ready`, it will be marked as deprecated and eventually removed, perhaps to be re-introduced with the intended behavior if there's a need for it. The `odk-instance-first-load` event will be dispatch

[2019-03-27 18:12] #412 closed

[2019-03-28 18:40] grzesiek2010 opened #415 "External secondary CSV instance support with jr://file-csv connector breaks forms with search() and pulldata()"
From: https://github.com/opendatakit/collect/issues/2972

#### Software versions
JavaRosa - the latest version

[sample_preloading.zip](https://github.com/opendatakit/javarosa/files/3019685/sample_preloading.zip)

#### Problem description
Unexpected error when user opens 'Sample Form - Preloading'

#### Steps to reproduce the problem
* User opens form 'Sample Form - Preloading'
* Error appears
![S

[2019-03-29 17:52] lognaturel opened #417 "Re-enable support for external secondary CSV instances without breaking pulldata()/search()"
#397 added support for parsing a CSV as a secondary instance. It was then disabled in #416 because it broke search/pulldata in Collect.

We will need to figure out a way to add this support back in without interfering with the existing implementations. These may eventually be deprecated but since they solve a real problem and are [in broad use](https://forum.opendatakit.org/t/external-data-current

[2019-04-01 09:07] #415 closed

[2019-04-10 23:17] lognaturel commented on #400
I don't think this should be a JavaRosa issue. This can already be done for secondary instances with `instance('<instance name>')/root/item[<choice filter>]`. If a choice filter is used, secondary instances are generated. https://forum.opendatakit.org/t/counting-the-number-of-all-options-in-a-select-one-select-multiple-variable/17393/12

[2019-04-10 23:17] #400 closed

[2019-04-11 04:22] lognaturel opened #421 "In the test for CSV secondary instance support, use a form that refers to the instance"
See https://github.com/opendatakit/javarosa/pull/397#discussion_r270248825

[2019-04-11 18:51] lognaturel opened #422 "Add support for position predicate shortcut"
A lot of XPath examples show expressions like `/path/to/some/node[4]` which is a shortcut for `/path/to/some/node[position() = 4]`. See section 2.5 Abbreviated Syntax at https://www.w3.org/TR/1999/REC-xpath-19991116/.

JavaRosa does not support that shortcut. In practice, form designers typically want to access data based on some filtering value rather than position so it's not a big user-facing l

[2019-04-16 01:59] tiritea opened #424 "Add predicate support for treating randomize() as nodeset"
#### Software versions
JavaRosa v1.x.x, Java v1.x.x, operating system

#### Problem description

#### Steps to reproduce the problem

#### Expected behavior

#### Other information

[2019-04-16 03:42] lognaturel commented on #424
Thanks! I suspect the `[position() = 1]` is what's being choked on and `XPathPathExpr` is probably the first place to look.

[2019-04-16 10:07] adamvert commented on #417
I'm starting to wonder whether it might not make sense to hold back on fixing this with a workaround until we can do it "properly", i.e. by making `pulldata` part of Javarosa, and working out how we can allow implementations to decide whether to use a database if they want to.

Or am I putting the cart before the horse? Is the requirement to get this working urgent enough to warrant an interim sol

[2019-04-17 10:22] adamvert commented on #417
@lognaturel ☝️❓

[2019-04-17 16:18] lognaturel commented on #417
I'd say it's not an urgent requirement. It's annoying to have a feature that's documented without being actually implemented -- in this case specifying a CSV secondary instance that can be XPath-queried -- but it's probably not something a ton of people are waiting for.

I think there's something to learn from exploring options here that may be applicable to a broader solution but there's certainl

[2019-04-18 17:32] lognaturel commented on #417
In the mean time, here are some more details on reproduction and what should actually happen:
* Check out 70e82b0
* Build a jar and copy it to `collect_app/libs/` in Collect
* Comment out the import for javarosa in build.gradle
* Push form and media from [sample_preloading.zip](https://github.com/opendatakit/javarosa/files/3019685/sample_preloading.zip)
* Opening the form should lead to https://gi

[2019-04-22 21:13] lognaturel commented on #417
@musamusa, I think you were interested in the information above. If you're still looking into it, are you now able to reproduce the issue?

[2019-04-23 03:59] lognaturel opened #425 "Add hashCode to FormIndex"
`FormIndex` is used as a key in some maps in Collect. It doesn't have a `hashCode` method so that means keys only match if they are references to the same object.

[2019-04-23 04:35] lognaturel opened #426 "Implement equals for SelectChoice"
See https://github.com/opendatakit/collect/pull/3023/files#diff-31b495e34e6fbe9464cec0d2e0025770R120

[2019-04-23 08:27] musamusa commented on #417
@lognaturel Yes, I was able to reproduce the issue after the call. The steps above also added some more explanations.

[2019-04-23 19:40] lognaturel opened #427 "Add pulldata as a custom XPath function"
https://opendatakit.github.io/xforms-spec/#fn:pulldata

It should work over XML secondary instances (internal and external).

The tricky and annoying part is that there's a Collect-based implementation of it already as described in #417. So this needs to wait until that is replaced or there needs to be different paths to `pulldata`.

[2019-04-29 21:09] lognaturel opened #430 "Add support for odk:setlocation action"
As described in https://forum.opendatakit.org/t/auto-gps-implementation-on-odk-collect/10635 and https://forum.opendatakit.org/t/spec-addition-proposal-location-preload/10768

The JavaRosa implementation must make it so that clients that read but don't write forms such as Aggregate and Validate recognize the element. It must leave it up to clients that write form instance data to provide an implem

[2019-05-03 16:03] lognaturel commented on #426
We've decided not to do this at all because `SelectChoice` groups both the choice and the position and the position is mutable. See #426.

[2019-05-03 16:03] #426 closed

[2019-05-03 17:24] #425 closed

[2019-05-03 20:52] tiritea opened #435 "jr:choice-name() broken when used in repeats"
#### Software versions
JavaRosa v1.x.x, Java v1.x.x, operating system

#### Problem description
jr:choice-name() always returns nothing when used against a select question inside a repeat loop. Probably due to the relative reference produced by pyxform for the quoted select question reference

ODK Forum discussion here: https://forum.opendatakit.org/t/problem-with-odk-calculation-field/19619

####

[2019-05-10 00:01] lognaturel opened #436 "Changes to cascading select only propagate one level"
#### Software versions
JavaRosa v2.14.0 and previous

#### Problem description
"Cascading selects" are a series of selects in which the previous select's answer is used to filter the choices in the next select. If the value of a select part of such a cascade is updated, it only updates the choices for selects that directly depend on its value and not for selects that are two or more layers away. I

[2019-05-10 02:30] lognaturel commented on #436
The root of the issue is that the next level's value doesn't change. That is, if there are three levels with values a, a1 and a1a, when the first level gets cleared, a1 and a1a stay as answers. They get cleared incidentally later when they're not part of the available choices.

[2019-05-13 10:07] adamvert commented on #417
I started looking into this again today, and i just want to clarify something that's occurred to me:

So far we've been talking the about the problem that Pulldata CSV files are unnecessarily loaded into memory because they're incorrectly treated as if they're an External Secondary Instance (ESI). But isn't there also second, parallel problem whereby genuine ESI CSVs will be automatically read int

[2019-05-13 19:24] lognaturel commented on #417
As you say, @adamvert, the performance hit for building the databases is much lower. Additionally, once JR can decide which instances to process, it should be straightforward for Collect to find out whether it needs to do anything.

[2019-05-13 22:49] lognaturel commented on #430
Time flies like an arrow. Fruit flies like a banana.

[2019-05-13 23:54] lognaturel commented on #436
I think the first step is something like https://github.com/opendatakit/javarosa/commit/cac1a2b3ee91a18992df118958b07f0cb3682a7d -- if the question's value is no longer part of the choices, clear the value. However, that's not enough because the choice filters are not part of the recomputation of dependent calculations at all.

The change I've made makes the tests pass but that's because `choicesO

[2019-05-16 23:34] lognaturel opened #439 "Document how to run benchmarks"
See https://github.com/opendatakit/javarosa/pull/429

Perhaps consider recommending `./gradlew --no-daemon clean jmh` because of https://github.com/melix/jmh-gradle-plugin/pull/145 and https://github.com/gradle/gradle/issues/937

[2019-05-24 03:47] tiritea opened #440 "Validate reports invalid self-reference for indexed-repeat()"
#### Software versions
javaRosa as it exists in Validate as it exists in XSLForm Online v1.3.1

#### Problem description
using indexed-repeat() inside a repeat group to accumulate results, by referencing 'previous' repeat results; eg

if(position(..)=1, ${foo}, concat(indexed-repeat(., ${repeat}, position(..)-1))

fails DAG check because detects reference to self (.), even though not in fact self-

[2019-05-24 03:59] tiritea opened #441 "Validate DAG check precludes coalesce(.,${foo})"
#### Software versions
javaRosa as it exists in Validate as it exists in XSLForm Online v1.3.1

#### Problem description
x = coalesce(.,${foo}) is a useful tool to implement dynamic defaults in a form, which avoids having to use the non-standard once() function (which is misleading, and arguably a candidate for deprecating once instance-first-load events are working). However, validate/javaRosa re

[2019-05-25 20:53] tiritea commented on #441
sample form:
[coalesce.xlsx](https://github.com/opendatakit/javarosa/files/3219739/coalesce.xlsx)

Note: can mimic same coalesce() behavior with if(), which likewise fails DAG check:
[if.xlsx](https://github.com/opendatakit/javarosa/files/3219740/if.xlsx)

[2019-06-05 11:10] ggalmazor opened #443 "JavaRosa should disclose information about secondary instances defined in a form"
As discussed in https://github.com/opendatakit/validate/pull/66, we want JavaRosa to disclose information about the nature of secondary instances defined in forms, particularly:
- Whether they are internal or external
- When they are external, in which of the supported format is data serialized (XML or CSV at this moment)

Just knowing if a secondary instance is external or not would be sufficient

[2019-06-06 21:00] lognaturel opened #444 "Fail gracefully when an external secondary instance is not found"
#### Problem description
Currently, a missing external secondary instance results in failure to parse a form. This is a problem because clients like Validate (https://github.com/opendatakit/validate/pull/66) or Aggregate don't need to have those external instances to do what they need to do. In fact, even form-filling clients like Collect may not need those files if, for example, they are used in

[2019-06-06 21:01] lognaturel commented on #443
This may or may not be required for #444.

[2019-06-11 16:27] ggalmazor commented on #444
I've started poking around this issue and I'm getting an error _before_ `FormInstanceParser.verifyItemsetBindings()`. It turns out that the `XFormParser.parseDoc()` fails to add the non-main instance into the `FormDef` at line 476-ish:

[code]

[2019-06-11 17:07] lognaturel commented on #444
Good point, @ggalmazor! I /thought/ the `verifyItemsetBindings` exception was the one I saw in Validate but perhaps I misunderstood.

True. Even more reason to go with the narrow Validate fix for now and then to come back here.

[2019-06-13 01:37] lognaturel commented on #436
See additional context and ideas at https://github.com/opendatakit/javarosa/pull/437#discussion_r284443873 and https://github.com/opendatakit/javarosa/pull/437#discussion_r284447606

[2019-06-13 17:00] joeflack4 commented on #417
+1 in regards to native JavaRosa `pulldata()` support. This would allow me to remove any bespoke implementation that I would be adding to XFormTest.