[2019-06-21 04:37] lognaturel opened #447 "Investigate what XmlTextConsolidator.consolidateText does and consider removing"
In #192, @dcbriccetti pulled `XmlTextConsolidator.consolidateText` out of `XFormParser` along with its cryptic comment:

[code]
From this comment, it's unclear whether the functionality was added to fix a bug or in an attempt to improve performance.

In #192, @dcbriccetti identified that the node removal was very expensive and improved that. @dcbriccetti, I know it's forever ago (hopefully good me

[2019-06-23 20:29] dcbriccetti commented on #447
Hi all! I can say with some confidence that I never learned whether or why it’s necessary to do this consolidation.

[2019-06-24 19:32] lognaturel commented on #447
Thanks, @dcbriccetti. 😊

[2019-06-27 23:03] lognaturel opened #449 "Referring to node in secondary instance with path that also exists in primary instance can result in a dependency cycle"
#### Software versions
All JR versions

#### Problem description
A useful pattern with the `last-instance` feature is to accumulate values across instances. See [dont-show-options-selected-in-other-instances.xml.txt](https://github.com/opendatakit/javarosa/files/3336913/dont-show-options-selected-in-other-instances.xml.txt) for an example. That means referring to the same reference in the current

[2019-06-27 23:54] lognaturel commented on #449
Discovered while answering https://forum.opendatakit.org/t/hide-select-item-if-already-selected/20559

[2019-06-27 23:58] lognaturel opened #451 "Ignore dummy nodes in external instance declaration"
#### Software versions
All JavaRosa versions

#### Problem description
https://github.com/XLSForm/pyxform/pull/104 added dummy elements to external instance declarations to get by Validate. That means either clients or humans need to remove those elements to actually get generated forms to work with external files.

For example, for the form in issue https://github.com/XLSForm/pyxform/issue/87, in

[2019-07-03 15:14] neal0892 commented on #243
@yanokwa  Please review.

[2019-07-05 07:05] #430 closed

[2019-07-08 15:14] #417 closed

[2019-07-08 15:14] #451 closed

[2019-07-08 15:48] lognaturel commented on #243
Thank you, @neal0892!

[2019-07-08 15:48] #243 closed

[2019-07-11 00:15] lognaturel commented on #440
As I understand it, you are trying to accumulate results across repeats. The form [here](https://docs.google.com/spreadsheets/d/1vtGDnmrip0x7yzu3clwUA5YrdOs1QoHNut78RFO750E/edit#gid=0) demonstrates how I would do that. The important expression is `join(" ", /data/my-repeat[position(..) <= position(current()/..)]/foo)`.

I find `indexed-repeat` more complicated to reason about than raw XPath querie

[2019-07-11 01:25] tiritea commented on #440
In the provided example, yes I was trying to accumulate results, which you correctly point out can probably be accommodated with a join(...) instead. However there are still cases when you want to reference previous iterations, eg prefilling values from the previous iteration (see https://forum.opendatakit.org/t/previous-response-pre-loaded-for-the-same-question-from-a-previous-iteration-of-a-repe

[2019-07-11 03:03] lognaturel commented on #441
The `odk-instance-first-load` event doesn't help for the case where the value to be used as a default is set as the form is being filled, right? To truly get the desired behavior in that case, we'd want something like a `value-first-set` event.

It feels like rejecting self references is generally useful, right? For example, given an integer node that, for simplicity's sake, is never blank, the ca

[2019-07-11 04:57] lognaturel opened #456 "Skip serialization of internal secondary instances"
Internal secondary instances take much longer to load in Collect than the same secondary instances represented as external files. After extensive profiling in Collect, @JohnTheBeloved has concluded that on current Android devices it is always faster to load secondary instances directly from XML rather than serializing them and then reading them from the cache file.

[2019-07-12 00:58] tiritea commented on #441
Detecting (and rejecting legitimate) self-references is certainly useful! The problem as I see it is that XPath expressions have sufficient expressiveness that it is not strictly possible to *statically* determine their validity in the general when the *precise* nature of the XML document is still unknown,and may change dynamically (eg repeat groups, hence the bogus indexed-repeat() self reference

[2019-07-12 03:19] lognaturel commented on #441
The graph is not used for checking, it's used as an optimization to only recompute expressions when necessary. That is, when a value changes at a particular path, that change propagates to its dependent references. So it's not a matter of turning some kind of verification on and off, the dependency graph is fundamental to form re-evaluation. Given this recomputation model, it's not clear to me how

[2019-07-12 04:52] #456 closed

[2019-07-12 22:02] lognaturel opened #458 "Don't include self-references in dependency graph"
All expressions that include references to form nodes are included in a dependency graph. This makes it possible to only recompute expressions when their dependencies are updated which is an important performance measure for forms with a lot of dependent logic. See [the W3C XForms documentation](https://www.w3.org/TR/2006/REC-xforms-20060314/sliceD.html#rpm-processing-recalc-mddg), `IDag` and `Tri

[2019-07-12 22:05] lognaturel commented on #458
@tiritea I hope this captures the underlying issue that #440 and #441 get at and the work that would need to be done to address them. If so, I propose we close those two issues in favor of this one.

[2019-07-14 21:25] tiritea commented on #458
I'm not sure... I opened 440 and 441 as separate issues to reflect two somewhat different behaviors, and because I wasn't sure if they'd necessarily be susceptible to the same solution. 441 reflects Validate _correctly_ identifying a cyclic dependency/self reference - in coalesce(.,${foo}) - but which is actually legitimate (ie doesnt represent infinite recursion). Whereas 440 reflects Validate _i

[2019-07-14 22:25] tiritea commented on #458
How about we close 441 in favor of this one, and wait and see if it fixes 440 too?

[2019-07-15 14:13] lognaturel commented on #458
Sounds good to me! I'm pretty sure that with repeats, the unqualified (no predicates) path is used as the node in the dependency graph. In fact, I'm not sure that there's an alternative because predicates could include complex expressions. That means that for node N in a repeat, any expression including a reference to node N looks like a DAG cycle no matter what the predicate.

[2019-07-15 18:51] lognaturel commented on #456
Summary of this change at https://forum.opendatakit.org/t/collect-large-form-performance/10841/28.

[2019-07-15 22:00] tiritea commented on #458
Does this 'fix' mean that something like `. + 3` , or (not uncommon mistake) `Q6: relevant = ${Q6} != ''` will _not_ be flagged as a error by Validate?

[I'm guessing probably 90% of the 'cyclic dependency' errors that Validate picks up are when the form writer inadvertently includes a self-reference in a relevant or calculate... So its actually nice if Validate could still flagged these somehow,

[2019-07-16 02:56] lognaturel commented on #458
Yes, following the W3C algorithm, all self-references are allowed.

I agree completely that it's rare for users to truly want self-references. In fact, I wouldn't be surprised if you're the first one! I don't think Validate can do the warnings but perhaps pyxform could.

[2019-07-16 03:11] tiritea commented on #458
Sorry to be the fly in the Validate ointment... ;-)

So if Validate will no longer detect these self-references _at all_ - because DAG will start allowing them - and it is quite possible that Validate's current type static checking will also have to be backed off somewhat (I cant remember what that bug # is...) that may significantly reduce what logical (ie non-syntax) error checks Validate is act

[2019-07-16 05:30] tiritea commented on #458
Note, I think @yanokwa  may have added this (ie Validate) as possible agenda topic for upcoming convening. So if we cant "sort it out amongst ourselves" here, we perhaps we can all have a, umm, 'healthy disputation' about Validate in person (over a beer, of course...)  :-)

[2019-07-16 06:12] tiritea commented on #458
[note sure how to tap @MartijnR in github, but I'd like his view on all this...]

[2019-07-16 21:03] lognaturel opened #459 "Rename everything about setlocation to setgeopoint"
See discussion at https://forum.opendatakit.org/t/spec-addition-proposal-location-preload/10768/20

[2019-07-17 16:37] jkpr opened #460 "Add trim() / strip() custom XPath function"
#### Software versions
JavaRosa v1.x.x, Java v1.x.x, operating system: all current

#### Problem description
I would like to be able to easily strip leading and trailing whitespace in ODK. Because of how keyboards on Android tablets or phones work, spaces are often added at the end text entry. This can be a problem when trying `concat(${name}, '-', ${age})` and expecting there not to be whitespace

[2019-07-17 17:34] #459 closed

[2019-07-18 11:14] JohnTheBeloved opened #462 "Improve form loading performance by skipping creation of whitespace Elements"
The KXML library has no feature to specify skipping the parsing (and creation) of white spaces nodes as part of the XML Document, XML parsers(Including JavaRosa's Parser-KXMLParser) by default create whitespaces contained in the XML text as nodes.

See more on xml whitespaces [here](https://www.oracle.com/technetwork/articles/wang-whitespace-092897.html)

The `TreeElementParser` is 40% more perfor

[2019-07-18 16:52] jkpr opened #463 "Using Gradle to build a jar does not include dependencies"
#### Software versions
JavaRosa v2.14.0, Java v11.0.1, operating system MacOS 10.13.6

#### Problem description
Using gradle to build a jar does not include dependencies.

#### Steps to reproduce the problem
Run `./gradlew jar` then inspect the contents of the jar after unzipping.

#### Expected behavior
Should include dependencies such as `joda-time`.

#### Suggested solution
Include this in the

[2019-07-18 18:33] lognaturel commented on #460
Thanks, @jkpr, that does seem like useful functionality! In general, we try to avoid custom functions as much as possible and instead draw from standard XPath. Would the XPath 2.0 [`normalize-space`](https://www.w3.org/TR/xpath-functions-31/#func-normalize-space) function work for your needs? It does a little bit more than what you described: it also collapses internal spaces so that "Hi   there"

[2019-07-18 18:45] jkpr commented on #460
The function `normalize-space` does the trick, too.

[2019-07-18 18:50] jkpr commented on #460
@lognaturel If we add `normalize-space` to the codebase, does it go in https://github.com/opendatakit/javarosa/blob/master/src/main/java/org/javarosa/xpath/expr/XPathFuncExpr.java ? Also, the spec says there is zero-argument form that applies to the current context item (`.`). Would that zero-argument form be implemented? If so, is there any other function like this that I could reference?

[2019-07-18 18:58] lognaturel commented on #460
Great, I'm glad we have a standard XPath function to match!

I hate to add more process to something that's straightforward but because JavaRosa and Collect are not the only tools that implements the [ODK XForms spec](https://opendatakit.github.io/xforms-spec/), we do have to make sure that additions like this are communicated to other members of the ecosystem.

The next step would be to write a q

[2019-07-18 21:22] batkinson commented on #463
TLDR; This isn't necessary, or good practice, for the primary build. I request that we protect that primary and add a secondary distribution with deps if this is common enough to warrant catering to directly.

Please, reconsider this train of thought. If every library did this gradle wouldn't have the ability to attempt to manage dependencies at the build level at all. They would all be bundled in

[2019-07-18 21:34] jkpr commented on #463
Those are good points. There must be a better way, then!

Here is the background. I modified Javarosa slightly to add a new XPath function. I created the jar, and added it to Validate with `compile fileTree(dir: 'libs', include: '*.jar')` inside the inside the `dependencies{ ... }` block after putting the jar in the `libs` dir of that project. I took out the `compile group: 'org.opendatakit', name

[2019-07-18 21:35] yanokwa commented on #463
One option is to do what the [Gradle community recommends](https://discuss.gradle.org/t/how-to-include-dependencies-in-jar/19571) which is including the [Shadow plugin](https://github.com/johnrengelman/shadow). Then @j can call `./gradlew shadowJar`. Would that work for you @batkinson?

@batkinson Relatedly, I've been toying with the idea of adding CLI validation as a feature of JavaRosa (basicall

[2019-07-18 21:53] lognaturel commented on #460
Thanks for https://forum.opendatakit.org/t/odk-xforms-spec-proposal-add-normalize-space-xpath-2-0-function/20990!

Woohoo, with the ok from Martijn (Enketo) and the added info that it's actually in XPath 1.0, we're a go. @jkpr if you are having trouble with the zero-argument variant, you can leave it out and we can add it later.

[2019-07-18 21:56] lognaturel commented on #460
@jkpr would you like to also do the ODK XForms PR to be an official Spec Writer?

It would look a lot like https://github.com/opendatakit/xforms-spec/pull/107/files but with a link to the XPath 1 documentation: https://www.w3.org/TR/1999/REC-xpath-19991116/#function-normalize-space

[2019-07-18 22:27] lognaturel opened #465 "Add support for the odk-new-repeat event, deprecate jr-insert"
See https://github.com/opendatakit/xforms-spec/pull/241 for specification.

[2019-07-18 22:27] lognaturel opened #466 "Support multiple space-separated events as action triggers"
For example: `odk-instance-first-load odk-new-repeat`

[2019-07-18 23:05] jkpr commented on #460
No problem. I noticed `string-length` is also supposed to allow a zero-argument form https://www.w3.org/TR/1999/REC-xpath-19991116/#function-string-length (it is right above `normalize-space`). It would have been my guide, but according to https://github.com/opendatakit/javarosa/blob/master/src/main/java/org/javarosa/xpath/expr/XPathFuncExpr.java#L391 it must have one argument. So I will stick wit

[2019-07-19 02:01] batkinson commented on #463
Yes, a shade task is even better. My own interest is simply to ensure jr is not unnecessarily coupled to the extent that it can't be leveraged as a simple library.

After seeing how odk validate was a thin wrapper around javarosa, I think that could make a lot of sense. I don't know if pushing end-user-style validation into javarosa is the direction I would go. I would probably want to keep any UI

[2019-07-19 14:53] batkinson commented on #463
If you are just adding a new xpath function, it should not normally require modifying and recompiling javarosa. You can add custom function handlers by adding them to the evaluation context, for example:

`formDef.getEvaluationContext().addFunctionHandler(new MyCustomFunctionHandler());`

When you removed the declarative compile dependency on javarosa, the tool can only look at your jars as simple

[2019-07-19 16:07] jkpr commented on #463
Thanks for that tip! I ran `grep` over Collect, and I saw that the `externalDataHandlerPull` is added this way.

As for which way to do it, via Javarosa or custom function handler, Mitch had a more nuanced opinion: https://forum.opendatakit.org/t/adding-custom-function-handlers/2145/2. He wrote that there are good reasons to modify Javarosa.

Thinking about what positive we can take away, should t

[2019-07-19 16:14] jkpr commented on #463
Thanks! I saw this (https://docs.gradle.org/current/userguide/declaring_dependencies.html) when searching about including dependencies. I didn't read closely enough!

As for how to get the dependencies without going through an online repository, such as in my situation I described earlier, perhaps it is the case that the Gradle way of doing things would be to use a multi-project build. I'm not sur

[2019-07-19 17:31] #460 closed

[2019-07-19 17:35] lognaturel opened #468 "Add zero-argument variants for string-length and normalize-space functions"
See https://www.w3.org/TR/1999/REC-xpath-19991116/#function-string-length

[2019-07-19 18:40] batkinson commented on #463
Mitch's statement does not conflict with what wrote. He is describing two approaches and when to use them. I still don't know what you are actually attempting and why, outside of adding an xpath function to javarosa and validate. Validate already registers custom handlers, so what you're doing would not be necessary unless you are trying to extend core functionality. If you are trying to change th

[2019-07-19 20:59] jkpr commented on #463
Outside of those two things, we are trying to update Validate in `pyxform` and Javarosa in `ODK Collect`. This allows us to successfully validate our XLSForms and take advantage of the custom function in ODK Collect.

The problem that necessitated all of this was whitespace being added inadvertently to the end of text entry on ODK Collect. For example, our data collectors would enter `"John "` or

[2019-07-21 12:22] batkinson commented on #463
Ah, ok. If you referenced it earlier, it would have provided more of the context I needed to help.

As you saw from Mitch's old post, built-ins were not leveraging it much. I think the reality is that the pain involved in this type of extension means few choose to go this far. Also, documenting this type of thing basically advertises and, in a way, implicitly endorses it. The problem is that it re

[2019-07-22 03:25] tiritea commented on #458
So the W3C spec is pretty cut-n-dry on this... :-| So do you think its still productive to discuss this change further here, or is it really just time to raise it to TSC level for discussion as to wider impacts, and how we might mitigate them?

I do feel this it the 'right' way forward - and 2 wrongs (precluding self references + once) dont make a right - and we should instead think of perhaps how

[2019-07-22 20:47] MartijnR commented on #458
In Enketo Validate we chose to completely remove self-referencing checks as well, after realizing we couldn't do them well enough and that it was therefore better not to do them at all.

It's actually browsers themselves (at least Chrome for sure) that terminate infinite loops. There is no code in Enketo that keeps track of this.

[2019-07-24 03:21] lognaturel commented on #421
Closed in #452

[2019-07-24 03:21] #421 closed

[2019-07-31 21:02] lognaturel opened #472 "Add method to get XPath path in primary instance with index predicate only for nodes bound to repeats"
`TreeReference.toString` essentially returns an XPath path. However, that path includes index predicates for every node, even if no disambiguation is ever needed.

In the case of the primary instance, index predicates are only ever needed in the case of a repeat.

This functionality is probably best provided by `FormIndex` which represents the position of a node in the primary instance. It has bot

[2019-08-03 21:51] lognaturel opened #473 "Select multiple answer is cleared if itemset is used and more than one choice is selected"
#### Software versions
JavaRosa v2.15.0

#### Problem description
When a select multiple is dynamically generated, it is impossible to select multiple choices because the answer gets cleared.

See https://forum.opendatakit.org/t/problem-with-select-multiple-with-odk-collect-v1-23-1-and-v1-23-0/21242 for sample form and reproduction steps.

[2019-08-06 00:49] lognaturel opened #475 "Constraints are broken when form is read from cache"
JavaRosa v1.15.0

#### Problem description
Reported by user at https://forum.opendatakit.org/t/problem-with-constraint-in-odk-v-1-23-1/21257.

When a form is loaded from a cache file created by JavaRosa v1.15.0, constraints don't work as expected.

#### Steps to reproduce the problem
1. Load a form with constraints such as [t21257.xlsx](https://github.com/opendatakit/javarosa/files/3469856/t21257.

[2019-08-06 00:50] #473 closed

[2019-08-06 04:02] #475 closed

[2019-08-06 05:19] lognaturel commented on #449
#450 turned out to have really bad unintended consequences.

[2019-08-09 04:35] lognaturel commented on #221
I don't think we have any coverage of predicates that look quite like https://forum.opendatakit.org/t/validate-against-duplicate-entries-within-nested-repeats/5840/2

[2019-08-22 17:54] joeflack4 opened #480 "If statements with incorrect number of parameters"
#### Problem description
An issue in which `if()` statement is used without the correct number of parameters (e.g. 4+ params).

#### Steps to reproduce the problem
1. Create an XLSForm and use an erroneous if statement with too many parameters, e.g. an arbitrary example: `if(1=0, 1, 0, 1)`. Or use the attached form.
2. Try to run ODK Validate on this form. The issue isn't caught.

#### Expected be

[2019-09-06 18:18] lognaturel commented on #480
Thanks, @joeflack4! JavaRosa does the parameter count checking so that's why I moved the issue here. I think this might be a little more complex than what you've described, though.

I just took a quick look and the `if` function definition does verify that there are exactly three arguments. Did you actually try a form with the arbitrary example you list and could you attach it?

I haven't looked a

[2019-09-06 18:51] joeflack4 commented on #480
Oh, cool. I didn't know you could move issues to a different repo o.O

Hmm, sorry Hélène. I couldn't replicate. And I don't even remember why I included the whole form, rather than just an example, since this is pretty much a one-liner. In any event, from what I remember, such an `if()` statement with more than 3 parameters was able to be converted (somehow)... Perhaps it was nested or who knows.

[2019-09-06 19:11] priusak commented on #480
Dňa pi 6. 9. 2019, 20:51 Joe Flack <notifications@github.com> napísal(a):

[2019-09-06 19:21] lognaturel commented on #480
It's a [new-ish feature](https://help.github.com/en/articles/transferring-an-issue-to-another-repository)! 🚀

That's good news! I tried to replicate what I described with relevance and couldn't get a badly-formed if through. Definitely do re-open if you can provide the if statement that fails and the exact runtime error you get.

[2019-09-06 19:21] #480 closed

[2019-09-06 19:28] joeflack4 commented on #480
@lognaturel Oh cool. Uhh, is @priusak a new feature too, haha? Looks like a bot.

[2019-09-06 19:42] lognaturel opened #481 "Syntax errors in conditional expressions only fail at run time"
There is no static analysis performed to make sure expressions have the correct syntax. In general, this is fine because as soon as a user opens a form definition in Validate, Collect or any other JavaRosa client, the full form will be evaluated and an expression with bad syntax will be identified.

However, this is problematic in the case of expressions that involve nesting, particularly with con

[2019-09-11 07:07] ggalmazor opened #482 "Provide the list of custom function names that are missing a handler"
Clients using JavaRosa like Briefcase and Validate need to work with forms that are designed to work with third-party clients that might use custom functions that are not defined in the xforms specs.

https://github.com/opendatakit/briefcase/issues/796 is an example of one of those custom functions causing problems in Briefcase.

One solution for this is to provide dummy function handlers, but for

[2019-09-12 03:43] #482 closed

[2019-09-13 17:07] lognaturel commented on #436
I was thinking about this again in the context of #486 and want to make a note that when declaring an `itemset`, `value` and `label` `ref`s must be references (NOT expressions) and must be children of the `nodeset` expression. That simplifies things somewhat.

I keep thinking that arbitrary expressions are allowed because calls on `jr:itext` are allowed as in:
[code]
I haven't looked into this but

[2019-09-16 04:26] yanokwa opened #487 "Build JavaRosa with OpenJDK and update the readme"

[2019-09-16 16:42] lognaturel commented on #463
Thanks for the good discussion, here. I think we now agree that there is no immediate action needed so I will close.

[2019-09-16 16:42] #463 closed

[2019-09-16 16:47] lognaturel commented on #405
I think what's going on here is that Validate steps through the form as if it were a form-filling client. It never gets a year value so it attempts to evaluate `decimal-date-time("-01-01")` and that leads to the crash.

Related to #481.

[2019-09-17 00:29] tiritea commented on #405
my suspicion is that Validate may just be evaluating each binding XPath expression in situ, without actually resolving _any_ (?) instance XML element references to their actual value (substitutes '' instead?). Hence doesn't pickup any defaults.

[2019-09-17 03:08] lognaturel commented on #405
Can you please share your full form? Did you try setting a default of e.g. 2019 for year and still get that behavior?

[2019-09-17 03:28] tiritea commented on #405
try this:

[validate.xlsx](https://github.com/opendatakit/javarosa/files/3619121/validate.xlsx)

BTW XLSForm Online used to throw a type mismatch error, just tried it now and its barfing with "java not found" on it (!) ha. I assume 'cause its now crashing on it...?

[2019-09-17 18:54] #487 closed

[2019-09-18 10:58] JohnTheBeloved opened #492 "Indexing XPath Expressions to improve evaluation time for secondary instances with large dataset"
In order get a proper understanding of how to continue this work, Please read this [document](https://github.com/eHealthAfrica/javarosa/blob/eval_solution_3/docs/evaluation.md)

This issue is raised to complete the current work in progress for Indexing XPaths in other to improve form rendering time.

Indexing the XPaths makes querying them faster as the results are already evaluated and stored in

[2019-09-24 02:57] lognaturel commented on #435
#486 should address this. In an attempt to minimize context switching, @ggalmazor will wait a few more days to see if we can get another PR or two in for the next release.

[2019-09-26 04:15] lognaturel commented on #405
Form conversion with XLSForm Online v1.6.1 at http://opendatakit.org/xlsform/ succeeds. It also validates from Validate 1.13.2 directly. I can reproduce the type mismatch if I omit the default, however.

I now see that you had listed a default in your original post but I'm wondering whether somehow you might not have it in the form?

I can't really think of any action to take, here. Perhaps there

[2019-09-26 05:55] tiritea commented on #405
Let me try to reproduce.

[2019-09-26 17:37] lognaturel commented on #405
Looking back at the forum thread this came from, it looks like there was no default specified.

For better or worse, Collect doesn't show an exception when the original string that tries to be converted is `"-01-01"` because type exceptions on first form computation are swallowed. However, an exception will be shown if the year value is changed to another invalid value like -1, "cheese", etc, or c

[2019-09-26 22:55] tiritea commented on #405
The issue _was_ that even with a default, for ${year], Validate was throwing an error. That appears to have been fixed recently along the way somehwere (?)...

But the root issue - as I see it - remains, that Validate will flat out reject a _valid_ form containing

`decimal-date-time(concat(${year},"-01-01"))`

Even if, say, ${year} is a required number question [unless you work-around the bug by

[2019-09-26 23:13] tiritea commented on #405
As it happens, making the calculation only relevant if ${year} != '' has no effect - Validate still barfs. Basically, you have to fake out Validate with a default or coalesce workaround. Again, this goes to the root of the problem.

[2019-10-02 09:34] grzesiek2010 opened #496 "Forms using external xml files can't be started from cache"
#### Software versions
JavaRosa v2.15.0

#### Problem description
The problem has been originally reported here: https://github.com/opendatakit/collect/issues/3363

#### Steps to reproduce the problem
1. Open and save a form that uses [Remembering previously entered values](https://github.com/opendatakit/javarosa/pull/406) or external secondary instances.
2. Try to start another form.

[2019-10-02 20:48] #496 closed

[2019-10-03 10:47] #466 closed

[2019-10-03 11:15] #465 closed

[2019-10-03 19:32] #435 closed

[2019-10-03 19:35] joeflack4 opened #796 "Dependency cycle error sometimes contains no detail"
#### Software versions
Validate v1.12.0 (JavaRosa v2.14.0)
Java v1.8.x
OSX

#### Problem description
Sometimes a dependency cycle error does not contain any useful details. I'm used to seeing at least the nodes involved in the dependency cycle, but in this case I experienced an error where it did not show any nodes.

[code]

#### Steps to reproduce the problem
1. Download attached file.
2. Run val

[2019-10-04 17:38] lognaturel opened #498 "indexed-repeat does not work when the first parameter is a relative reference"
#### Software versions
JavaRosa v2.16

#### Problem description
`indexed-repeat` does not work when the first parameter is a relative reference. This is problematic because `pyxform` now outputs relative references within repeats.

Possibly encountered by user at https://forum.opendatakit.org/t/indexed-repeat-used-in-a-repeat-nested-in-a-repeat-returns-wrong-value/17748/37.

#### Steps to reproduc

[2019-10-04 20:05] joeflack4 commented on #481
Hello all. I just found a screenshot that I can share with you of what the issue looks like when it appears on the phone, if it's of any help.

![Screenshot_20190819-123600](https://user-images.githubusercontent.com/13045020/66236555-caadae00-e6c0-11e9-9ba4-9554a609aa57.png)

[2019-10-05 01:52] lognaturel commented on #481
Thanks! That looks like what I would expect.

[2019-10-08 20:02] jkpr opened #795 "Better messaging for syntax error than: XPath evaluation: unsupported construct [filter expression]"
#### Software versions
Validate v1.13.0, Java 10, operating system Max OSX

Also on ODK online converter.

#### Problem description
I run ODK Validate after converting the attached form and get a cryptic error message.

[Test-Form-jkp.xlsx](https://github.com/opendatakit/validate/files/3704293/Test-Form-jkp.xlsx)

```Error: b'ODK Validate Errors:\n>> Something broke the parser. See above for a hin

[2019-10-16 19:52] grzesiek2010 opened #500 "Unrecognized top-level tag [setlocation] found"
#### Software versions
JavaRosa v2.16.0

#### Problem description
https://console.firebase.google.com/project/api-project-322300403941/crashlytics/app/android:org.odk.collect.android/issues/a6f266f0ddb057f3073a47df66b2adaa?time=last-seven-days&sessionId=5DA456F2029700014203921D20B5CC4B_DNE_0_v2

`Caused by org.javarosa.xform.parse.XFormParseException: Unrecognized top-level tag [setlocation] found

[2019-10-16 19:56] grzesiek2010 commented on #500
I think we don't need to provide backward compatibility here but we should catch the exception and display an appropriate message. Do you agree @lognaturel?

[2019-10-16 20:11] grzesiek2010 commented on #500
I think you will agree so I created a pr https://github.com/opendatakit/collect/pull/3396 if not let me know.

[2019-10-16 20:21] lognaturel commented on #500
Very good conversation that you had with yourself. 😉 I do agree.

JavaRosa is doing the right thing so I'll close this. I think it's fine not to have an issue for opendatakit/collect#3396 -- its behavior is very clear.

[2019-10-16 20:21] #500 closed

[2019-10-16 22:28] lognaturel opened #501 "Remove select and select1 bind types"
There is no such thing as `select` and `select1` bind types [in W3C XForms](https://www.w3.org/TR/xforms11/#ui-selectOne). In that spec, the bind type can be any simple type (see the spec for more details).

I believe the only action to be taken here is to change all `type="select1"` or `type="select"` in test forms to `type="string"`.

**Waiting to see whether any implementations need those types

[2019-10-17 15:27] lognaturel opened #502 "String.join not available in lower Android levels"
https://github.com/opendatakit/javarosa/commit/03073d457c866f57c4b6e4ba3ee49c3fec8ae91f#diff-111bb41e949053901319c1fb810b853aR749 uses `String.join` which was introduced in Android API 26. Collect currently has a minimum SDK of 16.

[2019-10-17 16:45] yanokwa commented on #502
I worry about this class of issues where we use some method in JavaRosa that isn't supported in Collect. Is there a systematic way of catching these?

[2019-10-17 17:39] lognaturel commented on #502
I do too. I can't find any automated way to check for it, unfortunately. @ggalmazor, maybe? Or maybe we need to build with Java 7?

[2019-10-17 20:27] #502 closed

[2019-10-21 14:12] ggalmazor commented on #501
This would be awesome!

I also agree that the expected type would be `string` because that's the type values in selects are given internally.

[2019-10-21 14:18] ggalmazor commented on #502
Ugh! Sorry I didn't realize that before approving the PR :/

I don't know any way to automatize these checks, but I'm studying it.

[2019-10-22 09:24] ggalmazor commented on #502
OK, so, this is what I've tried:
- Create an empty Android project with support for API level 16.
- Tune it to make Gradle build it using Java language level of 8 (support diamond operator and better type inference) to match JavaRosa's requirements
- Add JR's dependencies to the Android app's gradle conf file
- Copy JR's code to the Android app's sourceset
- Run `./gradlew clean check`

This will

[2019-10-22 10:05] ggalmazor commented on #502
OK, I've created a PR that does all of this. It's currently failing the build due to the compat error mentioned before: #505

[2019-10-23 20:21] lognaturel opened #506 "Space between output elements should be respected"
#### Software versions
JavaRosa v2.17 and prior.

#### Problem description
Space between output elements as in `<output value=" ../person/first_name "/> <output value=" ../person/last_name "/>` is not respected. That is, if `first_name` has value "Foo", `last_name` has value "Bar" and the two output elements are in a `label`, the `label` is displayed as "FooBar" rather than "Foo Bar".

#### Steps

[2019-10-25 20:16] #100 closed

[2019-10-25 20:16] #103 closed

[2019-10-25 20:16] #102 closed

[2019-10-25 20:16] #101 closed

[2019-10-25 20:18] #104 closed

[2019-10-25 20:20] lognaturel commented on #113
https://forum.opendatakit.org/t/geo-fields-should-be-stored-in-wkt-format-well-known-text/7048 has more discussion about formats for geo data. This would require introducing new types to ensure backwards compatibility.

[2019-10-25 20:20] #113 closed

[2019-10-25 20:21] #118 closed

[2019-10-25 20:22] #114 closed

[2019-10-25 20:24] #120 closed

[2019-10-25 20:24] #122 closed

[2019-10-25 20:25] #124 closed

[2019-10-25 20:26] #129 closed

[2019-10-25 20:29] lognaturel commented on #134
This may still be a problem but since it hasn't been reported in many years let's close and reopen if it comes up again.

[2019-10-25 20:29] #134 closed

[2019-10-28 03:15] lognaturel commented on #114
Almost no user writes forms directly in XML these days so knowing the line number of the failure in the XML source would not be useful. Additionally, by default, pyxform minifies XForms and the line number would always be 1 in that case.

I can't access the original thread so I'm not sure exactly what kind of error this is referring to but I'm guessing it's a runtime error. This still wouldn't be

[2019-10-29 19:34] dcbriccetti commented on #422
I’m getting (re)acquainted with the relevant sections of the code.

[2019-10-29 21:13] dcbriccetti commented on #422
Does JavaRosa support any similar shortcuts now?

[2019-10-29 22:13] dcbriccetti commented on #422
I see two approaches, at this point. One is to do a text substitution on the node set string, perhaps using a regular expression. The other is to do something in the vicinity of `xpath.parser.Parser.buildParseTree`. This is the code with the warning, `/* if you try to edit this code, you will likely break it */`.

[2019-11-04 10:02] grzesiek2010 opened #509 "count-non-empty function doesn't work"
#### Software versions
JavaRosa v2.17.0 and older versions

#### Problem description
[count-non-empty](https://docs.opendatakit.org/form-operators-functions/?highlight=count%20selected#count-non-empty) function doesn't work

#### Steps to reproduce the problem
Try to open this form:
[test.xml.txt](https://github.com/opendatakit/javarosa/files/3803410/test.xml.txt)

[2019-11-04 21:03] lognaturel commented on #509
I believe the fix here is to make the return type Double.

[2019-11-07 03:09] lognaturel opened #510 "current() without a path doesn't work"
[This form](https://docs.google.com/spreadsheets/d/12vcVPGGewjtqnf6hmKEFiPZN_I2d36CKJ-zhbZfWbpI/edit#gid=0) has the following predicate:

[code]

It should be possible to use `current()` without a path but we get:

[code]

[2019-11-26 08:10] #509 closed

[2019-12-05 12:53] grzesiek2010 opened #512 "Operators in calculations are case sensitive"
#### Software versions
JavaRosa v2.17.0 and older versions

#### Problem description
In calculations you can use operators like: and, or, div, mod but you can't use AND, OR etc.
it breaks form parsing. I think it's not intuitive and have seen some questions on the forum where it was a problem why a user was't able to use a form.

[2019-12-06 18:52] lognaturel commented on #512
Can you please link to the forum posts where this came up?

This is a spec-level conversation. Operators come from XML which is case-sensitive. If this gets changed, it should be part of the official spec. That said, it might not be a reasonable change to make because for tools that use off-the-shelf XPath evaluators there's probably no way to change operator case sensitivity.

[2019-12-10 12:41] grzesiek2010 commented on #512
It's difficult to find it now but I'm sure I answered such questions...
There is a similar problem with regex for example. Some calcs might capitalize the first letter automatically (I had such a situation), then it starts with Regex not regex (if you don't correct it manually), it doesn't throw any exception when you convert your form but then doesn't work in Collect.
That's why I thought it woul

[2019-12-13 10:50] ggalmazor opened #516 "Describe and document which expressions are evaluated when"
During #515, we detected a special scenario where a group's relevance might make some field calculations not be evaluated. See `Safe2014DagImplTest.verify_relation_between_calculate_expressions_and_relevancy_conditions()` for context.

We should discuss this and:
- Decide if we should evaluate all expressions regardless of relevance or not, considering the performance implications.
- In any case,

[2019-12-13 10:51] ggalmazor commented on #516
@lognaturel affirms that "I believe Gareth had found something in the XForms spec that suggested that expressions should be evaluated regardless of relevance. This has performance implications, certainly.". @tiritea, could you provide more info regarding this?

[2019-12-13 21:10] lognaturel opened #519 "Re-introduce isParentOf as alias for isAncestorOf and mark as deprecated"
As @grzesiek2010 has discovered, `isParentOf` is used in Collect (https://github.com/opendatakit/collect/pull/3536/files) and really should be part of the public API.

[2019-12-14 07:35] ggalmazor commented on #519
Thanks!

[2019-12-18 04:57] lognaturel opened #522 "Triggerables triggered twice on repeat creation"
A call on `triggerTriggerables` was introduced in `createNewRepeat` at https://github.com/opendatakit/javarosa/commit/9b88318435487f8fca91d60e67e0457b2a181d97#diff-96c7e556ff24192dbc4851b9b4410bbfR508. However, `dagImpl.createRepeatGroup` already makes the same call. The call on `triggerTriggerables` should be removed.

[2019-12-18 10:01] ggalmazor commented on #522
The following couple of lines can be removed too, since are not used anymore:
[code]

[2019-12-19 22:01] tiritea commented on #516
found it, in https://www.w3.org/TR/2012/WD-xforms20-20120807/: [emphasis added]

 note emphasis that is about **visibility in UI**...

And later:

Which I interpret to mean calculations - as a non-UI element - are specifically **not** disabled (ie are "not made non-operable") as a consequence of their immediate (or inherited) relevance evaluating to false. More specifically, calculations in non-re

[2019-12-20 07:36] ggalmazor commented on #516
Thanks, @tiritea. I think you're right and we should always compute calculates. It's clear to me now that the relevance of a field is a UI concern. What do you think, @lognaturel?

If we all agree on this, we should raise an issue and review this accordingly, starting from describing different regression scenarios and creating tests for them.

[2019-12-20 08:08] ggalmazor commented on #519
Hi, @grzesiek2010! I'm not sure if you're working on this. I could throw a quick PR with the solution during my morning today

[2019-12-20 08:16] ggalmazor opened #524 "Remove redundant check of cycles in the DAG"
`XFormParser.addMainInstanceToFormDef` does two DAG cycle checks:
- There's an explicit check by calling `checkDependencyCycles`, which ultimately calls `TriggerableDag.reportDependencyCycles`.
- There's an implicit check by calling `FormDef.finalizeTriggerables`, which calls the same method in `TriggerableDag` that has its own cycle detection code.

Both methods have similar side-effects (throw a

[2019-12-20 09:41] ggalmazor commented on #458
Just a refresher on latest work on this front:

We have improved the test suite around the DAG, which includes specific cases of cycles in the DAG due to self-references and chains of dependencies between vertices in the DAG (triggerables).

We had to come up with specific scenarios to describe the DAGs behavior, which surfaced some inconsistencies that we should discuss:
- We were able to show in

[2019-12-20 17:03] tiritea commented on #516
FYI adding this as it appears 'relevant' to discussion (no pun intended... ;-) :

https://github.com/opendatakit/javarosa/issues/284

[2019-12-20 23:48] tiritea commented on #516
Btw, the practical benefit of always performing calculations irrespective of relevance is that it permits processing lists using repeat groups, but ‘hiding’ the repeat group from the UI so the used doesn’t have to nav thru it; eg my geofence or geotrace-2-KML forms.

[2019-12-27 09:43] ggalmazor commented on #516
Thanks for taking the time to add info, @tiritea!

[2019-12-27 09:46] ggalmazor commented on #284
I think we have established in #516 that relevance is an UI concern that should not prevent any calculation.

We could discuss whether this is convenient or not, or try to asses the performance implications in clients, but the specs are clear about it.

[2019-12-27 09:46] #284 closed

[2020-01-06 14:53] anadi198 commented on #131
@opendatakit-bot claim

[2020-01-07 13:59] grzesiek2010 commented on #519
I had a Christmas break. I'll create a pr tomorrow.

[2020-01-07 18:00] #522 closed

[2020-01-08 10:41] #519 closed

[2020-01-08 17:38] #524 closed

[2020-01-09 15:31] ggalmazor opened #531 "Out of spec behavior of the xforms regex function"
#### Problem description
This is what the ODK XForms specs say about the `regex(string value, string expression) --> boolean`

This means that the expression should match any part of the provided value unless `^` and `$` anchors are used in the provided expression.

However, JavaRosa matches the whole value, as if the provided expression always included the `^` and `$` anchors.

#### Steps to repr

[2020-01-09 15:35] ggalmazor commented on #531
We need to discuss whether it would be safe to fix this bug in case users rely on JavaRosa's current behavior, even if it's not up to spec.

@tiritea commented in Slack:

https://www.w3.org/TR/xquery-operators/#func-matches
which as specified does the proper substring match. [and add a HUGE warning that Collect's regex() performs a full string match only!]

[2020-01-09 16:45] tiritea commented on #531
additional background from slack:

so it looks like there might be a 'bug' in javarosa regex, in that your provided regex expression must match the entire string - ie implicitly adding a ^...$ around the expresion - as opposed to finding any substring that matches (which is the correct behavior, and which Enketo does). Specifically, in the code https://github.com/opendatakit/javarosa/blob/master/s

[2020-01-09 19:29] lognaturel commented on #531
I have indeed never noticed this inconsistency. The historical context is that when JavaRosa was created, there wasn't really any consideration to compatible engines and a number of decisions it made are fairly Java-centric (down to the name). As far as I can tell, the form specification part of the OpenRosa standards was not particularly well-documented. @martijnr will need to confirm or deny thi

[2020-01-09 20:49] MartijnR commented on #531
Ah sorry about my mistake. I had no idea about the difference in implementation either and years back probably would have written the spec for `regex()` differently if I had realized that Javarosa's implementation was like this (also in Commcare's spec @ctsims ).

I do actually prefer the spec as currently written though since it is more powerful and I don't have any problem at all with requiring

[2020-01-09 22:02] tiritea commented on #531
I’d probably say we should make the non-standard regex() perform a full match, as Collect does today (sorry, more work for you @MartijnR), fix the ODK spec to reflect the the expression will be effectively anchored with ^ and $ whether you like it or not. And implement XPath matches() function on both [its a real PITA to do a substring match right now if that is actually what you need].

What say

[2020-01-09 22:06] tiritea commented on #531
And Yes, there are situations when a partial match is required; this all came about from a Kobo user trying to figure out why His Enketo constraint was working but didn’t in KoboCollect [so no, it wasn’t just me being overly pedantic as usual... :-) ]

[2020-01-10 00:21] tiritea commented on #531
I must add, to acknowledge @MartijnR 's hard work in 'correctly' implementing `regex()` in Enketo - and now having to potentially 'break it' to maintain compatibility with Collect/javaRosa - that...

😁

[2020-01-13 21:18] ctsims commented on #531
For clarity on our side, our implementation [matches the expected behavior](https://github.com/dimagi/commcare-core/blob/master/src/test/java/org/javarosa/xpath/test/XPathEvalTest.java#L133), and I believe always has.

It looks like there was drift in the ODK fork at some point historically (Github's history for the repo only goes back [April 2016](https://github.com/opendatakit/javarosa/blame/980

[2020-01-14 14:21] grzesiek2010 commented on #506
It happens in kxml2 (where files are parsed). We can't fix it in javaorsa. I also doubt it's possible to fix it in kxml2 since the code has not been touched for 2 years.
I just confirmed that using `&#160;` works so maybe we can do that while converting forms to xml like we do with `<>` for example.
What do you think?

[2020-01-14 15:16] grzesiek2010 commented on #399
It's not that dynamic values wok well but static don't . If we have a static value it also should be in a separate element for example:
`<bind calculate="2" nodeset="/repeat_count_test/e1_count" readonly="true()" type="string" />
`and then we can use it:
`jr:count=" /repeat_count_test/e1_count "`

I don't think we want to change anything here do you agree @ggalmazor?

[2020-01-14 15:20] ggalmazor commented on #399
I need to wrap my head around this and understand it. I'll try to say something as soon as possible :P

[2020-01-14 18:08] lognaturel commented on #399
The specification shows a raw value and explicitly states that the value should be evaluated dynamically: https://opendatakit.github.io/xforms-spec/#creation-removal-of-repeats So `jr:count="3"` should be supported, as should `jr:count="/data/foo * 3"`.

pyxform introduces an intermediary field so this doesn't affect most users. @cooperka is running into it because he uses a different form builder

[2020-01-15 04:09] lognaturel commented on #531
Thanks for reporting back, @ctsims! Well, that's frustrating. https://github.com/opendatakit/javarosa/commit/389f5abeb26c1ad35a5e5d29cdd83e26673994ce is the bad commit. So yes, indeed, the JavaRosa behavior is not as it was initially intended to be. I apologize for speculating incorrectly on when the deviation may have come in.

The change to the incorrect behavior dates back to 2014. Perhaps we j

[2020-01-28 10:13] ggalmazor opened #532 "Wrong deserialization of SelectChoice.value"
#### Problem description
According to the normal constructors of `SelectChoice`, its `value` member should never be `null`. Nevertheless, `value` could have a `null` value after deserialization if it was holding an empty string before.

#### Steps to reproduce the problem
The following test proves this:
[code]

#### Expected behavior
The `value` member should not change its value after deserializa

[2020-01-29 22:46] #532 closed

[2020-01-30 07:50] ggalmazor opened #534 "Wrong parsing of time during certain hours of the day"
#### Problem description
`DateUtilTest` fails during certain times of the day depending on the system's time zone and the amount of hours set in the `offsetTwoHours` variable (currently `+2`). In my computer (Spain) it fails from 22:00 to 3:00, and we've seen the build fail in CI at 23:40

#### Steps to reproduce the problem
- You can try changing your system's time to different times until you ge

[2020-02-03 22:20] #534 closed

[2020-02-09 22:46] lognaturel opened #540 "Relative references aren't correctly expanded in nested repeats"
See https://forum.opendatakit.org/t/how-to-count-repeats-in-a-inner-field/24668/3, https://forum.opendatakit.org/t/error-in-indefinite-repeat-group-inside-another-repeat-group/24729/2.

We know there was actually no support for relative references in nested repeats for some time: https://github.com/opendatakit/briefcase/issues/767#issuecomment-518839453

Possibly also related: https://github.com/o

[2020-02-10 10:53] ggalmazor opened #541 "Regression: wrong relevance updates of fields in groups with relevance conditions"
#### Software versions
This problem affects to the unreleased version of JavaRosa currently in the `master` branch.

#### Problem description
73e63649d759e210056fc7735271bb4b5946ddc0, and 86e2745e756bc341b0e06f06667368754e4c69f2 change the way we resolve triggerable targets for relevance conditions defined in groups. Before these commits, we resolved these refs during triggerable evaluation, which

[2020-02-10 11:16] ggalmazor commented on #540
Thanks for documenting this issue, @lognaturel!

It all comes down to the `TreeReference.contextualize()` method. This test describes the current behavior:

[code]

This unexpected behavior presents a problem with all xpath functions that work on nodesets, because we will be getting just one node when there could exist more. While studying this, I thought that a possible solution would be to chang

[2020-02-10 17:45] lognaturel opened #544 "Add support for %W (week number) to format-date and format-date-time"
See https://forum.opendatakit.org/t/odk-xform-spec-proposal-add-week-number-to-format-date-and-format-date-time/23401

[2020-02-12 04:59] #541 closed

[2020-02-24 13:23] dave91087 commented on #131
@opendatakit-bot claim

[2020-02-27 20:07] lognaturel commented on #135
Closed in https://github.com/opendatakit/javarosa/commit/3d28d79d86a4064048af60673e18a306f50a057a and test added in https://github.com/opendatakit/javarosa/commit/b764b92f0df8dea9a209d5d1c324220fa3bd2573.

[2020-02-27 20:07] #135 closed

[2020-02-27 20:09] lognaturel commented on #135
@aurdipas, we got you. 😂😂😂😭 (The bug was fixed then, the issue was just never closed for some reason, and no test was added.)

[2020-02-28 05:03] #131 closed

[2020-02-28 23:26] lognaturel opened #547 "Add test with form for digest function and ensure expressions for the first parameter are parsed"
Reported by @tiritea. This makes Validate fail so `digest` isn't accessible through XLSForm.

#### Problem description
The first argument to the `digest` function is cast to a `String` when it should be evaluated as an expression.

#### Steps to reproduce the problem
Write a form with some expression as the first argument to `digest`.

#### Expected behavior
The expression should be evaluated and

[2020-02-28 23:29] tiritea commented on #547
Presently digest(...) only works if you give it an explicit string, eg

`digest("ABCDE",'md5')`

But will fail to parse if you give it an Xpath ref expression, ala

`digest(${foo}, 'md5')`

bugger... :-(

[2020-03-02 17:07] lognaturel opened #548 "Overly generic exception types make it hard for clients to do error handling"
There are a number of places where JavaRosa throws `RuntimeException`s. That can make it hard for clients to differentiate between exceptions that came from JavaRosa and exceptions that came from elsewhere. As a result, Collect does awkward things like catch `RuntimeException`s and wrap them in its own `JavaRosaException` type: https://github.com/opendatakit/collect/blob/master/collect_app/src/mai

[2020-03-02 17:09] ggalmazor commented on #548
This sounds reasonable. Thanks for bringing it up! :)

Maybe we could start focusing on the specific places where Collect is forced to catch `RuntimeExceptions`. Do we have a list of those?

[2020-03-05 11:16] ggalmazor commented on #449
I'm researching this issue. My first task would be to get the simplest possible form that reproduces the issue. I think I got that with this form:

[code]

This is an example of the `issue_449_last_saved.xml` file:
[code]

I'm getting this error when loading this form in a test:

[code]

@lognaturel, would you say this is the same thing we're trying to solve?

[2020-03-05 11:34] ggalmazor commented on #449
@lognaturel, could you refresh my memory, please? I've just changed `TreeReference.equals()` and `TreeReference.hashCode()` to consider the `instanceName` into the mix, which makes JavaRosa able to load the form (no cycles detected! :smile:)

No other test breaks because of this change too (including the smoke tests)

Does this sound OK to you?

[2020-03-05 12:39] ggalmazor commented on #424
So, I've tried this in a test and it turns out that `[position() = 1]` works as expected. The error I'm actually getting is that `XPathPathExpr` doesn't know what to do with `randomize()`, as expected.

This is the form I'm using:
[code]

Then I changed `XPathPathExpr` to parse `randomize()` just like `instance()` but the references don't get the shuffled nodeset, obviously.

I would like to pass

[2020-03-05 13:14] ggalmazor commented on #501
We could always throw an error, or at least a warning in the logs if we see this type in a binding...

[2020-03-05 17:26] lognaturel commented on #449
Sorry, looks like I didn't write a lot of notes in my rush to revert. The solution we had previously (https://github.com/opendatakit/javarosa/pull/450) broke after serialization and deserialization so that would be a good test to add.

[2020-03-06 15:27] ggalmazor commented on #449
The only difference I see between my changes and yours from #450 is that I also implemented a change in the `hashCode()` to consider the instance name, so that map keys get matches correctly (this is what solves the cycle in the DAG, actually).

I can't see any other test breaking due to this, and I'm also able to write this specific test for this issue:

[code]

Does this sound right to you, @log

[2020-03-09 17:49] #501 closed

[2020-03-09 17:52] lognaturel commented on #501
I think it's a good thing that unknown bind types fall back to string because it makes it possible for some data to be entered. I would not be in favor of throwing an error. I'm indifferent to adding to the logs -- in practice I don't think they're really accessed.

[2020-03-09 18:30] #540 closed

[2020-03-09 19:04] #498 closed

[2020-03-10 18:39] opendatakit-bot opened #555 "number(geopoint) returns empty string"
<a href="https://github.com/mitchellsundt"><img src="https://avatars.githubusercontent.com/u/2281171?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [mitchellsundt](https://github.com/mitchellsundt)**
_Thursday Jul 09, 2015 at 19:39 GMT_
_Originally opened as https://github.com/opendatakit/opendatakit/issues/1006 (3 comment(s))_

---

Originally reported on Google Code w

[2020-03-10 18:40] lognaturel commented on #555
There are some possible issues highlighted at https://github.com/opendatakit/javarosa/issues/555#issuecomment-244794338 that would be good to introduce tests around.

[2020-03-10 19:22] JasonIves opened #557 "Once() creating compounding calculation results."
#### Software and hardware versions
Detected in collect 1.4.5 build 1048
Confirmed in collect 1.9.1
Android 7.x (varies slightly by tablet)
Nexus 9 tablet

#### Problem description
When using once() over only a portion of a calculation, it retains the output value of the entire calculation from one execution of the calculation to the next, instead of just the portion within the once() function.

F

[2020-03-11 00:33] dcbriccetti commented on #422
Still working, bot.

[2020-03-11 08:25] #547 closed

[2020-03-17 20:38] lognaturel opened #562 "Type conversion may not be as described by XPath spec"
https://forum.opendatakit.org/t/how-to-compare-2-calculated-values/5588 for sample form.

It should be possible to sum fields of type string because they should automatically be coerced to numbers.

More context: https://github.com/XLSForm/xlsform.github.io/issues/71#issuecomment-224322744 and https://github.com/XLSForm/pyxform/issues/70#issuecomment-599660252

We should at least have tests to doc

[2020-03-18 18:43] macdude357 commented on #544
@lognaturel I can take a look at this.

[2020-04-03 22:48] lognaturel commented on #498
For QA: the XLSForm I linked to above used to have the working `../../uuid` expression instead of the `indexed-repeat` one. I've modified it. Form conversion doesn't work with the online conversion tool because of Validate so the XML is [indexed-repeat-nested.xml.zip](https://github.com/opendatakit/javarosa/files/4430246/indexed-repeat-nested.xml.zip).

[2020-04-09 18:02] lognaturel opened #568 "Distance test form has wrong repeat nodeset"
https://github.com/opendatakit/javarosa/blob/59611cc0755dfbaf6631866ff15d6a9a516df704/src/test/resources/org/javarosa/core/util/distance.xml

`points` is intended to be the repeat but the `nodeset` in the body is wrong and the child nodes are the repeated ones.

[geopoints.xml.zip](https://github.com/opendatakit/javarosa/files/4463446/geopoints.xml.zip) is what the form should look like.

[2020-04-13 05:07] abdulazizali77 commented on #468
hi @lognaturel can i pick this up?

[2020-04-13 20:21] lognaturel commented on #468
That would be wonderful, @abdulazizali77! Please ask if you have any questions either here or [in Slack](https://slack.opendatakit.org).

[2020-04-17 19:42] abdulazizali77 commented on #510
hi @lognaturel id like to give this a shot!

[2020-04-18 00:10] lognaturel commented on #510
That would be amazing, @abdulazizali77! I haven't looked at a possible solution yet so I don't have a sense of whether it requires a lot of context or is hard. The first thing would be to get a failing test together and even just that would be a great contribution.

[2020-04-23 00:22] lognaturel opened #571 "Document that tests should use the Scenario class and DSL"
All newly-introduced tests should use the Scenario class and the form-building DSL.

[2020-04-27 16:14] MartijnR commented on #399
We'd like to [simplify the pyxform output](https://github.com/XLSForm/pyxform/issues/435), and this bug would become important.

[2020-05-05 21:50] #468 closed

[2020-05-06 22:50] #544 closed

[2020-05-11 20:46] MartijnR opened #573 "Empty value for setvalue is not accepted."
Not sure if this is javarosa or validate.

`setvalue=""` is considered an error.

https://github.com/XLSForm/pyxform/blob/f64f4a00f12e9bb6f2d20e238b3566f8f2008096/pyxform/tests/test_expected_output/when_column_setvalue_4.xml

https://github.com/XLSForm/pyxform/issues/438

[2020-05-14 05:19] lognaturel commented on #332
As described above, the form definition's structure was wrong. While fixing it in a test for #574, I put in the values from the form @grzesiek2010 was working with and confirmed that the result for the corrected geopoint repeat is the same as for a trace or shape.

See [geopoint-nodeset-distance.xml.zip](https://github.com/getodk/javarosa/files/4626164/geopoint-nodeset-distance.xml.zip) for a form

[2020-05-14 05:19] #332 closed

[2020-05-14 15:57] #568 closed

[2020-05-18 09:22] abdulazizali77 commented on #510
@lognaturel apologies for the delay, ive finally gotten around to understanding this a bit but have not yet managed to replicate it! Im not sure what youre invoking to get the stack trace, so bear with me. When we call the path with `Scenario` like so its all fine and dandy
[code]
But when we call it with bare `FormDef` im not sure how youre getting the formindex to instantiate the `FormEntryPromp

[2020-05-18 10:42] grzesiek2010 opened #575 "Media files are not displayed in select questions if choice_filter is used"
#### Software versions
All versions

#### Problem description
Media files are not displayed in select questions if choice_filter is used. The problem has been reported on the forum: https://forum.getodk.org/t/embedded-images-in-select-one-questions-in-groups/26378/4

#### Steps to reproduce the problem
Test the attached form:
[choiceFilterWithImages.zip](https://github.com/getodk/javarosa/files/46

[2020-05-19 05:16] lognaturel commented on #386
Apologies for the silence on this issue.

I recently closed #332 and added more tests for the distance and area function and saw this. In general, please use [the forum](https://forum.getodk.org) as the first place to go for support as it goes to a broader audience.

You can concatenate two geopoints separated by a semicolon (;) to achieve what you need. I've filed a documentation issue to make th

[2020-05-19 05:16] #386 closed

[2020-05-21 16:26] macdude357 commented on #506
@lognaturel I'm willing to give this one a try.  I took a look at the code but don't know how to reproduce it.  Is there a similar test I can duplicate and configure to use your attached xml file?

[2020-05-21 18:47] lognaturel commented on #510
I realize that the test actually needs a fair amount of context so I put that together at https://github.com/getodk/javarosa/compare/master...lognaturel:issue-510. I simplified the predicate expression dramatically to just focus on demonstrating the failure. Hopefully this helps clear up what the problem is and gives you a reasonable place to start!

[2020-05-21 19:08] lognaturel commented on #506
Thanks so much, @macdude357! I think that @grzesiek2010 is likely right but haven't had a chance for a sanity check. That said, spaces before and after outputs are respected so it seems it might be possible.

This is the kind of test I had in mind:
[code]
You can see that if you add spaces after "Full name:" those will go through. But all space between the tags is collapsed.

The expected output w

[2020-05-21 21:08] abdulazizali77 commented on #510
thanks @lognaturel will get to it!

[2020-05-22 23:01] lognaturel commented on #449
Thanks for looking into this and writing a regression test, @ggalmazor! The test passes because your change to `TreeReference` doesn't do anything, unfortunately. The test `ref.instanceName != null && !ref.instanceName.equals(((TreeReference) o).instanceName)` compares the same reference to itself. Even if `this` were used instead of `ref`, the behavior wouldn't be what we want because it wouldn't

[2020-05-26 18:12] lognaturel commented on #449
I apologize, that's not right! There were two sources of problems from the original PR: the missing `hashCode` implementation meant the DAG wasn't built up properly and the fact that references in the primary instance were getting an instance name on deserialization rather than `null` meant that reference comparisons were failing in some cases like constraint evaluation.

So indeed, the addition o

[2020-05-26 19:13] lognaturel commented on #399
This particular attribute doesn't come from any other existing spec and now that I look at the code more closely, it's very clear that the intent is for its value to be a reference. Out of curiosity, I checked CommCare and they definitely don't support anything other than a reference either even though their XForms spec also has an example with a literal value. I think the spec might just be wrong

[2020-05-26 20:28] lognaturel commented on #399
I want to add that I'm not saying that making the `jr:count` value a reference is a better spec design, only that it was a very clear choice by the original JavaRosa authors. The same way that we honor historical XPath decisions that we may not agree with now, it would make sense that for additions in the `jr` namespace we either honor the original implementation or have an explicit conversation a

[2020-05-28 21:14] MartijnR commented on #399
Uh oh, sounds like we should find and punish the writer of those parts in the specs. Thanks for looking into that!

[2020-06-01 21:30] lognaturel commented on #399
Haha, I hope you know that's not what I intended! 🤗 So what do we do with this information? How strongly do you feel that any expression should be allowed?

[2020-06-01 21:34] lognaturel commented on #512
As noted above, this first needs to be considered as a spec-level proposal. Since the case-sensitivity comes from XPath, I feel strongly that we should not change it at the XForms spec level. We possibly could do a transformation from `pyxform` but I'd like to see evidence that this is a common problem first (because we're sitting on other common problems we need to fix!).

[2020-06-01 21:34] #512 closed

[2020-06-01 21:37] lognaturel commented on #221
I think @ggalmazor has given us a great start in the smoketests package so we can close this issue. Naturally, there'll always be more to do but now there are good examples and a lot more coverage.

[2020-06-01 21:37] #221 closed

[2020-06-02 08:23] #573 closed

[2020-06-02 11:16] #449 closed

[2020-06-02 14:26] MartijnR commented on #399
I do!

I think it would be a nice-to-have addition, but don't feel strongly about it. So I'm happy to keep as-is if it's a pain to change in JavaRosa. There are other attributes that only accept a path, so no big deal to treat jr:count as one of those.

[2020-06-09 18:46] lognaturel opened #584 "Indirect reference to repeat count doesn't update as repeat instances are added"
On v2.17.0, if there's a calculate with a call on count(repeat) outside of that repeat and then a reference to that calculate inside the repeat, the reference inside the repeat is updated as the repeat count changes when repeat instances are added or removed. See https://github.com/getodk/javarosa/compare/master...lognaturel:v2.17.0-with-testing#diff-4c309f85e6172ad03a5c4590307ea6b4R105 for a bran

[2020-06-11 00:14] lognaturel commented on #584
I did quick debugging sessions on v2.17.0 vs master and got to the call on `expandReference` in `triggerTriggerable`/`evaluateTriggerable`. On `master`, that expansion never results in more than one node. On v2.17.0, it expands to all repeat instances which is what we want. d7593de is the first bad commit according to bisect.

[2020-06-11 08:48] ggalmazor commented on #584
Hi @lognaturel! The https://github.com/getodk/javarosa/compare/master...lognaturel:v2.17.0-with-testingdiff-4c309f85e6172ad03a5c4590307ea6b4R105 link doesn't show anything... Did you rebase?

I could take a look at this during the weekend

[2020-06-11 16:48] #229 closed

[2020-06-11 18:25] lognaturel commented on #584
Thanks and sorry! https://github.com/getodk/javarosa/compare/master...lognaturel:v2.17.0-with-testing. The test is in `Safe2014DagImplTest.java`. I'll be looking at it this weekend too so maybe we can touch base some time. It looks like that `firedAnchors` map was doing something useful after all.

I did a little more exploration yesterday here are some things I've found interesting:
- If I replac

[2020-06-13 14:18] ggalmazor commented on #584
Gosh, this is hard! Starting to look at this now. The good news (I guess) is that we can always bring back the old `firedAnchors` map, right?

[2020-06-13 14:27] ggalmazor commented on #584
OK, in master I'm getting this in the first set of assertions:
[code]

Are we on the same page?

[2020-06-13 14:33] ggalmazor commented on #584
Changing the assertion to:
[code]
Makes it pass, which means that the inner-count calculate is being executed once each time a new repeat is created. The problem is that previous repeats aren't recalculated.

[2020-06-13 14:38] ggalmazor commented on #584
How would this be different than the `relative_paths_in_nested_repeats` test?

[2020-06-13 14:53] ggalmazor commented on #584
Well, it turns out that reverting the `firedAnchor` changes does solve the test but `elative_paths_in_nested_repeats`, and `validation_only_triggers_calculations_involving_user_visible_fields` still present the "buggy" behavior.

See: https://github.com/ggalmazor/javarosa/commit/eb8ade55ea635a31f5045f8b5fe17e8a974d3a6c

[2020-06-13 17:26] lognaturel commented on #584
Here's something absolutely wacky. I mentioned above that changing the inner calculate to `count(/data/repeat)` produced the expected results. It turns out that's only true if there's also a count calculation outside the repeat. That is, in my original test, using the following binds works:
[code]

However, this does not:
[code]

[2020-06-13 18:24] lognaturel commented on #584
As I noted above, replacing `anchorRef` with `anchorRef.genericize()` leads to most of the desired behavior. I touched base with @ggalmazor about this approach and our concern is performance since that means every repeat instance would always be considered. Here's a "test" (no assertion) that gets at what effect this has. In this case, the only calculation in the repeat is totally independent of t

[2020-06-19 06:31] lognaturel commented on #584
I've spent some more time with the original `firedAnchors` code and it still doesn't make sense to me. I see that `anchorRefs` for `evaluateTriggerable` will either be the original changed ref (`anchorRef`) or the set of repeat instances. I think this is what causes every repeat to be updated, not the call on `expandRef` which never expands anything. I think basically what this code ends up doing

[2020-06-21 15:00] #584 closed

[2020-06-22 21:39] lognaturel opened #587 "Update tests, benchmarks and documentation for cases in which triggerables are computed for all repeat instances on repeat instance add/delete"
#586 identified and addressed cases in which triggerables must be computed for all repeat instances on repeat add/delete. This resulted in a dramatic simplification of the delete code that needs to be documented in https://github.com/getodk/javarosa/blob/master/dag.md. It also slows down repeat add/delete in the case where a `position(..)` expression is used. We should add a benchmark for this.

[2020-06-24 12:49] grzesiek2010 opened #588 "Move FormHierarchyActivity.navigateToTheLastRelevantIndex() from Collect to Javarosa"
#### Problem description
In collect we have just merged this pr https://github.com/getodk/collect/pull/3912
According to the discussion: https://github.com/getodk/collect/pull/3912#discussion_r437031138 it would be better to move
FormHierarchyActivity.navigateToTheLastRelevantIndex() to Javarosa.

[2020-07-13 22:25] #587 closed

[2020-07-14 18:12] lognaturel opened #591 "Document the context intersection that happens to represent identical expressions with a single triggerable"
One important thing that https://github.com/getodk/javarosa/blob/master/dag.md doesn't mention is the deduplication work that `TriggerableDag.addTriggerable` does with its call on `intersectContextWith`. This means that identical expressions only get computed once but it can lead to unexpected results such as the difference between `addingOrRemovingRepeatInstance_updatesRepeatCount_insideAndOutsid

[2020-08-11 20:53] macdude357 commented on #506
After looking at the code, I'm not sure this is a good test.  The code that generates the placeholders (${0} and ${1}) looks like this:
`String s = "${" + parseOutput(kid) + "}";`
The spacing is part of "kid" so at the very least, it might be more correct to expect ${ 0 } but I don't think that's correct either.  Either that, or the code would have to check for leading/trailing space in kid, then

[2020-08-11 20:59] lognaturel commented on #506
First, I hope you're well and thanks for coming back to this!

I haven't looked at the code in a bit but doesn't either `parseOutput` or some previous step that produces `kid` take care of white space around the reference in an `output`? That whitespace isn't meaningful so I think it's doing the right thing. It's the space between two `output` tags that's meaningful.

Really, the assert in my test

[2020-08-11 21:15] macdude357 commented on #506
I see.  I thought that the spacing around ../first_name was the issue but it's the spacing between the <output xxx/> tags that needs to be maintained.  Thanks for clarifying.

[2020-08-11 22:48] macdude357 commented on #506
I found that putting a non-breaking space between the output elements results in the desired behavior:
`"Full name: <output value=\" ../first_name \"/>\u00A0<output value=\" ../last_name \"/>`
The result is that ${0} and ${1} have a nbsp between them.  So long as whatever consumes that honors that nbsp then that should work.

[2020-08-12 16:14] mauricioguell-sagaci opened #592 "Survey user properties spoiled in a few cases"
#### Software versions
`implementation('org.opendatakit:opendatakit-javarosa:2.17.2')`
Android

#### Problem description
In a really small percentage of the cases (around once in 5000), when the user sends the survey it arrives with the user properties spoiled and we have to manually fix them.
Things like this: <simserial /><subscr46ccfd1726c378</deviceid>
When it should be something like this: <s

[2020-08-12 21:17] macdude357 commented on #575
I'm new to how all this works but in looking at the code, tests and docs, it seems that the line `<label ref="label" />` refers to the text label defined in the instance "dogcats" and not the translation in the itext block.  There is an example of this in the unit tests that uses ` <label ref="jr:itext('/data/image:label')"/>` to reference an image in an `<itext>` block.

[2020-08-14 21:44] lognaturel commented on #592
As I think you've already surmised, this has to do with the `PropertyManager`, not with JavaRosa. And in all likelihood it has to do with the operating system interaction, not with your implementation. Unfortunately I don't think there's anything you can do about it.

[2020-08-14 22:23] lognaturel commented on #575
@macdude357 you're absolutely correct. That makes it a `pyxform` issue, then. I've filed it at https://github.com/XLSForm/pyxform/issues/464.

[2020-08-14 22:23] #575 closed

[2020-08-15 16:31] Kalyan-Lama opened #593 "Restricting fake location application while collecting gps points with Collect android app"
#### Software versions
`ODK Collect v1.27.3` also `KoBoCollect v1.27.3`

#### Problem description

Enumerators are able to use fake location application while collecting gps points with `Collect android app`.

#### Steps to reproduce the problem

* Enable the fake location app.
* Collect gps data in `Collect android app`.
* You are able to collect fake gps location.

#### Expected behavior

While

[2020-08-15 22:02] #593 closed

[2020-08-15 22:03] lognaturel commented on #593
Not related to JavaRosa. Feature thread at https://forum.getodk.org/t/restricting-fake-location-application-while-collecting-gps-points-with-collect-android-app/29231

[2020-08-15 22:03] #592 closed

[2020-09-16 20:48] macdude357 commented on #558
I looked into this.  The existing logic follows the XPath conversion rules which state that if the length of the String is > 0, then then True is returned, otherwise False is returned.  Unfortunately, this is different from the rules that Java uses.  So, it appears that javarosa is behaving properly according to the XPath spec.

[2020-09-16 20:50] lognaturel commented on #558
Thanks so much for all the triage, tests and fixes, @macdude357! 🥇

I think I've already mentioned this to you but consider hopping into [Slack](http://slack.getodk.org/) if you ever want to discuss anything you're doing synchronously.

[2020-09-16 20:50] #558 closed

[2020-09-17 16:15] lognaturel opened #599 "Repeat relevance should affect repeat prompt"
#### Software versions
JavaRosa v3.0.0

#### Problem description
https://github.com/getodk/javarosa/pull/581 simplified the logic for repeat instance relevance. However, it didn't account for new repeat addition prompts which aren't concrete repeat instances.

#### Steps to reproduce the problem
See getodk/collect#4090.

#### Expected behavior
If the relevance expression for a repeat template eval

[2020-09-17 16:15] #599 closed

[2020-09-17 19:20] lognaturel opened #601 "DAG order in v3 doesn't match v2 order in some cases"
#### Software versions
JavaRosa v3.0.1

#### Problem description
The form [here](https://docs.google.com/spreadsheets/d/19eWrOnDucWrIh1UrskG1e_noWLJrrE6QF-9-XQqTf7A/edit#gid=0) leads to a different DAG order between v2 and v3.

v3 order: (I think the nulls are because of where I set my breakpoint and that the targets are enough to let us see what's going on)
[code]

v2 order:
[code]

The two versi

[2020-09-17 21:48] lognaturel opened #602 "Literal strings for value attribute of the setvalue action don't work"
#### Software versions
JavaRosa v3 and most likely all prior

#### Problem description

#### Steps to reproduce the problem
Add a `setvalue` action such as
`<setvalue event="odk-instance-first-load" ref="/data/my-node" value="a literal string"/>`

This can be done by creating an XLSForm with a value in the `default` column that has hyphens in it (e.g. `my-value`). `pyxform` will treat this as a dy

[2020-09-17 22:53] lognaturel commented on #601
The reduced form [here](https://docs.google.com/spreadsheets/d/19eWrOnDucWrIh1UrskG1e_noWLJrrE6QF-9-XQqTf7A/edit#gid=0) leads to a different DAG order.

v3 order: (I think the nulls are because of where I set my breakpoint. I think the targets are enough to let us see what's going on)
[code]

v2 order:
[code]

The two versions give the same behavior so I'm not sure whether the DAG order is the sou

[2020-09-18 00:10] lognaturel opened #603 "DAG does not compute relevance for all repeats"
#### Software versions
JavaRosa v3.0.1

#### Problem description
The form posted as part of https://github.com/getodk/collect/issues/4090 still prompts for adding `egg_photos` and `light_source` repeats even when their relevance expressions should evaluate to `false`.

#### Steps to reproduce the problem
Run the form from https://github.com/getodk/collect/issues/4090, set a GPS coordinate, swipe f

[2020-09-18 04:28] lognaturel commented on #603
Looks like it has to do with a repeat and a group sharing the same relevance condition. [Minimal repro form](https://docs.google.com/spreadsheets/d/1UDItzYL5G87XOKRf3IdXSyrzkxw720ZjZELyudjYXC4/edit#gid=0).

[2020-09-18 05:52] lognaturel commented on #603
The issue has to do with how relevance expressions (and all expressions) are reduced to a single `Triggerable` with a `contextRef` that represents the highest common parents between the expression's targets. For example, if `/data/q0` and `/data/repeat` both have the same relevance expression, that will be represented by a single `Triggerable` with a `contextRef` of `/data/`.

This really helps ex

[2020-09-18 16:24] lognaturel commented on #603
I can get my test to pass by adding the `includeTemplates` flag for the `expandReference` call in `Triggerable.apply`. But the `ChildVaccination` smoketest fails.

I'm going to revert #581. I think we've learned a lot here but there's not a lot to gain by the simplification and we're taking on too much risk.

[2020-09-18 18:28] lognaturel commented on #601
I think this is OK and expected but would like to talk through it on more time.

On serialization, the `Triggerable`s are expected to be unordered. After deserialization, order is established. It's critical that dependent calculations be correctly ordered. But I don't see any reason why the nodes at the same level of the DAG need to have any particular order or why that order needs to be stable ev

[2020-09-23 18:36] lognaturel commented on #601
We don't have any reason to believe this is a problem so closing for now.

[2020-09-23 18:36] #601 closed

[2020-09-27 21:55] lognaturel opened #607 "Update WHO verbal autopsy smoke test to use latest version of form"
@aurdipas has let me know that https://github.com/SwissTPH/WHO_VA_2016/releases/tag/1.5.3 is now in use. There may be interesting changes to logic that would enhance our test. In general, I think it's useful to have a couple of forms that are known to be in active production.

[2020-09-30 00:08] lognaturel opened #608 "Add test coverage for "Invalid reference while copying itemset answer: Destination already exists!""
#### Software versions
JavaRosa v3.0.2, Collect v1.28.1

#### Problem description
We have tracked a few instances of a crash in Collect with `Invalid reference while copying itemset answer: Destination already exists!` We don't know when this might occur.
https://github.com/getodk/javarosa/blob/a42a809c0d1e1f3866967ddcaebef92afbaae735/src/main/java/org/javarosa/core/model/instance/FormInstance.jav

[2020-10-19 18:27] lognaturel commented on #142
&& child.getMult() > childMult) {
			child.setMult(child.getMult() - 1);
		}

This exists on `master` and we haven't heard of issues on repeat deletion.

[2020-10-19 18:27] #142 closed

[2020-10-20 18:18] macdude357 commented on #557
I was able to reproduce this behavior, however, from what I can tell, it's working according to the docs.  The docs for "once" state that: Returns the value expression if the question's value is empty. Otherwise, returns the current value of the question.
retr
I think the key here is that once() returns the current value of the question and not the value of the expression passed to once().  While

[2020-10-20 19:38] macdude357 commented on #602
According to the XForms docs "setvalue" section: https://www.w3.org/TR/xforms/#action-setvalue

In order to set a literal value, you must use <setvalue>literal string</setvalue>.  Otherwise value is treated as an expression.  I was able to get it to work using <setvalue value="&quot;literal string&quot;"/> as well.

[2020-10-20 20:32] lognaturel commented on #602
Thanks for looking at this! When I read "specifying a computed value via attribute value", I'm imagining that a literal is just a very simple expression so would also be allowed there. I'm not entirely sure whether that's the case but that'd be my interpretation. `pyxform` does currently generate forms with actions such as `<setvalue event="odk-instance-first-load" ref="/data/my-node" value="a-lit

[2020-10-20 20:48] macdude357 commented on #602
I think the issue is that there is no way for the user to hint on how to evaluate the "value" expression.  Without some other way, the code doesn't know to treat "value" as an XPath expression or a literal value.  So, if "value" happens to be a valid XPath value but the user really meant it as a literal value, there is no way to tell how to treat it unless we do something like evaluate as XPath fi

[2020-10-20 20:51] lognaturel commented on #602
I think I'm getting confused between languages. So just a literal is not an XPath expression then? As you say, that may make what I'm suggesting impossible/nonsense.

[2020-10-20 21:23] lognaturel commented on #602
I'm losing my mind. `value="a-literal-string"` means the child node with name `a-literal-string`. So we have to come up with a way to address this on the `pyxform` end of things. Thank you, @macdude357!

[2020-10-20 21:23] #602 closed

[2020-10-21 19:52] lognaturel opened #611 "On repeat creation, some calculates are computed before all of the calculates they reference"
#### Software versions
JavaRosa v3

#### Problem description
Expressions in repeats that reference a calculate which is triggered by repeat addition AND some other calculate do not get computed correctly on repeat addition. This is because the whole cascade based on repeat addition is computed initially but some of the dependencies may not already have been triggered.

#### Steps to reproduce the

[2020-10-22 15:42] #611 closed

[2020-12-16 06:47] lognaturel opened #616 "Support quotes, escaped commas, and other CSV formatting in external CSV files"
#### Software versions
All

#### Problem description
CSVs are split on commas with no accounting for standard CSV formatting.

#### Steps to reproduce the problem
[select-one-file.zip](https://github.com/getodk/javarosa/files/5700809/select-one-file.zip)

#### Expected behavior
Standard CSV formatting is handled.

[2021-01-08 21:59] lognaturel commented on #424
@ggalmazor and I had discussed a long time ago and were not yet ready to take any action. But yes, the fundamental issue is that `randomize` only has special support in `itemset` `nodeset` declarations.

Looking at the original issue again, though, `randomize(instance('countries'))/root/item[position() = 1]` doesn't look right. I would expect that to always return the same, first item from the `co

[2021-01-13 17:33] lognaturel opened #617 "Some problems during form completion result in exceptions during form filling or on form refilling but not on form validation"
#### Software versions
All versions

#### Problem description
A calculation such as `decimal-date-time(concat( /data/year ,"-01-01"))` can result in an exception if `/date/year` is left blank or otherwise invalid. However, that exception doesn't occur on finalization so a form can be submitted with a bad value.

This is really a form design issue and `/data/year` should have a constraint on it. Ho

[2021-01-15 20:05] lognaturel commented on #282
It's actually the original display that doesn't make sense. `/Test/start` has a type of `dateTime` so it should be displayed with the time. A JR test should help clarify whether this is a JR or Collect problem.

[2021-01-15 21:10] lognaturel opened #618 "Expressions that use an end preloaded timestamp don't get a value"
#### Software versions
All versions

#### Problem description
An `end` preloaded timestamp is computed at the very end of form filling session. Calculations that depend on it are not triggered.

Users may want to do something like compute total time spent in form using end - start: https://forum.getodk.org/t/unexpected-behaviour-of-the-now-function/17302

#### Steps to reproduce the problem
[code]

[2021-01-16 12:09] adrianocunha3000 commented on #531
I think one new function with the correct behavior (requiring "^$" for full match) should be added and another new function with the current behavior should also be offered as an alternative (with warnings that it will be deprecated) and the current bugged regex() function [and the regex name] should be deprecated (transition period and all),
* You have to pay the piper - the sooner the better...

[2021-03-15 19:31] dcbriccetti opened #623 "TreeReference toString renders 1-based multiplicities by default"
#### Problem description
TreeReference toString renders 1-based multiplicities by default. This is confusing, especially
in the debugger when looking at something like the following:

<img width="985" alt="image" src="https://user-images.githubusercontent.com/55099/111209941-e097f180-8589-11eb-851c-97f63a8d73f8.png">

Is it safe to change the default?

If not, we could do something like this to ch

[2021-03-24 05:13] lognaturel commented on #623
I don't understand the implications of changing the default. I know at some point there was Collect code that used the `toString` and expected 1-based indexing but I'm not sure whether that's the case anymore.

I like the Scenario-only fix for now, thanks for suggesting it.

[2021-03-30 03:15] dcbriccetti commented on #616
<img width="1136" alt="image" src="https://user-images.githubusercontent.com/55099/112928387-6445f800-90cb-11eb-9994-cb7c5bcb3023.png">

Hi. Does this cover the cases?

[2021-03-30 23:46] dcbriccetti commented on #616
Shall we follow this spec?
https://tools.ietf.org/html/rfc4180
It doesn’t mention “escaped commas”. I’m assuming you mean commas appearing in a field that is delimited by double quotes.

[2021-03-30 23:49] lognaturel commented on #616
Yes, definitely that spec, sorry I didn't link to it! https://github.com/getodk/collect/pull/4472/files#diff-b1032cb8006c5ceebbece74c16567d3e3dbb5b53c01fa61ac35ba416ccd6def6 are tests I wrote for behavior *writing* a CSV recently. I would expect your tests to be symmetric to those (and it's a good opportunity to make sure my cases match the spec).

[2021-03-30 23:54] lognaturel commented on #616
Yes, exactly.

[2021-04-01 05:01] lognaturel opened #627 "Setvalue action triggered by value change outside of repeat does not update values in repeat"
From user: https://forum.getodk.org/t/how-can-i-adjust-follow-up-repeats-when-answer-from-select-multiple-changes/33021

It's not clear to me how broadly useful this pattern is. There turn out to be other problems with the concept the user was exploring. Still, we should at least look into whether or not it's straightforward to support.

[2021-04-05 21:36] dcbriccetti commented on #616
Any reason not to use, say, Apache Commons CSV, for this, rather than writing our own parser? At around 50KB, the jar is pretty small. Version 1.6 will run under Java 1.7.

[2021-04-05 21:38] lognaturel commented on #616
I can't really think of one as long as binary size and performance are similar to native. Might be worth seeing whether we discussed it previously? If it means having an extra large structure in memory that might not be reasonable, for example.

[2021-04-05 21:42] lognaturel commented on #616
https://github.com/getodk/javarosa/pull/397 and https://github.com/getodk/javarosa/issues/417 + https://github.com/getodk/javarosa/pull/452 make for some good, light reading with some things to look out for. 😊

[2021-04-05 22:53] dcbriccetti commented on #616
I quickly looked over those three items and don’t see problems with swapping out our trivial CSV parsing code (essential a split on “,”) with something complete and correct. All the existing, and the new tests pass when using Commons CSV.

[2021-04-20 19:17] kkrawczyk123 opened #630 "Count of repeats is not updated when remove group"
#### Software and hardware versions
Collect v1.29.x, Android vx.x.x, device used...

#### Problem description
When testing I have noticed issue that when I remove group, calculation in form depending on group count is not updated.
Form that I have used:
[count-non-empty.xml.txt](https://github.com/getodk/collect/files/6342569/count-non-empty.xml.txt)

gif of issue:
![ezgif com-video-to-gif (55)](h

[2021-04-21 09:05] kkrawczyk123 commented on #630
@lognaturel, I am able to reproduce this issue on 1.27. I have also tried on 1.25 where I am unable to open form, error message displays.

[2021-04-21 16:23] lognaturel commented on #630
Thanks, @kkrawczyk123! Great to know it wasn't a regression. Let's definitely add a test and I've also added an idea to explore.

[2021-05-19 03:58] lognaturel opened #633 "Required value can be left blank on finalization if cleared by calculate"
#### Software versions
all

#### Problem description
Users sometimes put a `calculate` on a visible field in an attempt to have a dynamic default. That `calculate` is evaluated on form finalization, replacing any user-provided value. If the `calculate` evaluates to blank, the form successfully finalizes even if the field is required.

#### Steps to reproduce the problem
See https://github.com/geto

[2021-05-21 04:38] lognaturel opened #634 "Relevance of repeat instances is evaluated in unexpected way"
#### Software versions
JavaRosa v3.1.0

#### Problem description
Relevance of repeat instances is evaluated in unexpected way

#### Steps to reproduce the problem
Start with [this form](https://docs.google.com/spreadsheets/d/1gs1vBCotSUsZ7A3YJdtfs-KOrCcbhyFUOWMPO-lm4p0/edit#gid=0). Instead of the nested `veg` group, put the relevance condition on the repeat itself. If you try to select any choice

[2021-05-22 00:37] lognaturel commented on #634
It's like the repeat instances have to be explicitly traversed to be created before their relevance is evaluated or something. Consider [this variation](https://docs.google.com/spreadsheets/d/1iTS6VvhAqpEj8_vFWE5b4tpRsIc-4YiGeOdexQ22rsY) which adds a `count-selected(${tf_local_veg}) = 0` case to the relevance condition. In Collect, if you go to the hierarchy view and see the repeat there, then the

[2021-06-25 15:58] #444 closed

[2021-06-26 19:25] AdrianAcostaPR commented on #376
Thank you so much for this! It helped me out.

[2021-06-28 06:58] grzesiek2010 opened #636 "Wrongly calculated value in first repeat group when used with once function"
#### Problem description
The problem has been discovered on the forum: https://forum.getodk.org/t/default-value-to-repeat-from-outside-repeat/33997/

#### Steps to reproduce the problem
1. Open the attached form:
[Default to Repeat.xlsx](https://github.com/getodk/javarosa/files/6724038/Default.to.Repeat.xlsx)
2. Answer `Current Job` question
3. Navigate to the next question which should display th

[2021-06-28 13:20] lognaturel commented on #636
We’re you able to reproduce without a field list? Did you try using dynamic defaults (set value) instead of once?

At first reading it doesn’t look like a JR problem. I believe it’s because it’s hitting the field-list recomputation triggered by Collect. I would expect the TextWatcher stuff to only apply to user-provided content so I’m not sure how but that’s the direction I would look in.

[2021-06-28 20:52] lognaturel commented on #627
A possibly useful case: https://forum.getodk.org/t/default-value-to-repeat-from-outside-repeat/33997

[2021-06-28 21:09] lognaturel commented on #636
This is working as expected because the value that is wrapped in `once` is in a field-list. That means it is committed to the form character-by-character.

[2021-06-28 21:09] #636 closed

[2021-06-30 04:56] yanokwa opened #637 "Validation of dateTime widget against now() fails"
#### Software and hardware versions
Collect v2012.2

#### Problem description
A constraint of `. <= now()` on a dateTime widget doesn't constrain when I enter today's date plus an hour later than now. Putting a day later than now works. It would seems only the date is being checked.

In my debugging, when I output the dateTime value in a note, it only shows the date. Using the jump button shows me

[2021-06-30 16:32] lognaturel commented on #637
For now I'd consider comparing the date and time separately using [date/time functions](https://getodk.github.io/xforms-spec/#fn:Date-and-Time-Functions). You'd need to experiment to figure out the best way to do this -- there's a lot of weirdness in the date/time world.

[2021-06-30 20:57] lognaturel commented on #637
`decimal-date-time(.) <= decimal-date-time(now())` does work. I think this is related to the broader theme of "type coercion for date/time/datetime is buggy and/or unexpected". At some point we probably need to review the spec and see what kind of coercion is supposed to happen in an expression like `. <= now()`.

[2021-07-08 18:38] lognaturel commented on #616
This probably should be a separate issue but capturing it here for now in case the Apache commons lib @dcbriccetti is using solves the problem -- Excel exports with semicolons instead of commas by default with certain locales. Very annoying but would be ideal to support semicolon delimiters as well.

[2021-07-27 21:59] joshuaberetta commented on #616
Hi @dcbriccetti, here's an additional case to be aware of:
Community issue: https://community.kobotoolbox.org/t/select-options-missing-in-select-one-from-file/20846
Discussion: https://getodk.slack.com/archives/C35ENHA64/p1627420759224700

[2021-07-29 15:11] lognaturel opened #640 "Declare exceptions for select issues"
https://console.firebase.google.com/u/0/project/api-project-322300403941/crashlytics/app/android:org.odk.collect.android/issues/d31d1c268cdbe4b661aa40cced4ca763?time=last-seven-days&versions=v2021.2.0%20(4242)&sessionEventKey=6102970B005C0001729CE3556DCB8673_1568761342750059710

Probably throw an IllegalStateException preemptively
https://console.firebase.google.com/u/0/project/api-project-3223004

[2021-09-02 07:57] mauricioguell-sagaci opened #641 "FormController getFilledInFormXml returning null"
#### Software versions
JavaRosa 2.17.2, problem reproduced with Redmi 4A, Android 7.1.2, 2GB of RAM, low space in the disk.

#### Problem description
FormController getFilledInFormXml starts returning null if a few devices when the survey is very long.

One of the surveys of my app is really long, it can take an hour or even more, and you have to take pictures. Suddenly, some of the users are losi

[2021-09-02 09:53] grzesiek2010 opened #642 "Attempt to invoke virtual method ‘java.lang.String.org.javarosa.core.model.SelectChoice.getTextID()’ on a null object reference"
#### Software versions
JavaRosa v3.2.0

#### Problem description
The issue was originally reported on the forum:
https://forum.getodk.org/t/error-in-odk-collect-attempt-to-invoke-virtual-method-java-lang-string-org-javarosa-core-model-selectchoice-gettextid-on-a-null-object-reference/34916

#### Steps to reproduce the problem
1. Open the attached form:
[dynamiChoices.xlsx](https://github.com/getod

[2021-09-17 20:09] #616 closed

[2021-11-01 16:25] yanokwa opened #650 "Use Github actions to do the release"

[2021-11-02 14:58] MartijnR opened #651 "type='date' calculation does not convert number to date"
#### Software versions
Collect 2021.2.4

#### Problem description
This form causes an _"No partial converter found for type: java.lang.integer"_ exception after filling in a date and continuing to the next page ([XLSForm here](https://docs.google.com/spreadsheets/d/1YZ5PRKmAvp8k-lDK00SwGt8E547UG-Alasmwy0lIUoY/edit?usp=sharing))

[date-calcs-javarosa-bug.xml.txt](https://github.com/getodk/javarosa/

[2021-11-02 15:39] neal0892 commented on #651
Trying to reproduce

[2021-11-02 20:21] lognaturel commented on #651
You’ve been on some fun 🗓 adventures 🕰, @MartijnR! This is absolutely the right place to file. Looks like an underlying type coercion issue to me.

@neal0892 an ignored test to formally document the limitation would be most welcome. My hunch is that the fix will not be a good candidate for a first PR.

[2021-11-03 06:43] neal0892 commented on #651
@lognaturel that makes sense to me ...thanks

[2021-11-22 09:00] dimwight commented on #651
You could just insert the `date()` function:
[code]
Updated Excel master [date-calcs-javarosa-bug_.xlsx](https://github.com/getodk/javarosa/files/7579485/date-calcs-javarosa-bug_.xlsx)

[2021-11-22 18:42] lognaturel commented on #651
That's very interesting, @dimwight. The type is supposed to be inferred based on the field type. It's extremely odd that forcing the type outside of the expression makes a difference and maybe that's a hint as to where the problem is. I would expect `/data/d + date(1)` to work but wouldn't be surprised if it didn't either. My guess is that this is a significant rabbit hole.

[2021-12-05 13:05] dimwight commented on #651
I've been exploring further how JR handles dates, partly stimulated by the work that resulted in #652. Without even delving into the code it looks like some sense can be made of the underlying logic.

It's easier to look in the hierarchy view to see what's going on. So in the form defined by _date-calcs-651.xlsx_ you can see clearly which calculations evaluate to numbers and which to dates.
- _cal

[2022-01-25 16:24] lognaturel opened #654 "install-local-version is platform-dependent"
#### Software versions
JavaRosa v3.3.0

#### Problem description
The `install-local-version` script attempts to install to a local mvn repository. However, its version-replacement command doesn't work consistently across platforms.

`sed -i '' '0,/<dependencies>/s/<version>.*<\/version>/<version>local<\/version>/' pom-local.xml`

What it tries to do is `s/<version>.*<\/version>/<version>local<\/ve

[2022-01-31 13:09] seadowg commented on #654
It's so annoying that there's no way (that I've found anyway) to override the version in the `pom.xml` when doing an `mvn install`.

It would be nice to have this for iterating, personally I found it really useful when it worked. Is there a simpler tool we could use to replace the version? It seems earth shatteringly simple, but I guess it might not work without a proper scripting language - poten

[2022-01-31 16:46] lognaturel commented on #654
Yeah, a gradle task seems promising. But honestly changing the versions to local and not committing that has worked fine for me. Not sure it would really save time to automate at this point.

[2022-02-02 13:03] seadowg commented on #654
I guess it's "automation as documentation" over "automation to optimize time taken" for me here. I'd be interested to have a stab at the Gradle task at some point so happy to take that on!

[2022-03-23 19:23] lognaturel opened #661 "When a select's value is removed because it's no longer available, recalculation is not triggered"
#### Software versions
JavaRosa v3.3.0 and prior

#### Problem description
`ItemsetBinding.getChoices()` may mutate a select's answer if the previously-selected choice is no longer available:

https://github.com/getodk/javarosa/blob/c7a85c07fb6d5684a4bdcc6d989326f5b162339a/src/main/java/org/javarosa/core/model/ItemsetBinding.java#L83

This does not trigger recomputation of dependent values or fire

[2022-04-04 21:19] yanokwa opened #665 "Whitespaces in CSV headers result in node for itemset doesn't exist error"
If you have a `select_one_from_file data.csv` question in a form and attached `data.csv` has a `name` header with a trailing space, Collect will fail (and Enketo will succeed).

Good: `list_name,name,label`
Bad: `list_name,name ,label

<img width="214" alt="Screen Shot 2022-04-04 at 14 17 04" src="https://user-images.githubusercontent.com/32369/161633654-d96908ed-3f14-4f27-89b9-5bc08166c885.png">

[2022-04-06 22:24] lognaturel opened #666 "Support integer id from geojson files"
From [the geojson spec](https://datatracker.ietf.org/doc/html/rfc7946):

Can we make `GeojsonFeature`'s `id` field have type `Object`?

[2022-04-07 20:37] lognaturel commented on #666
I filed this in response to a note from @rsavoye but I can't reproduce any problem with integer ids! Closing for now and also adding some tests at https://github.com/getodk/javarosa/pull/667

[2022-04-07 20:37] #666 closed

[2022-04-11 22:11] lognaturel opened #668 "xforms-value-changed events fired before dependent calculations are recomputed"
Currently `xforms-value-changed` events are fired before dependent calculations are recomputed. This means that if you have `fieldA` which is user-entered, then `calcA` which produces a value based on `fieldA`, it's not possible to have a `setvalue` action triggered by `fieldA` which uses `calcA`: `calcA` will not be updated yet.

For a practical example, see [this form](https://docs.google.com/sp

[2022-04-11 22:19] lognaturel opened #670 "Field in group can't trigger an action outside that group"
#### Software versions
all

#### Problem description
Field in group can't trigger an action outside that group

https://forum.getodk.org/t/triggers-not-working-on-groups-on-odk-collect/34460/6

#### Steps to reproduce the problem
[code]
#### Expected behavior
Both tests should pass (the first currently fails).

[2022-04-13 21:56] lognaturel opened #673 "Fix publish action"
The publish action always fails. Looks like the failure is:

[code]

[2022-04-14 20:34] #673 closed

[2022-04-28 16:47] lognaturel opened #680 "Time component of dateTime not included when displayed"
This seems like a duplicate of https://github.com/getodk/javarosa/issues/226 or at least related.

type | name | label
-- | -- | --
datetime | start_datetime | Start datetime
note | note | start_datetime=${start_datetime}

Only the date component is shown. Collect v2022.2

[2022-05-06 08:54] #668 closed

[2022-05-10 21:40] lognaturel opened #684 "Add test documenting that recalculation does not happen when field becomes relevant"
Deviation from Enketo discovered by @eyelidnessness: https://github.com/enketo/enketo-core/blob/e6c24bd9ed216115a84b4e5c1b9944055540a083/test/spec/calculate.spec.js#L391

Not likely a big deal.

[2022-06-27 03:32] lognaturel opened #686 "Values referenced from jr:repeat-count should be coerced to int"
[From the forum](https://forum.getodk.org/t/odk-geoshape-geotrace-geopoint-to-wkt/21062/25?u=ln).

[2022-07-05 16:03] lognaturel opened #687 "First column not correctly identified when external file has UTF-8 BOM"
Some spreadsheet programs (apparently especially from Microsoft) add a [BOM](https://en.wikipedia.org/wiki/Byte_order_mark#UTF-8) to CSV exports. This is presumably so that double clicking on those CSVs will open Excel and parse as UTF-8 (see [tip at bottom of this docs section](https://docs.getodk.org/central-submissions#downloading-submissions-as-csvs)).

Currently, JR includes the BOM as part o

[2022-07-06 16:12] #687 closed

[2022-07-15 16:25] #670 closed

[2022-07-22 19:09] #650 closed

[2022-07-22 19:16] #170 closed

[2022-07-22 19:22] #355 closed

[2022-07-22 19:23] #90 closed

[2022-07-22 19:23] #112 closed

[2022-07-22 19:33] lognaturel opened #689 "Improve performance of repeated XPath queries over secondary instances"
Given a form that has a secondary instance
  And multiple XPath queries against that secondary instance with a common subexpression
  Then queries after the first should be faster than the first

[select-from-file-50k.xlsx](https://github.com/getodk/javarosa/files/9170230/select-from-file-50k.xlsx) with external secondary instance [external.csv](https://github.com/getodk/javarosa/files/9170188/ext

[2022-08-23 19:59] danbjoseph commented on #405
This seems to related to solving the issue raised in [this thread](https://forum.getodk.org/t/dates-pulled-from-external-data-file-cant-be-converted-to-a-date/38753).

I have simplified a form showing the issue using the example of collecting an employee identifier, using it to pull the date of hire from an external file, and then calculating the days since hire. [type_mismatch.xlsx](https://githu

[2022-10-13 13:06] seadowg opened #695 "`bind` calculates do not work for nodesets with prefixed nodes for cached `FormDef`"
#### Software versions
JavaRosa v4.0.0-SNAPSHOT

#### Problem description

Form entry when using a "cached" (serialized then deserialized) `FormDef` won't result in calculates being populated if their target nodeset contains a node with a prefix (like `/data/namespace:field`).

#### Steps to reproduce the problem

Using the below form...

[code]

1. Parse the form with `XFormParser`
2. Serialize a

[2022-10-21 13:04] seadowg commented on #695
We need to more things before looking at a fix:

* Are we addressing namespaced nodes correctly in my example?
* A test that proves this is a problem in JavaRosa (and not a Collect issue)

[2022-10-24 20:50] lognaturel commented on #695
It looked a bit strange to me but I think it's just because `example` is a long prefix.

I can't quickly find a part of the spec that explains namespaces in queries but https://www.ibm.com/support/pages/how-use-xpath-namespaces-rit shows related examples.

[2022-11-01 10:35] seadowg commented on #695
These docs seem to suggest to me that our current thinking is incorrect and that XPath does not support paths with namespaces:

[2022-11-01 14:26] seadowg commented on #695
It looks like the article linked by @lognaturel is misleading. This article shows an example of XPath queries with prefixes: https://learn.microsoft.com/en-us/dotnet/standard/data/xml/xpath-queries-and-namespaces.

[2022-11-16 19:00] lognaturel opened #700 "Error message for nodeset returned when single node expected is generally unhelpful"
When a nodeset is returned but a single node is expected, the error message says "This field is repeated:" and "You may need to use the indexed-repeat() function to specify which value you want".

The most common case I see this error in is when a choice filter returns multiple items. Another common case is trying to access a field in a repeat from outside the repeat. The intent is often to use so